<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.typemytype.robofont.compileSettings.autohint</key>
	<true/>
	<key>com.typemytype.robofont.compileSettings.checkOutlines</key>
	<true/>
	<key>com.typemytype.robofont.compileSettings.decompose</key>
	<true/>
	<key>com.typemytype.robofont.compileSettings.generateFormat</key>
	<integer>0</integer>
	<key>com.typemytype.robofont.compileSettings.releaseMode</key>
	<false/>
	<key>com.typemytype.robofont.italicSlantOffset</key>
	<integer>0</integer>
	<key>com.typemytype.robofont.layerOrder</key>
	<array>
	</array>
	<key>com.typemytype.robofont.segmentType</key>
	<string>curve</string>
	<key>com.typemytype.robofont.shouldAddPointsInSplineConversion</key>
	<false/>
	<key>com.typemytype.robofont.sort</key>
	<array>
		<dict>
			<key>ascending</key>
			<array>
				<string>.notdef</string>
				<string>.null</string>
				<string>CR</string>
				<string>space</string>
				<string>exclam</string>
				<string>quotedbl</string>
				<string>numbersign</string>
				<string>dollar</string>
				<string>percent</string>
				<string>ampersand</string>
				<string>quotesingle</string>
				<string>parenleft</string>
				<string>parenright</string>
				<string>asterisk</string>
				<string>plus</string>
				<string>comma</string>
				<string>hyphen</string>
				<string>period</string>
				<string>slash</string>
				<string>zero</string>
				<string>one</string>
				<string>two</string>
				<string>three</string>
				<string>four</string>
				<string>five</string>
				<string>six</string>
				<string>seven</string>
				<string>eight</string>
				<string>nine</string>
				<string>colon</string>
				<string>semicolon</string>
				<string>less</string>
				<string>equal</string>
				<string>greater</string>
				<string>question</string>
				<string>at</string>
				<string>A</string>
				<string>B</string>
				<string>C</string>
				<string>D</string>
				<string>E</string>
				<string>F</string>
				<string>G</string>
				<string>H</string>
				<string>I</string>
				<string>J</string>
				<string>K</string>
				<string>L</string>
				<string>M</string>
				<string>N</string>
				<string>O</string>
				<string>P</string>
				<string>Q</string>
				<string>R</string>
				<string>S</string>
				<string>T</string>
				<string>U</string>
				<string>V</string>
				<string>W</string>
				<string>X</string>
				<string>Y</string>
				<string>Z</string>
				<string>bracketleft</string>
				<string>backslash</string>
				<string>bracketright</string>
				<string>asciicircum</string>
				<string>underscore</string>
				<string>grave</string>
				<string>a</string>
				<string>b</string>
				<string>c</string>
				<string>d</string>
				<string>e</string>
				<string>f</string>
				<string>g</string>
				<string>h</string>
				<string>i</string>
				<string>j</string>
				<string>k</string>
				<string>l</string>
				<string>m</string>
				<string>n</string>
				<string>o</string>
				<string>p</string>
				<string>q</string>
				<string>r</string>
				<string>s</string>
				<string>t</string>
				<string>u</string>
				<string>v</string>
				<string>w</string>
				<string>x</string>
				<string>y</string>
				<string>z</string>
				<string>braceleft</string>
				<string>bar</string>
				<string>braceright</string>
				<string>asciitilde</string>
				<string>uni00A0</string>
				<string>exclamdown</string>
				<string>cent</string>
				<string>sterling</string>
				<string>currency</string>
				<string>yen</string>
				<string>brokenbar</string>
				<string>section</string>
				<string>dieresis</string>
				<string>copyright</string>
				<string>ordfeminine</string>
				<string>guillemotleft</string>
				<string>logicalnot</string>
				<string>uni00AD</string>
				<string>registered</string>
				<string>macron</string>
				<string>degree</string>
				<string>plusminus</string>
				<string>twosuperior</string>
				<string>threesuperior</string>
				<string>acute</string>
				<string>mu</string>
				<string>paragraph</string>
				<string>periodcentered</string>
				<string>cedilla</string>
				<string>onesuperior</string>
				<string>ordmasculine</string>
				<string>guillemotright</string>
				<string>onequarter</string>
				<string>onehalf</string>
				<string>threequarters</string>
				<string>questiondown</string>
				<string>Agrave</string>
				<string>Aacute</string>
				<string>Acircumflex</string>
				<string>Atilde</string>
				<string>Adieresis</string>
				<string>Aring</string>
				<string>AE</string>
				<string>Ccedilla</string>
				<string>Egrave</string>
				<string>Eacute</string>
				<string>Ecircumflex</string>
				<string>Edieresis</string>
				<string>Igrave</string>
				<string>Iacute</string>
				<string>Icircumflex</string>
				<string>Idieresis</string>
				<string>Eth</string>
				<string>Ntilde</string>
				<string>Ograve</string>
				<string>Oacute</string>
				<string>Ocircumflex</string>
				<string>Otilde</string>
				<string>Odieresis</string>
				<string>multiply</string>
				<string>Oslash</string>
				<string>Ugrave</string>
				<string>Uacute</string>
				<string>Ucircumflex</string>
				<string>Udieresis</string>
				<string>Yacute</string>
				<string>Thorn</string>
				<string>germandbls</string>
				<string>agrave</string>
				<string>aacute</string>
				<string>acircumflex</string>
				<string>atilde</string>
				<string>adieresis</string>
				<string>aring</string>
				<string>ae</string>
				<string>ccedilla</string>
				<string>egrave</string>
				<string>eacute</string>
				<string>ecircumflex</string>
				<string>edieresis</string>
				<string>igrave</string>
				<string>iacute</string>
				<string>icircumflex</string>
				<string>idieresis</string>
				<string>eth</string>
				<string>ntilde</string>
				<string>ograve</string>
				<string>oacute</string>
				<string>ocircumflex</string>
				<string>otilde</string>
				<string>odieresis</string>
				<string>divide</string>
				<string>oslash</string>
				<string>ugrave</string>
				<string>uacute</string>
				<string>ucircumflex</string>
				<string>udieresis</string>
				<string>yacute</string>
				<string>thorn</string>
				<string>ydieresis</string>
				<string>Amacron</string>
				<string>amacron</string>
				<string>Abreve</string>
				<string>abreve</string>
				<string>Aogonek</string>
				<string>aogonek</string>
				<string>Cacute</string>
				<string>cacute</string>
				<string>Ccircumflex</string>
				<string>ccircumflex</string>
				<string>Cdotaccent</string>
				<string>cdotaccent</string>
				<string>Ccaron</string>
				<string>ccaron</string>
				<string>Dcaron</string>
				<string>dcaron</string>
				<string>Dcroat</string>
				<string>dcroat</string>
				<string>Emacron</string>
				<string>emacron</string>
				<string>Ebreve</string>
				<string>ebreve</string>
				<string>Edotaccent</string>
				<string>edotaccent</string>
				<string>Eogonek</string>
				<string>eogonek</string>
				<string>Ecaron</string>
				<string>ecaron</string>
				<string>Gcircumflex</string>
				<string>gcircumflex</string>
				<string>Gbreve</string>
				<string>gbreve</string>
				<string>Gdotaccent</string>
				<string>gdotaccent</string>
				<string>Gcommaaccent</string>
				<string>gcommaaccent</string>
				<string>Hcircumflex</string>
				<string>hcircumflex</string>
				<string>Hbar</string>
				<string>hbar</string>
				<string>Itilde</string>
				<string>itilde</string>
				<string>Imacron</string>
				<string>imacron</string>
				<string>Ibreve</string>
				<string>ibreve</string>
				<string>Iogonek</string>
				<string>iogonek</string>
				<string>Idotaccent</string>
				<string>dotlessi</string>
				<string>IJ</string>
				<string>ij</string>
				<string>Jcircumflex</string>
				<string>jcircumflex</string>
				<string>Kcommaaccent</string>
				<string>kcommaaccent</string>
				<string>kgreenlandic</string>
				<string>Lacute</string>
				<string>lacute</string>
				<string>Lcommaaccent</string>
				<string>lcommaaccent</string>
				<string>Lcaron</string>
				<string>lcaron</string>
				<string>Ldot</string>
				<string>ldot</string>
				<string>Lslash</string>
				<string>lslash</string>
				<string>Nacute</string>
				<string>nacute</string>
				<string>Ncommaaccent</string>
				<string>ncommaaccent</string>
				<string>Ncaron</string>
				<string>ncaron</string>
				<string>napostrophe</string>
				<string>Eng</string>
				<string>eng</string>
				<string>Omacron</string>
				<string>omacron</string>
				<string>Obreve</string>
				<string>obreve</string>
				<string>Ohungarumlaut</string>
				<string>ohungarumlaut</string>
				<string>OE</string>
				<string>oe</string>
				<string>Racute</string>
				<string>racute</string>
				<string>Rcommaaccent</string>
				<string>rcommaaccent</string>
				<string>Rcaron</string>
				<string>rcaron</string>
				<string>Sacute</string>
				<string>sacute</string>
				<string>Scircumflex</string>
				<string>scircumflex</string>
				<string>Scedilla</string>
				<string>scedilla</string>
				<string>Scaron</string>
				<string>scaron</string>
				<string>Tcommaaccent</string>
				<string>tcommaaccent</string>
				<string>Tcaron</string>
				<string>tcaron</string>
				<string>Tbar</string>
				<string>tbar</string>
				<string>Utilde</string>
				<string>utilde</string>
				<string>Umacron</string>
				<string>umacron</string>
				<string>Ubreve</string>
				<string>ubreve</string>
				<string>Uring</string>
				<string>uring</string>
				<string>Uhungarumlaut</string>
				<string>uhungarumlaut</string>
				<string>Uogonek</string>
				<string>uogonek</string>
				<string>Wcircumflex</string>
				<string>wcircumflex</string>
				<string>Ycircumflex</string>
				<string>ycircumflex</string>
				<string>Ydieresis</string>
				<string>Zacute</string>
				<string>zacute</string>
				<string>Zdotaccent</string>
				<string>zdotaccent</string>
				<string>Zcaron</string>
				<string>zcaron</string>
				<string>longs</string>
				<string>uni018F</string>
				<string>florin</string>
				<string>Aringacute</string>
				<string>aringacute</string>
				<string>AEacute</string>
				<string>aeacute</string>
				<string>Oslashacute</string>
				<string>oslashacute</string>
				<string>uni0218</string>
				<string>uni0219</string>
				<string>uni021A</string>
				<string>uni021B</string>
				<string>uni0237</string>
				<string>uni0259</string>
				<string>circumflex</string>
				<string>caron</string>
				<string>uni02C9</string>
				<string>breve</string>
				<string>dotaccent</string>
				<string>ring</string>
				<string>ogonek</string>
				<string>tilde</string>
				<string>hungarumlaut</string>
				<string>gravecomb</string>
				<string>acutecomb</string>
				<string>uni0302</string>
				<string>tildecomb</string>
				<string>uni0304</string>
				<string>uni0305</string>
				<string>uni0306</string>
				<string>uni0307</string>
				<string>uni0308</string>
				<string>uni0309</string>
				<string>uni030A</string>
				<string>uni030B</string>
				<string>uni030C</string>
				<string>uni0312</string>
				<string>uni0315</string>
				<string>uni0326</string>
				<string>uni0327</string>
				<string>uni0328</string>
				<string>uni0335</string>
				<string>uni0344</string>
				<string>tonos</string>
				<string>dieresistonos</string>
				<string>Alphatonos</string>
				<string>anoteleia</string>
				<string>Epsilontonos</string>
				<string>Etatonos</string>
				<string>Iotatonos</string>
				<string>Omicrontonos</string>
				<string>Upsilontonos</string>
				<string>Omegatonos</string>
				<string>iotadieresistonos</string>
				<string>Alpha</string>
				<string>Beta</string>
				<string>Gamma</string>
				<string>uni0394</string>
				<string>Epsilon</string>
				<string>Zeta</string>
				<string>Eta</string>
				<string>Theta</string>
				<string>Iota</string>
				<string>Kappa</string>
				<string>Lambda</string>
				<string>Mu</string>
				<string>Nu</string>
				<string>Xi</string>
				<string>Omicron</string>
				<string>Pi</string>
				<string>Rho</string>
				<string>Sigma</string>
				<string>Tau</string>
				<string>Upsilon</string>
				<string>Phi</string>
				<string>Chi</string>
				<string>Psi</string>
				<string>uni03A9</string>
				<string>Iotadieresis</string>
				<string>Upsilondieresis</string>
				<string>alphatonos</string>
				<string>epsilontonos</string>
				<string>etatonos</string>
				<string>iotatonos</string>
				<string>upsilondieresistonos</string>
				<string>alpha</string>
				<string>beta</string>
				<string>gamma</string>
				<string>delta</string>
				<string>epsilon</string>
				<string>zeta</string>
				<string>eta</string>
				<string>theta</string>
				<string>iota</string>
				<string>kappa</string>
				<string>lambda</string>
				<string>uni03BC</string>
				<string>nu</string>
				<string>xi</string>
				<string>omicron</string>
				<string>pi</string>
				<string>rho</string>
				<string>sigma1</string>
				<string>sigma</string>
				<string>tau</string>
				<string>upsilon</string>
				<string>phi</string>
				<string>chi</string>
				<string>psi</string>
				<string>omega</string>
				<string>iotadieresis</string>
				<string>upsilondieresis</string>
				<string>omicrontonos</string>
				<string>upsilontonos</string>
				<string>omegatonos</string>
				<string>Upsilon1</string>
				<string>phi1</string>
				<string>uni0400</string>
				<string>afii10023</string>
				<string>afii10051</string>
				<string>afii10052</string>
				<string>afii10053</string>
				<string>afii10054</string>
				<string>afii10055</string>
				<string>afii10056</string>
				<string>afii10057</string>
				<string>afii10058</string>
				<string>afii10059</string>
				<string>afii10060</string>
				<string>afii10061</string>
				<string>uni040D</string>
				<string>afii10062</string>
				<string>afii10145</string>
				<string>afii10017</string>
				<string>afii10018</string>
				<string>afii10019</string>
				<string>afii10020</string>
				<string>afii10021</string>
				<string>afii10022</string>
				<string>afii10024</string>
				<string>afii10025</string>
				<string>afii10026</string>
				<string>afii10027</string>
				<string>afii10028</string>
				<string>afii10029</string>
				<string>afii10030</string>
				<string>afii10031</string>
				<string>afii10032</string>
				<string>afii10033</string>
				<string>afii10034</string>
				<string>afii10035</string>
				<string>afii10036</string>
				<string>afii10037</string>
				<string>afii10038</string>
				<string>afii10039</string>
				<string>afii10040</string>
				<string>afii10041</string>
				<string>afii10042</string>
				<string>afii10043</string>
				<string>afii10044</string>
				<string>afii10045</string>
				<string>afii10046</string>
				<string>afii10047</string>
				<string>afii10048</string>
				<string>afii10049</string>
				<string>afii10065</string>
				<string>afii10066</string>
				<string>afii10067</string>
				<string>afii10068</string>
				<string>afii10069</string>
				<string>afii10070</string>
				<string>afii10072</string>
				<string>afii10073</string>
				<string>afii10074</string>
				<string>afii10075</string>
				<string>afii10076</string>
				<string>afii10077</string>
				<string>afii10078</string>
				<string>afii10079</string>
				<string>afii10080</string>
				<string>afii10081</string>
				<string>afii10082</string>
				<string>afii10083</string>
				<string>afii10084</string>
				<string>afii10085</string>
				<string>afii10086</string>
				<string>afii10087</string>
				<string>afii10088</string>
				<string>afii10089</string>
				<string>afii10090</string>
				<string>afii10091</string>
				<string>afii10092</string>
				<string>afii10093</string>
				<string>afii10094</string>
				<string>afii10095</string>
				<string>afii10096</string>
				<string>afii10097</string>
				<string>uni0450</string>
				<string>afii10071</string>
				<string>afii10099</string>
				<string>afii10100</string>
				<string>afii10101</string>
				<string>afii10102</string>
				<string>afii10103</string>
				<string>afii10104</string>
				<string>afii10105</string>
				<string>afii10106</string>
				<string>afii10107</string>
				<string>afii10108</string>
				<string>afii10109</string>
				<string>uni045D</string>
				<string>afii10110</string>
				<string>afii10193</string>
				<string>afii10050</string>
				<string>afii10098</string>
				<string>Wgrave</string>
				<string>wgrave</string>
				<string>Wacute</string>
				<string>wacute</string>
				<string>Wdieresis</string>
				<string>wdieresis</string>
				<string>uni1E9E</string>
				<string>Ygrave</string>
				<string>ygrave</string>
				<string>endash</string>
				<string>emdash</string>
				<string>afii00208</string>
				<string>underscoredbl</string>
				<string>quoteleft</string>
				<string>quoteright</string>
				<string>quotesinglbase</string>
				<string>quotereversed</string>
				<string>quotedblleft</string>
				<string>quotedblright</string>
				<string>quotedblbase</string>
				<string>uni201F</string>
				<string>dagger</string>
				<string>daggerdbl</string>
				<string>bullet</string>
				<string>ellipsis</string>
				<string>perthousand</string>
				<string>minute</string>
				<string>second</string>
				<string>guilsinglleft</string>
				<string>guilsinglright</string>
				<string>exclamdbl</string>
				<string>uni203E</string>
				<string>fraction</string>
				<string>uni2070</string>
				<string>uni2074</string>
				<string>uni2075</string>
				<string>uni2076</string>
				<string>uni2077</string>
				<string>uni2078</string>
				<string>uni2079</string>
				<string>nsuperior</string>
				<string>uni2080</string>
				<string>uni2081</string>
				<string>uni2082</string>
				<string>uni2083</string>
				<string>uni2084</string>
				<string>uni2085</string>
				<string>uni2086</string>
				<string>uni2087</string>
				<string>uni2088</string>
				<string>uni2089</string>
				<string>franc</string>
				<string>lira</string>
				<string>peseta</string>
				<string>Euro</string>
				<string>afii61248</string>
				<string>afii61289</string>
				<string>afii61352</string>
				<string>uni2117</string>
				<string>trademark</string>
				<string>Omega</string>
				<string>estimated</string>
				<string>uni2150</string>
				<string>uni2151</string>
				<string>onethird</string>
				<string>twothirds</string>
				<string>uni2155</string>
				<string>uni2156</string>
				<string>uni2157</string>
				<string>uni2158</string>
				<string>uni2159</string>
				<string>uni215A</string>
				<string>oneeighth</string>
				<string>threeeighths</string>
				<string>fiveeighths</string>
				<string>seveneighths</string>
				<string>uni215F</string>
				<string>uni2189</string>
				<string>arrowleft</string>
				<string>arrowup</string>
				<string>arrowright</string>
				<string>arrowdown</string>
				<string>arrowboth</string>
				<string>arrowupdn</string>
				<string>arrowupdnbse</string>
				<string>uni21E7</string>
				<string>uni21EA</string>
				<string>partialdiff</string>
				<string>Delta</string>
				<string>product</string>
				<string>summation</string>
				<string>minus</string>
				<string>uni2215</string>
				<string>uni2216</string>
				<string>uni2219</string>
				<string>radical</string>
				<string>infinity</string>
				<string>orthogonal</string>
				<string>angle</string>
				<string>logicaland</string>
				<string>logicalor</string>
				<string>intersection</string>
				<string>union</string>
				<string>integral</string>
				<string>approxequal</string>
				<string>uni2259</string>
				<string>notequal</string>
				<string>equivalence</string>
				<string>lessequal</string>
				<string>greaterequal</string>
				<string>propersubset</string>
				<string>propersuperset</string>
				<string>notsubset</string>
				<string>uni2285</string>
				<string>perpendicular</string>
				<string>dotmath</string>
				<string>house</string>
				<string>revlogicalnot</string>
				<string>uni2318</string>
				<string>integraltp</string>
				<string>integralbt</string>
				<string>uni2325</string>
				<string>uni232B</string>
				<string>SF100000</string>
				<string>SF110000</string>
				<string>SF010000</string>
				<string>SF030000</string>
				<string>SF020000</string>
				<string>SF040000</string>
				<string>SF080000</string>
				<string>SF090000</string>
				<string>SF060000</string>
				<string>SF070000</string>
				<string>SF050000</string>
				<string>SF430000</string>
				<string>SF240000</string>
				<string>SF510000</string>
				<string>SF520000</string>
				<string>SF390000</string>
				<string>SF220000</string>
				<string>SF210000</string>
				<string>SF250000</string>
				<string>SF500000</string>
				<string>SF490000</string>
				<string>SF380000</string>
				<string>SF280000</string>
				<string>SF270000</string>
				<string>SF260000</string>
				<string>SF360000</string>
				<string>SF370000</string>
				<string>SF420000</string>
				<string>SF190000</string>
				<string>SF200000</string>
				<string>SF230000</string>
				<string>SF470000</string>
				<string>SF480000</string>
				<string>SF410000</string>
				<string>SF450000</string>
				<string>SF460000</string>
				<string>SF400000</string>
				<string>SF540000</string>
				<string>SF530000</string>
				<string>SF440000</string>
				<string>uni256D</string>
				<string>uni256E</string>
				<string>uni256F</string>
				<string>uni2570</string>
				<string>uni2571</string>
				<string>uni2572</string>
				<string>uni2573</string>
				<string>upblock</string>
				<string>dnblock</string>
				<string>block</string>
				<string>lfblock</string>
				<string>rtblock</string>
				<string>ltshade</string>
				<string>shade</string>
				<string>dkshade</string>
				<string>filledbox</string>
				<string>H22073</string>
				<string>H18543</string>
				<string>H18551</string>
				<string>filledrect</string>
				<string>triagup</string>
				<string>triagrt</string>
				<string>triagdn</string>
				<string>triaglf</string>
				<string>lozenge</string>
				<string>circle</string>
				<string>H18533</string>
				<string>invbullet</string>
				<string>invcircle</string>
				<string>openbullet</string>
				<string>smileface</string>
				<string>invsmileface</string>
				<string>sun</string>
				<string>female</string>
				<string>male</string>
				<string>spade</string>
				<string>club</string>
				<string>heart</string>
				<string>diamond</string>
				<string>musicalnote</string>
				<string>musicalnotedbl</string>
				<string>uni2713</string>
				<string>fi</string>
				<string>fl</string>
				<string>orn001</string>
				<string>orn002</string>
				<string>zero.dnom</string>
				<string>one.dnom</string>
				<string>two.dnom</string>
				<string>three.dnom</string>
				<string>four.dnom</string>
				<string>five.dnom</string>
				<string>six.dnom</string>
				<string>seven.dnom</string>
				<string>eight.dnom</string>
				<string>nine.dnom</string>
				<string>zero.numr</string>
				<string>one.numr</string>
				<string>two.numr</string>
				<string>three.numr</string>
				<string>four.numr</string>
				<string>five.numr</string>
				<string>six.numr</string>
				<string>seven.numr</string>
				<string>eight.numr</string>
				<string>nine.numr</string>
				<string>zero.zero</string>
				<string>a.ss03</string>
				<string>adieresis.ss03</string>
				<string>A.prop</string>
				<string>I.prop</string>
				<string>T.prop</string>
				<string>f.prop</string>
				<string>i.prop</string>
				<string>i.ss01</string>
				<string>j.ss01</string>
				<string>l.prop</string>
				<string>l.ss01</string>
				<string>m.prop</string>
				<string>m.ss01</string>
				<string>r.prop</string>
				<string>r.ss01</string>
				<string>s.ss01</string>
				<string>t.ss01</string>
				<string>w.ss01</string>
				<string>twosuperior.ss01</string>
				<string>threesuperior.ss01</string>
				<string>onesuperior.ss01</string>
				<string>AE.prop</string>
				<string>uni2070.ss01</string>
				<string>uni2074.ss01</string>
				<string>uni2075.ss01</string>
				<string>uni2076.ss01</string>
				<string>uni2077.ss01</string>
				<string>uni2078.ss01</string>
				<string>uni2079.ss01</string>
				<string>uni2080.ss01</string>
				<string>uni2081.ss01</string>
				<string>uni2082.ss01</string>
				<string>uni2083.ss01</string>
				<string>uni2084.ss01</string>
				<string>uni2085.ss01</string>
				<string>uni2086.ss01</string>
				<string>uni2087.ss01</string>
				<string>uni2088.ss01</string>
				<string>uni2089.ss01</string>
				<string>g.ss02</string>
				<string>I.prop.ss04</string>
				<string>i.prop.ss04</string>
				<string>l.prop.ss04</string>
				<string>ocedilla</string>
				<string>gravecomb.case</string>
				<string>acutecomb.case</string>
				<string>uni0302.case</string>
				<string>tildecomb.case</string>
				<string>uni0304.case</string>
				<string>uni0305.case</string>
				<string>uni0306.case</string>
				<string>uni0307.case</string>
				<string>uni0308.case</string>
				<string>uni0309.case</string>
				<string>uni030A.case</string>
				<string>uni030B.case</string>
				<string>uni030C.case</string>
				<string>fraction.alt</string>
				<string>notmath.comp</string>
				<string>N.001</string>
				<string>s.001</string>
				<string>integral.001</string>
				<string>ampersand.alt001</string>
				<string>ampersand.alt002</string>
				<string>ampersand.alt003</string>
				<string>three.001</string>
				<string>space.frac</string>
				<string>slash.comp</string>
				<string>asterisk.001</string>
				<string>delta.001</string>
				<string>stroke</string>
			</array>
			<key>type</key>
			<string>glyphList</string>
		</dict>
	</array>
	<key>public.glyphOrder</key>
	<array>
		<string>.notdef</string>
		<string>.null</string>
		<string>CR</string>
		<string>space</string>
		<string>exclam</string>
		<string>quotedbl</string>
		<string>numbersign</string>
		<string>dollar</string>
		<string>percent</string>
		<string>ampersand</string>
		<string>quotesingle</string>
		<string>parenleft</string>
		<string>parenright</string>
		<string>asterisk</string>
		<string>plus</string>
		<string>comma</string>
		<string>hyphen</string>
		<string>period</string>
		<string>slash</string>
		<string>zero</string>
		<string>one</string>
		<string>two</string>
		<string>three</string>
		<string>four</string>
		<string>five</string>
		<string>six</string>
		<string>seven</string>
		<string>eight</string>
		<string>nine</string>
		<string>colon</string>
		<string>semicolon</string>
		<string>less</string>
		<string>equal</string>
		<string>greater</string>
		<string>question</string>
		<string>at</string>
		<string>A</string>
		<string>B</string>
		<string>C</string>
		<string>D</string>
		<string>E</string>
		<string>F</string>
		<string>G</string>
		<string>H</string>
		<string>I</string>
		<string>J</string>
		<string>K</string>
		<string>L</string>
		<string>M</string>
		<string>N</string>
		<string>O</string>
		<string>P</string>
		<string>Q</string>
		<string>R</string>
		<string>S</string>
		<string>T</string>
		<string>U</string>
		<string>V</string>
		<string>W</string>
		<string>X</string>
		<string>Y</string>
		<string>Z</string>
		<string>bracketleft</string>
		<string>backslash</string>
		<string>bracketright</string>
		<string>asciicircum</string>
		<string>underscore</string>
		<string>grave</string>
		<string>a</string>
		<string>b</string>
		<string>c</string>
		<string>d</string>
		<string>e</string>
		<string>f</string>
		<string>g</string>
		<string>h</string>
		<string>i</string>
		<string>j</string>
		<string>k</string>
		<string>l</string>
		<string>m</string>
		<string>n</string>
		<string>o</string>
		<string>p</string>
		<string>q</string>
		<string>r</string>
		<string>s</string>
		<string>t</string>
		<string>u</string>
		<string>v</string>
		<string>w</string>
		<string>x</string>
		<string>y</string>
		<string>z</string>
		<string>braceleft</string>
		<string>bar</string>
		<string>braceright</string>
		<string>asciitilde</string>
		<string>uni00A0</string>
		<string>exclamdown</string>
		<string>cent</string>
		<string>sterling</string>
		<string>currency</string>
		<string>yen</string>
		<string>brokenbar</string>
		<string>section</string>
		<string>dieresis</string>
		<string>copyright</string>
		<string>ordfeminine</string>
		<string>guillemotleft</string>
		<string>logicalnot</string>
		<string>uni00AD</string>
		<string>registered</string>
		<string>macron</string>
		<string>degree</string>
		<string>plusminus</string>
		<string>twosuperior</string>
		<string>threesuperior</string>
		<string>acute</string>
		<string>mu</string>
		<string>paragraph</string>
		<string>periodcentered</string>
		<string>cedilla</string>
		<string>onesuperior</string>
		<string>ordmasculine</string>
		<string>guillemotright</string>
		<string>onequarter</string>
		<string>onehalf</string>
		<string>threequarters</string>
		<string>questiondown</string>
		<string>Agrave</string>
		<string>Aacute</string>
		<string>Acircumflex</string>
		<string>Atilde</string>
		<string>Adieresis</string>
		<string>Aring</string>
		<string>AE</string>
		<string>Ccedilla</string>
		<string>Egrave</string>
		<string>Eacute</string>
		<string>Ecircumflex</string>
		<string>Edieresis</string>
		<string>Igrave</string>
		<string>Iacute</string>
		<string>Icircumflex</string>
		<string>Idieresis</string>
		<string>Eth</string>
		<string>Ntilde</string>
		<string>Ograve</string>
		<string>Oacute</string>
		<string>Ocircumflex</string>
		<string>Otilde</string>
		<string>Odieresis</string>
		<string>multiply</string>
		<string>Oslash</string>
		<string>Ugrave</string>
		<string>Uacute</string>
		<string>Ucircumflex</string>
		<string>Udieresis</string>
		<string>Yacute</string>
		<string>Thorn</string>
		<string>germandbls</string>
		<string>agrave</string>
		<string>aacute</string>
		<string>acircumflex</string>
		<string>atilde</string>
		<string>adieresis</string>
		<string>aring</string>
		<string>ae</string>
		<string>ccedilla</string>
		<string>egrave</string>
		<string>eacute</string>
		<string>ecircumflex</string>
		<string>edieresis</string>
		<string>igrave</string>
		<string>iacute</string>
		<string>icircumflex</string>
		<string>idieresis</string>
		<string>eth</string>
		<string>ntilde</string>
		<string>ograve</string>
		<string>oacute</string>
		<string>ocircumflex</string>
		<string>otilde</string>
		<string>odieresis</string>
		<string>divide</string>
		<string>oslash</string>
		<string>ugrave</string>
		<string>uacute</string>
		<string>ucircumflex</string>
		<string>udieresis</string>
		<string>yacute</string>
		<string>thorn</string>
		<string>ydieresis</string>
		<string>Amacron</string>
		<string>amacron</string>
		<string>Abreve</string>
		<string>abreve</string>
		<string>Aogonek</string>
		<string>aogonek</string>
		<string>Cacute</string>
		<string>cacute</string>
		<string>Ccircumflex</string>
		<string>ccircumflex</string>
		<string>Cdotaccent</string>
		<string>cdotaccent</string>
		<string>Ccaron</string>
		<string>ccaron</string>
		<string>Dcaron</string>
		<string>dcaron</string>
		<string>Dcroat</string>
		<string>dcroat</string>
		<string>Emacron</string>
		<string>emacron</string>
		<string>Ebreve</string>
		<string>ebreve</string>
		<string>Edotaccent</string>
		<string>edotaccent</string>
		<string>Eogonek</string>
		<string>eogonek</string>
		<string>Ecaron</string>
		<string>ecaron</string>
		<string>Gcircumflex</string>
		<string>gcircumflex</string>
		<string>Gbreve</string>
		<string>gbreve</string>
		<string>Gdotaccent</string>
		<string>gdotaccent</string>
		<string>Gcommaaccent</string>
		<string>gcommaaccent</string>
		<string>Hcircumflex</string>
		<string>hcircumflex</string>
		<string>Hbar</string>
		<string>hbar</string>
		<string>Itilde</string>
		<string>itilde</string>
		<string>Imacron</string>
		<string>imacron</string>
		<string>Ibreve</string>
		<string>ibreve</string>
		<string>Iogonek</string>
		<string>iogonek</string>
		<string>Idotaccent</string>
		<string>dotlessi</string>
		<string>IJ</string>
		<string>ij</string>
		<string>Jcircumflex</string>
		<string>jcircumflex</string>
		<string>Kcommaaccent</string>
		<string>kcommaaccent</string>
		<string>kgreenlandic</string>
		<string>Lacute</string>
		<string>lacute</string>
		<string>Lcommaaccent</string>
		<string>lcommaaccent</string>
		<string>Lcaron</string>
		<string>lcaron</string>
		<string>Ldot</string>
		<string>ldot</string>
		<string>Lslash</string>
		<string>lslash</string>
		<string>Nacute</string>
		<string>nacute</string>
		<string>Ncommaaccent</string>
		<string>ncommaaccent</string>
		<string>Ncaron</string>
		<string>ncaron</string>
		<string>napostrophe</string>
		<string>Eng</string>
		<string>eng</string>
		<string>Omacron</string>
		<string>omacron</string>
		<string>Obreve</string>
		<string>obreve</string>
		<string>Ohungarumlaut</string>
		<string>ohungarumlaut</string>
		<string>OE</string>
		<string>oe</string>
		<string>Racute</string>
		<string>racute</string>
		<string>Rcommaaccent</string>
		<string>rcommaaccent</string>
		<string>Rcaron</string>
		<string>rcaron</string>
		<string>Sacute</string>
		<string>sacute</string>
		<string>Scircumflex</string>
		<string>scircumflex</string>
		<string>Scedilla</string>
		<string>scedilla</string>
		<string>Scaron</string>
		<string>scaron</string>
		<string>Tcommaaccent</string>
		<string>tcommaaccent</string>
		<string>Tcaron</string>
		<string>tcaron</string>
		<string>Tbar</string>
		<string>tbar</string>
		<string>Utilde</string>
		<string>utilde</string>
		<string>Umacron</string>
		<string>umacron</string>
		<string>Ubreve</string>
		<string>ubreve</string>
		<string>Uring</string>
		<string>uring</string>
		<string>Uhungarumlaut</string>
		<string>uhungarumlaut</string>
		<string>Uogonek</string>
		<string>uogonek</string>
		<string>Wcircumflex</string>
		<string>wcircumflex</string>
		<string>Ycircumflex</string>
		<string>ycircumflex</string>
		<string>Ydieresis</string>
		<string>Zacute</string>
		<string>zacute</string>
		<string>Zdotaccent</string>
		<string>zdotaccent</string>
		<string>Zcaron</string>
		<string>zcaron</string>
		<string>longs</string>
		<string>uni018F</string>
		<string>florin</string>
		<string>Aringacute</string>
		<string>aringacute</string>
		<string>AEacute</string>
		<string>aeacute</string>
		<string>Oslashacute</string>
		<string>oslashacute</string>
		<string>uni0218</string>
		<string>uni0219</string>
		<string>uni021A</string>
		<string>uni021B</string>
		<string>uni0237</string>
		<string>uni0259</string>
		<string>circumflex</string>
		<string>caron</string>
		<string>uni02C9</string>
		<string>breve</string>
		<string>dotaccent</string>
		<string>ring</string>
		<string>ogonek</string>
		<string>tilde</string>
		<string>hungarumlaut</string>
		<string>gravecomb</string>
		<string>acutecomb</string>
		<string>uni0302</string>
		<string>tildecomb</string>
		<string>uni0304</string>
		<string>uni0305</string>
		<string>uni0306</string>
		<string>uni0307</string>
		<string>uni0308</string>
		<string>uni0309</string>
		<string>uni030A</string>
		<string>uni030B</string>
		<string>uni030C</string>
		<string>uni0312</string>
		<string>uni0315</string>
		<string>uni0326</string>
		<string>uni0327</string>
		<string>uni0328</string>
		<string>uni0335</string>
		<string>uni0344</string>
		<string>tonos</string>
		<string>dieresistonos</string>
		<string>Alphatonos</string>
		<string>anoteleia</string>
		<string>Epsilontonos</string>
		<string>Etatonos</string>
		<string>Iotatonos</string>
		<string>Omicrontonos</string>
		<string>Upsilontonos</string>
		<string>Omegatonos</string>
		<string>iotadieresistonos</string>
		<string>Alpha</string>
		<string>Beta</string>
		<string>Gamma</string>
		<string>uni0394</string>
		<string>Epsilon</string>
		<string>Zeta</string>
		<string>Eta</string>
		<string>Theta</string>
		<string>Iota</string>
		<string>Kappa</string>
		<string>Lambda</string>
		<string>Mu</string>
		<string>Nu</string>
		<string>Xi</string>
		<string>Omicron</string>
		<string>Pi</string>
		<string>Rho</string>
		<string>Sigma</string>
		<string>Tau</string>
		<string>Upsilon</string>
		<string>Phi</string>
		<string>Chi</string>
		<string>Psi</string>
		<string>uni03A9</string>
		<string>Iotadieresis</string>
		<string>Upsilondieresis</string>
		<string>alphatonos</string>
		<string>epsilontonos</string>
		<string>etatonos</string>
		<string>iotatonos</string>
		<string>upsilondieresistonos</string>
		<string>alpha</string>
		<string>beta</string>
		<string>gamma</string>
		<string>delta</string>
		<string>epsilon</string>
		<string>zeta</string>
		<string>eta</string>
		<string>theta</string>
		<string>iota</string>
		<string>kappa</string>
		<string>lambda</string>
		<string>uni03BC</string>
		<string>nu</string>
		<string>xi</string>
		<string>omicron</string>
		<string>pi</string>
		<string>rho</string>
		<string>sigma1</string>
		<string>sigma</string>
		<string>tau</string>
		<string>upsilon</string>
		<string>phi</string>
		<string>chi</string>
		<string>psi</string>
		<string>omega</string>
		<string>iotadieresis</string>
		<string>upsilondieresis</string>
		<string>omicrontonos</string>
		<string>upsilontonos</string>
		<string>omegatonos</string>
		<string>Upsilon1</string>
		<string>phi1</string>
		<string>uni0400</string>
		<string>afii10023</string>
		<string>afii10051</string>
		<string>afii10052</string>
		<string>afii10053</string>
		<string>afii10054</string>
		<string>afii10055</string>
		<string>afii10056</string>
		<string>afii10057</string>
		<string>afii10058</string>
		<string>afii10059</string>
		<string>afii10060</string>
		<string>afii10061</string>
		<string>uni040D</string>
		<string>afii10062</string>
		<string>afii10145</string>
		<string>afii10017</string>
		<string>afii10018</string>
		<string>afii10019</string>
		<string>afii10020</string>
		<string>afii10021</string>
		<string>afii10022</string>
		<string>afii10024</string>
		<string>afii10025</string>
		<string>afii10026</string>
		<string>afii10027</string>
		<string>afii10028</string>
		<string>afii10029</string>
		<string>afii10030</string>
		<string>afii10031</string>
		<string>afii10032</string>
		<string>afii10033</string>
		<string>afii10034</string>
		<string>afii10035</string>
		<string>afii10036</string>
		<string>afii10037</string>
		<string>afii10038</string>
		<string>afii10039</string>
		<string>afii10040</string>
		<string>afii10041</string>
		<string>afii10042</string>
		<string>afii10043</string>
		<string>afii10044</string>
		<string>afii10045</string>
		<string>afii10046</string>
		<string>afii10047</string>
		<string>afii10048</string>
		<string>afii10049</string>
		<string>afii10065</string>
		<string>afii10066</string>
		<string>afii10067</string>
		<string>afii10068</string>
		<string>afii10069</string>
		<string>afii10070</string>
		<string>afii10072</string>
		<string>afii10073</string>
		<string>afii10074</string>
		<string>afii10075</string>
		<string>afii10076</string>
		<string>afii10077</string>
		<string>afii10078</string>
		<string>afii10079</string>
		<string>afii10080</string>
		<string>afii10081</string>
		<string>afii10082</string>
		<string>afii10083</string>
		<string>afii10084</string>
		<string>afii10085</string>
		<string>afii10086</string>
		<string>afii10087</string>
		<string>afii10088</string>
		<string>afii10089</string>
		<string>afii10090</string>
		<string>afii10091</string>
		<string>afii10092</string>
		<string>afii10093</string>
		<string>afii10094</string>
		<string>afii10095</string>
		<string>afii10096</string>
		<string>afii10097</string>
		<string>uni0450</string>
		<string>afii10071</string>
		<string>afii10099</string>
		<string>afii10100</string>
		<string>afii10101</string>
		<string>afii10102</string>
		<string>afii10103</string>
		<string>afii10104</string>
		<string>afii10105</string>
		<string>afii10106</string>
		<string>afii10107</string>
		<string>afii10108</string>
		<string>afii10109</string>
		<string>uni045D</string>
		<string>afii10110</string>
		<string>afii10193</string>
		<string>afii10050</string>
		<string>afii10098</string>
		<string>Wgrave</string>
		<string>wgrave</string>
		<string>Wacute</string>
		<string>wacute</string>
		<string>Wdieresis</string>
		<string>wdieresis</string>
		<string>uni1E9E</string>
		<string>Ygrave</string>
		<string>ygrave</string>
		<string>endash</string>
		<string>emdash</string>
		<string>afii00208</string>
		<string>underscoredbl</string>
		<string>quoteleft</string>
		<string>quoteright</string>
		<string>quotesinglbase</string>
		<string>quotereversed</string>
		<string>quotedblleft</string>
		<string>quotedblright</string>
		<string>quotedblbase</string>
		<string>uni201F</string>
		<string>dagger</string>
		<string>daggerdbl</string>
		<string>bullet</string>
		<string>ellipsis</string>
		<string>perthousand</string>
		<string>minute</string>
		<string>second</string>
		<string>guilsinglleft</string>
		<string>guilsinglright</string>
		<string>exclamdbl</string>
		<string>uni203E</string>
		<string>fraction</string>
		<string>uni2070</string>
		<string>uni2074</string>
		<string>uni2075</string>
		<string>uni2076</string>
		<string>uni2077</string>
		<string>uni2078</string>
		<string>uni2079</string>
		<string>nsuperior</string>
		<string>uni2080</string>
		<string>uni2081</string>
		<string>uni2082</string>
		<string>uni2083</string>
		<string>uni2084</string>
		<string>uni2085</string>
		<string>uni2086</string>
		<string>uni2087</string>
		<string>uni2088</string>
		<string>uni2089</string>
		<string>franc</string>
		<string>lira</string>
		<string>peseta</string>
		<string>Euro</string>
		<string>afii61248</string>
		<string>afii61289</string>
		<string>afii61352</string>
		<string>uni2117</string>
		<string>trademark</string>
		<string>Omega</string>
		<string>estimated</string>
		<string>uni2150</string>
		<string>uni2151</string>
		<string>onethird</string>
		<string>twothirds</string>
		<string>uni2155</string>
		<string>uni2156</string>
		<string>uni2157</string>
		<string>uni2158</string>
		<string>uni2159</string>
		<string>uni215A</string>
		<string>oneeighth</string>
		<string>threeeighths</string>
		<string>fiveeighths</string>
		<string>seveneighths</string>
		<string>uni215F</string>
		<string>uni2189</string>
		<string>arrowleft</string>
		<string>arrowup</string>
		<string>arrowright</string>
		<string>arrowdown</string>
		<string>arrowboth</string>
		<string>arrowupdn</string>
		<string>arrowupdnbse</string>
		<string>uni21E7</string>
		<string>uni21EA</string>
		<string>partialdiff</string>
		<string>Delta</string>
		<string>product</string>
		<string>summation</string>
		<string>minus</string>
		<string>uni2215</string>
		<string>uni2216</string>
		<string>uni2219</string>
		<string>radical</string>
		<string>infinity</string>
		<string>orthogonal</string>
		<string>angle</string>
		<string>logicaland</string>
		<string>logicalor</string>
		<string>intersection</string>
		<string>union</string>
		<string>integral</string>
		<string>approxequal</string>
		<string>uni2259</string>
		<string>notequal</string>
		<string>equivalence</string>
		<string>lessequal</string>
		<string>greaterequal</string>
		<string>propersubset</string>
		<string>propersuperset</string>
		<string>notsubset</string>
		<string>uni2285</string>
		<string>perpendicular</string>
		<string>dotmath</string>
		<string>house</string>
		<string>revlogicalnot</string>
		<string>uni2318</string>
		<string>integraltp</string>
		<string>integralbt</string>
		<string>uni2325</string>
		<string>uni232B</string>
		<string>SF100000</string>
		<string>SF110000</string>
		<string>SF010000</string>
		<string>SF030000</string>
		<string>SF020000</string>
		<string>SF040000</string>
		<string>SF080000</string>
		<string>SF090000</string>
		<string>SF060000</string>
		<string>SF070000</string>
		<string>SF050000</string>
		<string>SF430000</string>
		<string>SF240000</string>
		<string>SF510000</string>
		<string>SF520000</string>
		<string>SF390000</string>
		<string>SF220000</string>
		<string>SF210000</string>
		<string>SF250000</string>
		<string>SF500000</string>
		<string>SF490000</string>
		<string>SF380000</string>
		<string>SF280000</string>
		<string>SF270000</string>
		<string>SF260000</string>
		<string>SF360000</string>
		<string>SF370000</string>
		<string>SF420000</string>
		<string>SF190000</string>
		<string>SF200000</string>
		<string>SF230000</string>
		<string>SF470000</string>
		<string>SF480000</string>
		<string>SF410000</string>
		<string>SF450000</string>
		<string>SF460000</string>
		<string>SF400000</string>
		<string>SF540000</string>
		<string>SF530000</string>
		<string>SF440000</string>
		<string>uni256D</string>
		<string>uni256E</string>
		<string>uni256F</string>
		<string>uni2570</string>
		<string>uni2571</string>
		<string>uni2572</string>
		<string>uni2573</string>
		<string>upblock</string>
		<string>dnblock</string>
		<string>block</string>
		<string>lfblock</string>
		<string>rtblock</string>
		<string>ltshade</string>
		<string>shade</string>
		<string>dkshade</string>
		<string>filledbox</string>
		<string>H22073</string>
		<string>H18543</string>
		<string>H18551</string>
		<string>filledrect</string>
		<string>triagup</string>
		<string>triagrt</string>
		<string>triagdn</string>
		<string>triaglf</string>
		<string>lozenge</string>
		<string>circle</string>
		<string>H18533</string>
		<string>invbullet</string>
		<string>invcircle</string>
		<string>openbullet</string>
		<string>smileface</string>
		<string>invsmileface</string>
		<string>sun</string>
		<string>female</string>
		<string>male</string>
		<string>spade</string>
		<string>club</string>
		<string>heart</string>
		<string>diamond</string>
		<string>musicalnote</string>
		<string>musicalnotedbl</string>
		<string>uni2713</string>
		<string>fi</string>
		<string>fl</string>
		<string>orn001</string>
		<string>orn002</string>
		<string>zero.dnom</string>
		<string>one.dnom</string>
		<string>two.dnom</string>
		<string>three.dnom</string>
		<string>four.dnom</string>
		<string>five.dnom</string>
		<string>six.dnom</string>
		<string>seven.dnom</string>
		<string>eight.dnom</string>
		<string>nine.dnom</string>
		<string>zero.numr</string>
		<string>one.numr</string>
		<string>two.numr</string>
		<string>three.numr</string>
		<string>four.numr</string>
		<string>five.numr</string>
		<string>six.numr</string>
		<string>seven.numr</string>
		<string>eight.numr</string>
		<string>nine.numr</string>
		<string>zero.zero</string>
		<string>a.ss03</string>
		<string>adieresis.ss03</string>
		<string>A.prop</string>
		<string>I.prop</string>
		<string>T.prop</string>
		<string>f.prop</string>
		<string>i.prop</string>
		<string>i.ss01</string>
		<string>j.ss01</string>
		<string>l.prop</string>
		<string>l.ss01</string>
		<string>m.prop</string>
		<string>m.ss01</string>
		<string>r.prop</string>
		<string>r.ss01</string>
		<string>s.ss01</string>
		<string>t.ss01</string>
		<string>w.ss01</string>
		<string>twosuperior.ss01</string>
		<string>threesuperior.ss01</string>
		<string>onesuperior.ss01</string>
		<string>AE.prop</string>
		<string>uni2070.ss01</string>
		<string>uni2074.ss01</string>
		<string>uni2075.ss01</string>
		<string>uni2076.ss01</string>
		<string>uni2077.ss01</string>
		<string>uni2078.ss01</string>
		<string>uni2079.ss01</string>
		<string>uni2080.ss01</string>
		<string>uni2081.ss01</string>
		<string>uni2082.ss01</string>
		<string>uni2083.ss01</string>
		<string>uni2084.ss01</string>
		<string>uni2085.ss01</string>
		<string>uni2086.ss01</string>
		<string>uni2087.ss01</string>
		<string>uni2088.ss01</string>
		<string>uni2089.ss01</string>
		<string>g.ss02</string>
		<string>I.prop.ss04</string>
		<string>i.prop.ss04</string>
		<string>l.prop.ss04</string>
		<string>ocedilla</string>
		<string>gravecomb.case</string>
		<string>acutecomb.case</string>
		<string>uni0302.case</string>
		<string>tildecomb.case</string>
		<string>uni0304.case</string>
		<string>uni0305.case</string>
		<string>uni0306.case</string>
		<string>uni0307.case</string>
		<string>uni0308.case</string>
		<string>uni0309.case</string>
		<string>uni030A.case</string>
		<string>uni030B.case</string>
		<string>uni030C.case</string>
		<string>fraction.alt</string>
		<string>notmath.comp</string>
		<string>N.001</string>
		<string>s.001</string>
		<string>integral.001</string>
		<string>ampersand.alt001</string>
		<string>ampersand.alt002</string>
		<string>ampersand.alt003</string>
		<string>three.001</string>
		<string>space.frac</string>
		<string>slash.comp</string>
		<string>asterisk.001</string>
		<string>delta.001</string>
		<string>stroke</string>
	</array>
</dict>
</plist>
