Source: sudo-font
Section: fonts
Priority: optional
Standards-Version: 4.6.2
Maintainer: Jens Kutilek <webmail@kutilek.de>

Package: sudo-font
Architecture: all
Description: A font family designed for terminal, programming, and user interfaces.
 Sudo is a font family designed for terminals, programming, and user interfaces.
 It comes with a monospaced and a proportional variant.
