Source: fonts-sudo
Section: fonts
Priority: optional
Standards-Version: 4.6.2
Maintainer: Jens Kutilek <debian@kutilek.de>
Build-Depends: debhelper-compat (= 13)

Package: fonts-sudo
Architecture: all
Multi-Arch: foreign
Depends: ${misc:Depends}
Description: Sudo font family designed for terminal, programming, and user interfaces.
 Sudo is a font family designed for terminals, programming, and user interfaces.
 It comes with a monospaced and a proportional variant.
