#!/usr/bin/make -f

.PHONY: build
build:
	echo "Build not required"


.PHONY: clean
clean:


#%:
#	dh $@


.PHONY: binary
binary:
	echo "Binary not required"


override_dh_auto_install:
	$(MAKE) DESTDIR=$$(pwd)/debian/sudo-font prefix=/usr install-debian
