(
A,
Aacute,
Abreve,
Abreveacute,
Abrevedotbelow,
Abrevegrave,
Abrevehookabove,
Abrevetilde,
Acaron,
Acircumflex,
Acircumflexacute,
Acircumflexdotbelow,
Acircumflexgrave,
Acircumflexhookabove,
Acircumflextilde,
Adieresis,
Adotaccent,
Adotbelow,
Agrave,
Ahookabove,
Amacron,
Aogonek,
Aring,
Aringacute,
Atilde,
AE,
AEacute,
AEmacron,
B,
Bdotaccent,
Bdotbelow,
Bstroke,
C,
Cacute,
Ccaron,
Ccedilla,
Ccedillaacute,
Ccircumflex,
Cdotaccent,
D,
Eth,
Dcaron,
Dcedilla,
Dcroat,
Ddotaccent,
Ddotbelow,
E,
Eacute,
Ebreve,
Ecaron,
Ecedilla,
Ecedillabreve,
Ecircumflex,
Ecircumflexacute,
Ecircumflexdotbelow,
Ecircumflexgrave,
Ecircumflexhookabove,
Ecircumflextilde,
Edieresis,
Edotaccent,
Edotbelow,
Egrave,
Ehookabove,
Emacron,
Eogonek,
Ereversed,
Etilde,
Schwa,
F,
Fdotaccent,
G,
Gacute,
Gbreve,
Gcaron,
Gcircumflex,
Gcommaaccent,
Gdotaccent,
Gmacron,
H,
Hbar,
Hcaron,
Hcedilla,
Hcircumflex,
Hdieresis,
Hdotaccent,
Hdotbelow,
Hturned,
I,
IJ,
Iacute,
Ibreve,
Icaron,
Icircumflex,
Idieresis,
Idotaccent,
Idotbelow,
Igrave,
Ihookabove,
Imacron,
Iogonek,
Itilde,
J,
Jacute,
Jcircumflex,
K,
Kacute,
Kcaron,
Kcommaaccent,
Kdotbelow,
L,
Lacute,
Lbar,
Lcaron,
Lcommaaccent,
Ldot,
Ldotbelow,
Ldotbelowmacron,
Lslash,
M,
Macute,
Mdotaccent,
Mdotbelow,
N,
Nacute,
Ncaron,
Ncommaaccent,
Ndotaccent,
Ndotbelow,
Ngrave,
Ntilde,
Eng,
O,
Oacute,
Obreve,
Ocaron,
Ocircumflex,
Ocircumflexacute,
Ocircumflexdotbelow,
Ocircumflexgrave,
Ocircumflexhookabove,
Ocircumflextilde,
Odieresis,
Odotaccent,
Odotbelow,
Ograve,
Ohookabove,
Ohorn,
Ohornacute,
Ohorndotbelow,
Ohorngrave,
Ohornhookabove,
Ohorntilde,
Ohungarumlaut,
Omacron,
Oogonek,
Oogonekmacron,
Oopen,
Oslash,
Oslashacute,
Otilde,
OE,
P,
Pacute,
Pdotaccent,
Thorn,
Q,
R,
Racute,
Rcaron,
Rcommaaccent,
Rdotaccent,
Rdotbelow,
Rdotbelowmacron,
S,
Sacute,
Scaron,
Scedilla,
Scircumflex,
Scommaaccent,
Sdotaccent,
Sdotbelow,
Sdotbelowdotaccent,
Germandbls,
Sobliquestroke,
T,
Tbar,
Tcaron,
Tcedilla,
Tcommaaccent,
Tdotaccent,
Tdotbelow,
U,
Uacute,
Ubreve,
Ucaron,
Ucircumflex,
Udieresis,
Udotbelow,
Ugrave,
Uhookabove,
Uhorn,
Uhornacute,
Uhorndotbelow,
Uhorngrave,
Uhornhookabove,
Uhorntilde,
Uhungarumlaut,
Umacron,
Uogonek,
Uring,
Utilde,
V,
Vdotbelow,
Vtilde,
Vturned,
W,
Wacute,
Wcircumflex,
Wdieresis,
Wdotaccent,
Wdotbelow,
Wgrave,
X,
Xdieresis,
Xdotaccent,
Y,
Yacute,
Ycircumflex,
Ydieresis,
Ydotaccent,
Ydotbelow,
Ygrave,
Yhookabove,
Ymacron,
Ytilde,
Z,
Zacute,
Zcaron,
Zcircumflex,
Zdotaccent,
Zdotbelow,
Zstroke,
Iacute_J.loclNLD,
A.hex,
B.hex,
C.hex,
D.hex,
E.hex,
F.hex,
C.pl,
F.pl,
L.pl,
N.pl,
O.pl,
A.short,
E.short,
I.short,
O.short,
Ohorn.short,
U.short,
Uhorn.short,
Y.short,
A.ss20,
Aacute.ss20,
Abreve.ss20,
Abreveacute.ss20,
Abrevedotbelow.ss20,
Abrevegrave.ss20,
Abrevehookabove.ss20,
Abrevetilde.ss20,
Acaron.ss20,
Acircumflex.ss20,
Acircumflexacute.ss20,
Acircumflexdotbelow.ss20,
Acircumflexgrave.ss20,
Acircumflexhookabove.ss20,
Acircumflextilde.ss20,
Adieresis.ss20,
Adotaccent.ss20,
Adotbelow.ss20,
Agrave.ss20,
Ahookabove.ss20,
Amacron.ss20,
Aogonek.ss20,
Aring.ss20,
Aringacute.ss20,
Atilde.ss20,
C.ss20,
Cacute.ss20,
Ccaron.ss20,
Ccedilla.ss20,
Ccedillaacute.ss20,
Ccircumflex.ss20,
Cdotaccent.ss20,
D.ss20,
Eth.ss20,
Dcaron.ss20,
Dcedilla.ss20,
Dcroat.ss20,
Ddotaccent.ss20,
Ddotbelow.ss20,
E.ss20,
Eacute.ss20,
Ebreve.ss20,
Ecaron.ss20,
Ecedilla.ss20,
Ecedillabreve.ss20,
Ecircumflex.ss20,
Ecircumflexacute.ss20,
Ecircumflexdotbelow.ss20,
Ecircumflexgrave.ss20,
Ecircumflexhookabove.ss20,
Ecircumflextilde.ss20,
Edieresis.ss20,
Edotaccent.ss20,
Edotbelow.ss20,
Egrave.ss20,
Ehookabove.ss20,
Emacron.ss20,
Eogonek.ss20,
Ereversed.ss20,
Etilde.ss20,
F.ss20,
Fdotaccent.ss20,
G.ss20,
H.ss20,
Hbar.ss20,
Hcaron.ss20,
Hcedilla.ss20,
Hcircumflex.ss20,
Hdieresis.ss20,
Hdotaccent.ss20,
Hdotbelow.ss20,
Hturned.ss20,
I.ss20,
Iacute.ss20,
Ibreve.ss20,
Icaron.ss20,
Icircumflex.ss20,
Idieresis.ss20,
Idotaccent.ss20,
Idotbelow.ss20,
Igrave.ss20,
Ihookabove.ss20,
Imacron.ss20,
Iogonek.ss20,
Itilde.ss20,
J.ss20,
K.ss20,
L.ss20,
Lacute.ss20,
Lbar.ss20,
Lcaron.ss20,
Lcommaaccent.ss20,
Ldot.ss20,
Ldotbelow.ss20,
Ldotbelowmacron.ss20,
Lslash.ss20,
M.ss20,
Macute.ss20,
Mdotaccent.ss20,
Mdotbelow.ss20,
N.ss20,
Nacute.ss20,
Ncaron.ss20,
Ncommaaccent.ss20,
Ndotaccent.ss20,
Ndotbelow.ss20,
Ngrave.ss20,
Ntilde.ss20,
Eng.ss20,
O.ss20,
Oacute.ss20,
Obreve.ss20,
Ocaron.ss20,
Ocircumflex.ss20,
Ocircumflexacute.ss20,
Ocircumflexdotbelow.ss20,
Ocircumflexgrave.ss20,
Ocircumflexhookabove.ss20,
Ocircumflextilde.ss20,
Odieresis.ss20,
Odotaccent.ss20,
Odotbelow.ss20,
Ograve.ss20,
Ohookabove.ss20,
Ohorn.ss20,
Ohornacute.ss20,
Ohorndotbelow.ss20,
Ohorngrave.ss20,
Ohornhookabove.ss20,
Ohorntilde.ss20,
Ohungarumlaut.ss20,
Omacron.ss20,
Oogonek.ss20,
Oogonekmacron.ss20,
Oslash.ss20,
Oslashacute.ss20,
Otilde.ss20,
OE.ss20,
Q.ss20,
S.ss20,
Germandbls.ss20,
T.ss20,
U.ss20,
Uacute.ss20,
Ubreve.ss20,
Ucaron.ss20,
Ucircumflex.ss20,
Udieresis.ss20,
Udotbelow.ss20,
Ugrave.ss20,
Uhookabove.ss20,
Uhorn.ss20,
Uhornacute.ss20,
Uhorndotbelow.ss20,
Uhorngrave.ss20,
Uhornhookabove.ss20,
Uhorntilde.ss20,
Uhungarumlaut.ss20,
Umacron.ss20,
Uogonek.ss20,
Uring.ss20,
Utilde.ss20,
V.ss20,
W.ss20,
X.ss20,
Y.ss20,
Z.ss20,
N.001,
K.orig,
M.orig,
M.wide,
Ismall,
Ismallstroke,
a,
aacute,
abreve,
abreveacute,
abrevedotbelow,
abrevegrave,
abrevehookabove,
abrevetilde,
acaron,
acircumflex,
acircumflexacute,
acircumflexdotbelow,
acircumflexgrave,
acircumflexhookabove,
acircumflextilde,
adieresis,
adotaccent,
adotbelow,
agrave,
ahookabove,
amacron,
aogonek,
aring,
aringacute,
atilde,
ae,
aeacute,
aemacron,
b,
bdotaccent,
bdotbelow,
bstroke,
c,
cacute,
ccaron,
ccedilla,
ccedillaacute,
ccircumflex,
cdotaccent,
d,
eth,
dcaron,
dcedilla,
dcroat,
ddotaccent,
ddotbelow,
e,
eacute,
ebreve,
ecaron,
ecedilla,
ecedillabreve,
ecircumflex,
ecircumflexacute,
ecircumflexdotbelow,
ecircumflexgrave,
ecircumflexhookabove,
ecircumflextilde,
edieresis,
edotaccent,
edotbelow,
egrave,
ehookabove,
emacron,
eogonek,
etilde,
eturned,
schwa,
f,
fdotaccent,
g,
gacute,
gbreve,
gcaron,
gcircumflex,
gcommaaccent,
gdotaccent,
gmacron,
h,
hbar,
hcaron,
hcedilla,
hcircumflex,
hdieresis,
hdotaccent,
hdotbelow,
hturned,
i,
idotless,
iacute,
ibreve,
icaron,
icircumflex,
idieresis,
idotaccent,
idotbelow,
igrave,
ihookabove,
ij,
imacron,
iogonek,
iotastroke,
istroke,
itilde,
j,
jdotless,
jacute,
jcaron,
jcircumflex,
k,
kacute,
kcaron,
kcommaaccent,
kdotbelow,
kgreenlandic,
l,
lacute,
lbar,
lcaron,
lcommaaccent,
ldot,
ldotbelow,
ldotbelowmacron,
longsdotaccent,
lslash,
m,
macute,
mdotaccent,
mdotbelow,
n,
nacute,
napostrophe,
ncaron,
ncommaaccent,
ndotaccent,
ndotbelow,
ngrave,
ntilde,
eng,
o,
oacute,
obreve,
ocaron,
ocircumflex,
ocircumflexacute,
ocircumflexdotbelow,
ocircumflexgrave,
ocircumflexhookabove,
ocircumflextilde,
odieresis,
odotaccent,
odotbelow,
ograve,
ohookabove,
ohorn,
ohornacute,
ohorndotbelow,
ohorngrave,
ohornhookabove,
ohorntilde,
ohungarumlaut,
omacron,
oogonek,
oogonekmacron,
oopen,
oslash,
oslashacute,
otilde,
oe,
p,
pacute,
pdotaccent,
thorn,
q,
r,
racute,
rcaron,
rcommaaccent,
rdotaccent,
rdotbelow,
rdotbelowmacron,
s,
sacute,
scaron,
scedilla,
scircumflex,
scommaaccent,
sdotaccent,
sdotbelow,
sdotbelowdotaccent,
germandbls,
sobliquestroke,
longs,
t,
tbar,
tcaron,
tcedilla,
tcommaaccent,
tdieresis,
tdotaccent,
tdotbelow,
u,
uacute,
ubreve,
ucaron,
ucircumflex,
udieresis,
udotbelow,
ugrave,
uhookabove,
uhorn,
uhornacute,
uhorndotbelow,
uhorngrave,
uhornhookabove,
uhorntilde,
uhungarumlaut,
umacron,
uogonek,
uring,
utilde,
v,
vdotbelow,
vtilde,
vturned,
w,
wacute,
wcircumflex,
wdieresis,
wdotaccent,
wdotbelow,
wgrave,
wring,
x,
xdieresis,
xdotaccent,
y,
yacute,
ycircumflex,
ydieresis,
ydotaccent,
ydotbelow,
ygrave,
yhookabove,
ymacron,
yring,
ytilde,
z,
zacute,
zcaron,
zcircumflex,
zdotaccent,
zdotbelow,
zstroke,
iacute_j.loclNLD,
f.italic,
germandbls.italic,
longs.italic,
g.ss01,
gacute.ss01,
gbreve.ss01,
gcaron.ss01,
gcircumflex.ss01,
gcommaaccent.ss01,
gdotaccent.ss01,
gmacron.ss01,
a.ss20,
aacute.ss20,
abreve.ss20,
abreveacute.ss20,
abrevedotbelow.ss20,
abrevegrave.ss20,
abrevehookabove.ss20,
abrevetilde.ss20,
acaron.ss20,
acircumflex.ss20,
acircumflexacute.ss20,
acircumflexdotbelow.ss20,
acircumflexgrave.ss20,
acircumflexhookabove.ss20,
acircumflextilde.ss20,
adieresis.ss20,
adotaccent.ss20,
adotbelow.ss20,
agrave.ss20,
ahookabove.ss20,
amacron.ss20,
aogonek.ss20,
aring.ss20,
aringacute.ss20,
atilde.ss20,
ae.ss20,
aeacute.ss20,
aemacron.ss20,
c.ss20,
cacute.ss20,
ccaron.ss20,
ccedilla.ss20,
ccedillaacute.ss20,
ccircumflex.ss20,
cdotaccent.ss20,
dcaron.ss20,
f.ss20,
i.ss20,
idotless.ss20,
iacute.ss20,
ibreve.ss20,
icaron.ss20,
icircumflex.ss20,
idieresis.ss20,
idotaccent.ss20,
idotbelow.ss20,
igrave.ss20,
ihookabove.ss20,
imacron.ss20,
iogonek.ss20,
istroke.ss20,
itilde.ss20,
j.ss20,
jdotless.ss20,
jacute.ss20,
jcaron.ss20,
jcircumflex.ss20,
l.ss20,
lacute.ss20,
lbar.ss20,
lcaron.ss20,
lcommaaccent.ss20,
ldot.ss20,
ldotbelow.ss20,
ldotbelowmacron.ss20,
longsdotaccent.ss20,
lslash.ss20,
m.ss20,
macute.ss20,
mdotaccent.ss20,
mdotbelow.ss20,
oe.ss20,
r.ss20,
racute.ss20,
rcaron.ss20,
rcommaaccent.ss20,
rdotaccent.ss20,
rdotbelow.ss20,
rdotbelowmacron.ss20,
s.ss20,
sacute.ss20,
scaron.ss20,
scedilla.ss20,
scircumflex.ss20,
scommaaccent.ss20,
sdotaccent.ss20,
sdotbelow.ss20,
sdotbelowdotaccent.ss20,
sobliquestroke.ss20,
longs.ss20,
t.ss20,
tbar.ss20,
tcaron.ss20,
tcedilla.ss20,
tcommaaccent.ss20,
tdieresis.ss20,
tdotaccent.ss20,
tdotbelow.ss20,
w.ss20,
wacute.ss20,
wcircumflex.ss20,
wdieresis.ss20,
wdotaccent.ss20,
wdotbelow.ss20,
wgrave.ss20,
wring.ss20,
z.ss20,
f.ss20.italic,
longsdotaccent.ss20.italic,
longs.ss20.italic,
m.wide,
w.wide,
fi,
fl,
A.sups,
B.sups,
C.sups,
D.sups,
E.sups,
F.sups,
G.sups,
H.sups,
I.sups,
J.sups,
K.sups,
L.sups,
M.sups,
N.sups,
O.sups,
P.sups,
Q.sups,
R.sups,
S.sups,
T.sups,
U.sups,
V.sups,
W.sups,
X.sups,
Y.sups,
Z.sups,
nmod,
ordfeminine,
ordmasculine,
"A-cy",
"Be-cy",
"Ve-cy",
"Ge-cy",
"Gje-cy",
"Geupturn-cy",
"De-cy",
"Ie-cy",
"Iegrave-cy",
"Io-cy",
"Zhe-cy",
"Ze-cy",
"Ii-cy",
"Iishort-cy",
"Iigrave-cy",
"Ka-cy",
"Kje-cy",
"El-cy",
"Em-cy",
"En-cy",
"O-cy",
"Pe-cy",
"Er-cy",
"Es-cy",
"Te-cy",
"U-cy",
"Ushort-cy",
"Ef-cy",
"Ha-cy",
"Che-cy",
"Tse-cy",
"Sha-cy",
"Shcha-cy",
"Dzhe-cy",
"Softsign-cy",
"Yeru-cy",
"Hardsign-cy",
"Lje-cy",
"Nje-cy",
"Dze-cy",
"E-cy",
"Ereversed-cy",
"I-cy",
"Yi-cy",
"Je-cy",
"Tshe-cy",
"Yu-cy",
"Ya-cy",
"Dje-cy",
"Ge-cy.ss20",
"Geupturn-cy.ss20",
"Zhe-cy.ss20",
"Ze-cy.ss20",
"Ii-cy.ss20",
"El-cy.ss20",
"Pe-cy.ss20",
"Ef-cy.ss20",
"Sha-cy.ss20",
"Shcha-cy.ss20",
"Yeru-cy.ss20",
"Lje-cy.ss20",
"Nje-cy.ss20",
"Tshe-cy.ss20",
"Yu-cy.ss20",
"Dje-cy.ss20",
"Em-cy.orig",
"a-cy",
"be-cy",
"ve-cy",
"ge-cy",
"gje-cy",
"geupturn-cy",
"de-cy",
"ie-cy",
"iegrave-cy",
"io-cy",
"zhe-cy",
"ze-cy",
"ii-cy",
"iishort-cy",
"iigrave-cy",
"ka-cy",
"kje-cy",
"el-cy",
"em-cy",
"en-cy",
"o-cy",
"pe-cy",
"er-cy",
"es-cy",
"te-cy",
"u-cy",
"ushort-cy",
"ef-cy",
"ha-cy",
"che-cy",
"tse-cy",
"sha-cy",
"shcha-cy",
"dzhe-cy",
"softsign-cy",
"yeru-cy",
"hardsign-cy",
"lje-cy",
"nje-cy",
"dze-cy",
"e-cy",
"ereversed-cy",
"i-cy",
"yi-cy",
"je-cy",
"tshe-cy",
"yu-cy",
"ya-cy",
"dje-cy",
"ge-cy.ss20",
"zhe-cy.ss20",
"em-cy.ss20",
"ef-cy.ss20",
"sha-cy.ss20",
"shcha-cy.ss20",
"yeru-cy.ss20",
"lje-cy.ss20",
"nje-cy.ss20",
"yu-cy.ss20",
Alpha,
Beta,
Gamma,
Delta,
Epsilon,
Zeta,
Eta,
Theta,
Iota,
Kappa,
Lambda,
Mu,
Nu,
Xi,
Omicron,
Pi,
Rho,
Sigma,
Tau,
Upsilon,
Phi,
Chi,
Psi,
Omega,
Alphatonos,
Epsilontonos,
Etatonos,
Iotatonos,
Omicrontonos,
Upsilontonos,
Omegatonos,
Iotadieresis,
Upsilondieresis,
UpsilonhookSymbol,
Psi.ss20,
Mu.orig,
alpha,
beta,
gamma,
delta,
epsilon,
zeta,
eta,
theta,
iota,
kappa,
lambda,
mu,
nu,
xi,
omicron,
pi,
rho,
sigmafinal,
sigma,
tau,
upsilon,
phi,
chi,
psi,
omega,
iotatonos,
iotadieresis,
iotadieresistonos,
upsilontonos,
upsilondieresis,
upsilondieresistonos,
omicrontonos,
omegatonos,
alphatonos,
epsilontonos,
etatonos,
phiSymbol,
delta.001,
zero,
one,
two,
three,
four,
five,
six,
seven,
eight,
nine,
zero.zero,
zero.osf,
one.osf,
two.osf,
three.osf,
four.osf,
five.osf,
six.osf,
seven.osf,
eight.osf,
nine.osf,
zero.zero.osf,
zero.lf,
one.lf,
two.lf,
three.lf,
four.lf,
five.lf,
six.lf,
seven.lf,
eight.lf,
nine.lf,
three.001,
zero.zero.lf,
zero.dnom,
one.dnom,
two.dnom,
three.dnom,
four.dnom,
five.dnom,
six.dnom,
seven.dnom,
eight.dnom,
nine.dnom,
zero.numr,
one.numr,
two.numr,
three.numr,
four.numr,
five.numr,
six.numr,
seven.numr,
eight.numr,
nine.numr,
fraction,
onefraction,
onehalf,
zerothird,
onethird,
twothirds,
onequarter,
threequarters,
onefifth,
twofifths,
threefifths,
fourfifths,
onesixth,
fivesixths,
oneseventh,
twosevenths,
threesevenths,
foursevenths,
fivesevenths,
sixsevenths,
oneeighth,
threeeighths,
fiveeighths,
seveneighths,
oneninth,
twoninths,
fourninths,
fiveninths,
sevenninths,
eightninths,
fraction.alt,
fraction.percent,
zeroinferior,
oneinferior,
twoinferior,
threeinferior,
fourinferior,
fiveinferior,
sixinferior,
seveninferior,
eightinferior,
nineinferior,
zerosuperior,
onesuperior,
twosuperior,
threesuperior,
foursuperior,
fivesuperior,
sixsuperior,
sevensuperior,
eightsuperior,
ninesuperior,
zerosuperior.alt001,
CR,
.notdef,
space,
nbspace,
space.frac,
space.ss20,
nbspace.ss20,
anoteleia,
period,
comma,
colon,
semicolon,
ellipsis,
exclam,
exclamdown,
question,
questiondown,
periodcentered,
bullet,
asterisk,
exclamdouble,
numbersign,
overline,
slash,
backslash,
slash.O,
slash.o,
period.ss20,
comma.ss20,
colon.ss20,
semicolon.ss20,
slash.ss20,
backslash.ss20,
asterisk.001,
hyphen,
softhyphen,
endash,
emdash,
horizontalbar,
underscore,
underscoredbl,
hyphen.ss20,
parenleft,
parenright,
braceleft,
braceright,
bracketleft,
bracketright,
leftDoubleParen,
rightDoubleParen,
quotesinglbase,
quotedblbase,
quotedblleft,
quotedblright,
quoteleft,
quoteright,
quotereversed,
quotedblrightreversed,
guillemetleft,
guillemetright,
guilsinglleft,
guilsinglright,
quotedbl,
quotesingle,
quotesinglbase.ss20,
quotedblbase.ss20,
quotedblleft.ss20,
quotedblright.ss20,
quoteleft.ss20,
quoteright.ss20,
quotereversed.ss20,
quotedblrightreversed.ss20,
guillemetleft.ss20,
guillemetright.ss20,
guilsinglleft.ss20,
guilsinglright.ss20,
quotedbl.ss20,
quotesingle.ss20,
florin,
"blank-braille",
"dots1-braille",
"dots12-braille",
"dots123-braille",
"dots1234-braille",
"dots12345-braille",
"dots123456-braille",
"dots12346-braille",
"dots1235-braille",
"dots12356-braille",
"dots1236-braille",
"dots124-braille",
"dots1245-braille",
"dots12456-braille",
"dots1246-braille",
"dots125-braille",
"dots1256-braille",
"dots126-braille",
"dots13-braille",
"dots134-braille",
"dots1345-braille",
"dots13456-braille",
"dots1346-braille",
"dots135-braille",
"dots1356-braille",
"dots136-braille",
"dots14-braille",
"dots145-braille",
"dots1456-braille",
"dots146-braille",
"dots15-braille",
"dots156-braille",
"dots16-braille",
"dots2-braille",
"dots23-braille",
"dots234-braille",
"dots2345-braille",
"dots23456-braille",
"dots2346-braille",
"dots235-braille",
"dots2356-braille",
"dots236-braille",
"dots24-braille",
"dots245-braille",
"dots2456-braille",
"dots246-braille",
"dots25-braille",
"dots256-braille",
"dots26-braille",
"dots3-braille",
"dots34-braille",
"dots345-braille",
"dots3456-braille",
"dots346-braille",
"dots35-braille",
"dots356-braille",
"dots36-braille",
"dots4-braille",
"dots45-braille",
"dots456-braille",
"dots46-braille",
"dots5-braille",
"dots56-braille",
"dots6-braille",
lnSquare,
"note-musical",
"notedbl-musical",
earthGlobeAmericas,
crescentMoon,
cloudRain,
cityscape,
houseBuilding,
thumbsUpSign,
thumbsDownSign,
bustInSilhouette,
speechBalloon,
banknoteDollarSign,
personalComputer,
floppyDisk,
tearOffCalendar,
telephoneReceiver,
mobilePhone,
antennaBars,
camera,
shuffleArrows,
repeatArrow,
speaker,
speakerWithThreeSoundWaves,
leftMagnifyingGlass,
rightMagnifyingGlass,
key,
lock,
openLock,
wrench,
blackHeart,
printer,
wastebasket,
minimize,
maximize,
clockwiseRightAndLeftSemicircleArrows,
ballotScriptX,
ballotBoxWithScriptX,
ballotBoldScriptX,
ballotBoxWithBoldScriptX,
ballotBoxWithBoldCheck,
grinningFace,
grinningFaceWithSmilingEyes,
smilingFaceWithSmilingEyes,
angryFace,
poutingFace,
shoppingTrolley,
daggerKnife,
lips,
speakingHeadInSilhouette,
cloud,
blackstar,
whitestar,
ballotBox,
ballotBoxWithCheck,
ballotBoxWithX,
heavyGreekCross,
heavenTrigram,
whiteFrowningFace,
whiteSmilingFace,
blackSmilingFace,
sunWithRays,
venus,
mars,
spadeBlackSuit,
heartWhiteSuit,
clubBlackSuit,
heartBlackSuit,
diamondBlackSuit,
whiteFlag,
blackFlag,
gearWithoutHub,
envelope,
lowerRightPencil,
checkmark,
heavyCheckMark,
multiplicationX,
heavyMultiplicationX,
ballotX,
heavyBallotX,
alternativekeysymbol,
ballotBoxWithLightX,
at,
ampersand,
paragraph,
section,
copyright,
registered,
published,
trademark,
careof,
degree,
minute,
second,
bar,
brokenbar,
dagger,
literSign,
daggerdbl,
estimated,
numero,
blackCircleForRecord,
blackLeftDoubleTriangle,
blackLeftDoubleTriangleWithVerticalBar,
blackMediumRightTriangle,
blackRightDoubleTriangle,
blackRightDoubleTriangleWithVerticalBar,
blackSmallStar,
blackSquareForStop,
doubleVerticalBar,
house,
informationsource,
capslock,
deleteLeftKey,
optionKey,
propellor,
lineFeedControl,
newlineControl,
whiteSmallStar,
acknowledgeControl,
backspaceControl,
bellControl,
cancelControl,
carriageReturnControl,
dataLinkEscapeControl,
deleteControl,
deviceControlFourControl,
deviceControlOneControl,
deviceControlThreeControl,
deviceControlTwoControl,
endOfMediumControl,
endOfTextControl,
endOfTransmissionBlockControl,
endOfTransmissionControl,
enquiryControl,
escapeControl,
fileSeparatorControl,
formFeedControl,
groupSeparatorControl,
horizontalTabulationControl,
negativeAcknowledgeControl,
nullControl,
recordSeparatorControl,
shiftInControl,
shiftOutControl,
spaceControl,
startOfHeadingControl,
startOfTextControl,
substituteControl,
synchronousIdleControl,
unitSeparatorControl,
verticalTabulationControl,
ampersand.alt001,
ampersand.alt002,
ampersand.alt003,
trademark.orig,
cent,
currency,
dollar,
euro,
franc,
lira,
peseta,
sterling,
yen,
angle,
anticlockwiseClosedCircleArrow,
bulletoperator,
divisionslash,
dotmath,
downArrowToBar,
equivalence,
estimates,
integralbt,
integraltp,
logicalnotReversed,
minussuperior,
notsubset,
notsuperset,
plus,
minus,
multiply,
divide,
equal,
notequal,
greater,
less,
greaterequal,
lessequal,
plusminus,
approxequal,
asciitilde,
logicalnot,
asciicircum,
infinity,
logicaland,
logicalor,
intersection,
union,
integral,
Ohm,
increment,
product,
summation,
radical,
partialdiff,
micro,
orthogonal,
parallel,
percent,
perthousand,
perpendicular,
plussuperior,
ratio,
setminus,
similar,
subset,
superset,
theredoesnotexist,
ratio.ss20,
upArrow,
rightArrow,
downArrow,
leftArrow,
leftRightArrow,
upDownArrow,
upFrombarArrow,
upDownbaseArrow,
carriagereturn,
upWhiteArrow,
lowerHalfBlock,
fullBlock,
upperHalfBlock,
leftBlock,
rightBlock,
shadelight,
shademedium,
shadedark,
blackCircle,
whiteCircle,
whiteBullet,
inverseBullet,
inverseWhiteCircle,
lozenge,
filledRect,
blackSquare,
whiteSquare,
blackSmallSquare,
whiteSmallSquare,
upBlackTriangle,
rightBlackTriangle,
downBlackTriangle,
leftBlackTriangle,
rightBlackPointer,
leftBlackPointer,
boxDoubleDownAndHorizontal,
boxDoubleDownAndLeft,
boxDoubleDownAndRight,
boxDoubleHorizontal,
boxDoubleUpAndHorizontal,
boxDoubleUpAndLeft,
boxDoubleUpAndRight,
boxDoubleVertical,
boxDoubleVerticalAndHorizontal,
boxDoubleVerticalAndLeft,
boxDoubleVerticalAndRight,
boxDownDoubleAndHorizontalSingle,
boxDownDoubleAndLeftSingle,
boxDownDoubleAndRightSingle,
boxDownSingleAndHorizontalDouble,
boxDownSingleAndLeftDouble,
boxDownSingleAndRightDouble,
boxLightArcDownAndLeft,
boxLightArcDownAndRight,
boxLightArcUpAndLeft,
boxLightArcUpAndRight,
boxLightDiagonalCross,
boxLightDiagonalUpperLeftToLowerRight,
boxLightDiagonalUpperRightToLowerLeft,
boxLightDownAndHorizontal,
boxLightDownAndLeft,
boxLightDownAndRight,
boxLightHorizontal,
boxLightUpAndHorizontal,
boxLightUpAndLeft,
boxLightUpAndRight,
boxLightVertical,
boxLightVerticalAndHorizontal,
boxLightVerticalAndLeft,
boxLightVerticalAndRight,
boxUpDoubleAndHorizontalSingle,
boxUpDoubleAndLeftSingle,
boxUpDoubleAndRightSingle,
boxUpSingleAndHorizontalDouble,
boxUpSingleAndLeftDouble,
boxUpSingleAndRightDouble,
boxVerticalDoubleAndHorizontalSingle,
boxVerticalDoubleAndLeftSingle,
boxVerticalDoubleAndRightSingle,
boxVerticalSingleAndHorizontalDouble,
boxVerticalSingleAndLeftDouble,
boxVerticalSingleAndRightDouble,
replacementCharacter,
brevecomb_acutecomb,
brevecomb_gravecomb,
brevecomb_hookabovecomb,
brevecomb_tildecomb,
circumflexcomb_acutecomb,
circumflexcomb_gravecomb,
circumflexcomb_hookabovecomb,
circumflexcomb_tildecomb,
dialytikatonoscomb,
tonos,
dieresistonos,
dieresiscomb,
dotaccentcomb,
gravecomb,
acutecomb,
hungarumlautcomb,
caroncomb.alt,
circumflexcomb,
caroncomb,
brevecomb,
ringcomb,
tildecomb,
macroncomb,
macroncomb_brevecomb,
overlinecomb,
hookabovecomb,
commaturnedabovecomb,
horncomb,
dotbelowcomb,
commaaccentcomb,
cedillacomb,
ogonekcomb,
strokeshortcomb,
dieresiscomb.case,
dotaccentcomb.case,
gravecomb.case,
acutecomb.case,
hungarumlautcomb.case,
circumflexcomb.case,
circumflexcomb_gravecomb.case,
circumflexcomb_acutecomb.case,
circumflexcomb_tildecomb.case,
circumflexcomb_hookabovecomb.case,
caroncomb.case,
brevecomb.case,
brevecomb_gravecomb.case,
brevecomb_acutecomb.case,
brevecomb_tildecomb.case,
brevecomb_hookabovecomb.case,
ringcomb.case,
tildecomb.case,
macroncomb.case,
macroncomb_brevecomb.case,
overlinecomb.case,
hookabovecomb.case,
horncomb.case,
dieresis,
dotaccent,
grave,
acute,
hungarumlaut,
circumflex,
firsttonechinese,
caron,
breve,
ring,
tilde,
macron,
cedilla,
ogonek,
apostrophemod,
commaturnedmod,
apostrophemod.ss20,
commaturnedmod.ss20,
uni2BE8,
uniE0A0,
uniE0A1,
uniE0A2,
uniE0A3,
uniE0B0,
uniE0B1,
uniE0B2,
uniE0B3,
uniEC00,
uniEC01,
uniEC02,
uniEC03,
uniEC07,
uniEC08,
uniEC09,
uniEC0A,
uniEC25,
uniEC26,
uniEC27,
uniEC28,
uniEC2A,
uniEC2B,
uniEC2C,
uniEC2E,
uniEC2F,
uniEF00,
uniEF01,
uniEF02,
uniEF03,
uniEF04,
uniEF05,
uniEF06,
uniEF07,
uniEF08,
uniEF09,
uniEF0A,
uniEF0B,
uniEF0C,
uniEF0D,
uniEF0E,
uniEF0F,
uniEF10,
uniEF11,
uniEF12,
uniEF13,
uniEF14,
uniEF15,
uniEF16,
uniEF17,
uniEF18,
uniEF19,
uniEF1A,
uniEF1B,
uniEF1C,
uniEF1D,
uniEF1E,
uniEF1F,
uniEF20,
uniEF21,
uniEF22,
uniEF23,
uniEF24,
uniEF25,
uniEF26,
uniEF27,
uniEF28,
uniEF29,
uniEF2A,
uniEF2B,
uniEF2C,
uniEF2D,
uniEF2E,
uniEF2F,
uniEF30,
uniEF31,
uniEF32,
uniEF33,
uniEF34,
uniEF35,
uniEF36,
uniEF37,
uniEF38,
uniEF39,
uniEF3A,
uniEF3B,
uniEF3C,
uniEF3D,
uniEF3E,
uniEF3F,
uniEF40,
uniEF41,
uniEF42,
uniEF43,
uniEF44,
uniEF45,
uniEF46,
uniEF47,
uniEF48,
uniEF49,
uniEF4A,
uniEF4B,
uniEF4C,
uniEF4D,
uniEF4E,
uniEF4F,
uniEF50,
uniEF51,
uniEF52,
uniEF53,
uniEF54,
uniEF55,
uniEF56,
uniEF57,
uniEF58,
uniEF59,
uniEF5A,
uniEF5B,
uniEF5C,
uniEF5D,
uniEF5E,
uniEF5F,
uniEF60,
uniEF61,
uniEF62,
uniEF63,
uniEF64,
uniEF65,
uniEF66,
uniEF67,
uniEF68,
uniEF69,
uniEF6A,
uniEF6B,
uniEF6C,
uniEF6D,
uniEF6E,
uniEF6F,
uniEF70,
uniEF71,
uniEF72,
uniEF73,
uniEF74,
uniEF75,
uniEF76,
uniEF77,
uniEF78,
uniEF79,
uniEF7A,
uniEF7B,
uniEF7C,
uniEF7D,
uniEF7E,
uniEF7F,
uniEF80,
uniEF81,
uniEF82,
uniEF83,
uniEF84,
uniEF85,
uniEF86,
uniEF87,
uniEF88,
uniEF89,
uniEF8A,
uniEF8B,
uniEF8C,
uniEF8D,
uniEF8E,
uniEF8F,
uniEF90,
uniEF91,
uniEF92,
uniEF93,
uniEF94,
uniEF95,
uniEF96,
uniEF97,
uniEF98,
uniEF99,
uniEF9A,
uniEF9B,
uniEF9C,
uniEF9D,
uniEF9E,
uniEF9F,
uniEFA3,
uniEFA4,
uniEFA5,
uniEFA6,
uniEFA7,
uniEFA8,
uniEFA9,
uniEFAA,
uniEFAB,
uniEFAC,
orn001,
orn002,
emoji.eyes,
emoji.mouth,
_part.slash.comp,
emoji.eyes.angry,
emoji.eyes.smiling,
emoji.mouth.grinning,
ocedilla,
pixel,
_part.asterisk,
_part.bowl,
_part.geartooth,
_part.stroke,
pixel.round,
_part.notmath.comp
)