{
displayStrings = (
"/brevecomb_gravecomb.case/brevecomb_acutecomb.case/brevecomb_tildecomb.case/brevecomb_hookabovecomb.case",
"/circumflexcomb_gravecomb.case/circumflexcomb_acutecomb.case/circumflexcomb_tildecomb.case/brevecomb_tildecomb.case/circumflexcomb_hookabovecomb.case/brevecomb_gravecomb.case/brevecomb_acutecomb.case/brevecomb_hookabovecomb.case/macroncomb_brevecomb.case/brevecomb.case",
"̧ȩ̨Ęeę",
"/O.ss20 Ơ/Ohorn.ss20/Ohornacute.ss20",
"ť/Oacute.ss20/Obreve.ss20/Ocaron.ss20/Ocircumflex.ss20/Ocircumflexacute.ss20/Ocircumflexdotbelow.ss20/Ocircumflexgrave.ss20/Ocircumflexhookabove.ss20/Ocircumflextilde.ss20/Odieresis.ss20/Odotaccent.ss20/Odotbelow.ss20/Ograve.ss20/Ohookabove.ss20/Ohungarumlaut.ss20/Omacron.ss20/Oogonek.ss20/Oslash.ss20/Otilde.ss20 ơ"
);
}
