{
displayStrings = (
"fndthinsnznt
Jens Kutilek, Berlin
HANDGLOVES THE QUICK BROWN
FOX JUMPS OVER LAZY DOG",
",.nnnh.",
"back under your leaves
back under your leaves n.r.n
back under your leaves n.r.n
back under your leaves n.r.n.",
urlhaub,
"e-+2n",
SHELE,
OQup,
"abcdeftghijklmnopqrstuvwxyz
nnfnnfoff
Hagelzucher Duchlauferhitzer",
"⁴bp",
"DRauchen
schädigt ihre
Lungena",
"║"
);
}
