(
A,
A.hex,
A.short,
Aacute,
Abreve,
Abreveacute,
Abrevedotbelow,
Abrevegrave,
Abrevehookabove,
Abrevetilde,
Acaron,
Acircumflex,
Acircumflexacute,
Acircumflexdotbelow,
Acircumflexgrave,
Acircumflexhookabove,
Acircumflextilde,
Adieresis,
Adieresismacron,
Adotaccent,
Adotbelow,
Agrave,
Ahookabove,
Amacron,
Aogonek,
Aring,
Aringacute,
Atilde,
AE,
AEacute,
AEmacron,
B,
B.hex,
B.short,
Bdotaccent,
Bdotbelow,
Bhook,
Bmacronbelow,
Bstroke,
C,
C.hex,
C.short,
Cacute,
Ccaron,
Ccedilla,
Ccedillaacute,
Ccircumflex,
Cdotaccent,
Chook,
D,
D.hex,
D.short,
Dcaron,
Dcedilla,
Dcroat,
Ddotaccent,
Ddotbelow,
Dhook,
Dmacronbelow,
Eth,
E,
E.hex,
E.short,
Eacute,
Ebreve,
Ecaron,
Ecedilla,
Ecedillabreve,
Ecircumflex,
Ecircumflexacute,
Ecircumflexdotbelow,
Ecircumflexgrave,
Ecircumflexhookabove,
Ecircumflextilde,
Edieresis,
Edotaccent,
Edotbelow,
Egrave,
Ehookabove,
Emacron,
Emacronacute,
Emacrongrave,
Eogonek,
Eopen,
Etilde,
Eturned,
Schwa,
Ezh,
Ezhcaron,
F,
F.hex,
F.short,
Fdotaccent,
G,
G.short,
Gacute,
Gbreve,
Gcaron,
Gcircumflex,
Gcommaaccent,
Gdotaccent,
Gmacron,
Gstroke,
H,
Hbar,
Hbrevebelow,
Hcaron,
Hcedilla,
Hcircumflex,
Hdieresis,
Hdotaccent,
Hdotbelow,
Hturned,
I,
I.cv02,
I.short,
I.short.cv02,
IJ,
Iacute,
Iacute.cv02,
Ibreve,
Ibreve.cv02,
Icapitalsmall,
Icapitalsmall.cv02,
Icaron,
Icaron.cv02,
Icircumflex,
Icircumflex.cv02,
Idieresis,
Idieresis.cv02,
Idieresisacute,
Idieresisacute.cv02,
Idotaccent,
Idotaccent.cv02,
Idotbelow,
Idotbelow.cv02,
Igrave,
Igrave.cv02,
Ihookabove,
Ihookabove.cv02,
Imacron,
Imacron.cv02,
Iogonek,
Iogonek.cv02,
Istroke,
Istroke.cv02,
Itilde,
Itilde.cv02,
J,
J.cv03,
Jacute,
Jacute.cv03,
Jcircumflex,
Jcircumflex.cv03,
K,
K.short,
Kacute,
Kcaron,
Kcommaaccent,
Kdotbelow,
Khook,
Kmacronbelow,
L,
Lacute,
Lbar,
Lcaron,
Lcommaaccent,
Ldot,
Ldotbelow,
Ldotbelowmacron,
Lmacronbelow,
Lslash,
M,
Macute,
Mdotaccent,
Mdotbelow,
N,
N.short,
Nacute,
Ncaron,
Ncommaaccent,
Ndotaccent,
Ndotbelow,
Ngrave,
Nhookleft,
Nmacronbelow,
Ntilde,
Eng,
Eng.loclNSM,
O,
O.short,
Oacute,
Obarred,
Obreve,
Ocaron,
Ocircumflex,
Ocircumflexacute,
Ocircumflexdotbelow,
Ocircumflexgrave,
Ocircumflexhookabove,
Ocircumflextilde,
Odieresis,
Odieresismacron,
Odotaccent,
Odotaccentmacron,
Odotbelow,
Ograve,
Ohookabove,
Ohorn,
Ohorn.short,
Ohornacute,
Ohorndotbelow,
Ohorngrave,
Ohornhookabove,
Ohorntilde,
Ohungarumlaut,
Omacron,
Omacronacute,
Omacrongrave,
Oogonek,
Oogonekmacron,
Oopen,
Oslash,
Oslashacute,
Otilde,
Otildemacron,
OE,
P,
P.short,
Pacute,
Pdotaccent,
Thorn,
Q,
R,
R.short,
Racute,
Rcaron,
Rcommaaccent,
Rdotaccent,
Rdotbelow,
Rdotbelowmacron,
Rinvertedbreve,
Rmacronbelow,
S,
S.short,
S_horncomb,
Sacute,
Scaron,
Scedilla,
Scircumflex,
Scommaaccent,
Sdotaccent,
Sdotbelow,
Sdotbelowdotaccent,
Germandbls,
Sobliquestroke,
T,
T.short,
T_horncomb,
Tbar,
Tcaron,
Tcedilla,
Tcommaaccent,
Tdotaccent,
Tdotbelow,
Tmacronbelow,
U,
U.short,
U.short.2,
Uacute,
Ubreve,
Ucaron,
Ucircumflex,
Udieresis,
Udieresisacute,
Udieresiscaron,
Udieresisgrave,
Udieresismacron,
Udotbelow,
Ugrave,
Uhookabove,
Uhorn,
Uhorn.short,
Uhornacute,
Uhorndotbelow,
Uhorngrave,
Uhornhookabove,
Uhorntilde,
Uhungarumlaut,
Umacron,
Uogonek,
Uring,
Utilde,
V,
Vdotbelow,
Vtilde,
Vturned,
W,
W.short,
Wacute,
Wcircumflex,
Wdieresis,
Wdotaccent,
Wdotbelow,
Wgrave,
X,
Xdieresis,
Xdotaccent,
Y,
Y.short,
Yacute,
Ycircumflex,
Ydieresis,
Ydotaccent,
Ydotbelow,
Ygrave,
Yhook,
Yhookabove,
Ymacron,
Ytilde,
Z,
Zacute,
Zcaron,
Zcircumflex,
Zdotaccent,
Zdotbelow,
Zmacronbelow,
Zstroke,
jcaron.case,
jcaron.case.cv03,
Ismall,
Ismallstroke,
a,
aacute,
abreve,
abreveacute,
abrevedotbelow,
abrevegrave,
abrevehookabove,
abrevetilde,
acaron,
acircumflex,
acircumflexacute,
acircumflexdotbelow,
acircumflexgrave,
acircumflexhookabove,
acircumflextilde,
adieresis,
adieresismacron,
adotaccent,
adotbelow,
agrave,
ahookabove,
amacron,
aogonek,
aring,
aringacute,
atilde,
ae,
aeacute,
aemacron,
b,
bdotaccent,
bdotbelow,
bhook,
bmacronbelow,
bstroke,
c,
cacute,
ccaron,
ccedilla,
ccedillaacute,
ccircumflex,
cdotaccent,
chook,
d,
dcaron,
dcedilla,
dcroat,
ddotaccent,
ddotbelow,
dhook,
dmacronbelow,
eth,
e,
eacute,
ebreve,
ecaron,
ecedilla,
ecedillabreve,
ecircumflex,
ecircumflexacute,
ecircumflexdotbelow,
ecircumflexgrave,
ecircumflexhookabove,
ecircumflextilde,
edieresis,
edotaccent,
edotbelow,
egrave,
ehookabove,
emacron,
emacronacute,
emacrongrave,
eogonek,
eopen,
etilde,
eturned,
schwa,
ezh,
ezhcaron,
f,
f.italic,
fdotaccent,
g,
g.cv01,
g.ss05,
gacute,
gacute.cv01,
gacute.ss05,
gbreve,
gbreve.cv01,
gbreve.ss05,
gcaron,
gcaron.cv01,
gcaron.ss05,
gcircumflex,
gcircumflex.cv01,
gcircumflex.ss05,
gcommaaccent,
gcommaaccent.cv01,
gcommaaccent.ss05,
gdotaccent,
gdotaccent.cv01,
gdotaccent.ss05,
gmacron,
gmacron.cv01,
gmacron.ss05,
gstroke,
gstroke.cv01,
gstroke.ss05,
h,
hbar,
hbrevebelow,
hcaron,
hcedilla,
hcircumflex,
hdieresis,
hdotaccent,
hdotbelow,
hmacronbelow,
hturned,
i,
i.cv02,
idotless,
idotless.cv02,
iacute,
iacute.cv02,
ibreve,
ibreve.cv02,
icaron,
icaron.cv02,
icircumflex,
icircumflex.cv02,
idieresis,
idieresis.cv02,
idieresisacute,
idieresisacute.cv02,
idotbelow,
idotbelow.cv02,
idotbelow.dotless,
idotbelow.dotless.cv02,
igrave,
igrave.cv02,
ihookabove,
ihookabove.cv02,
imacron,
imacron.cv02,
iogonek,
iogonek.cv02,
iogonek.dotless,
iogonek.dotless.cv02,
iotastroke,
istroke,
istroke.cv02,
istroke.dotless,
istroke.dotless.cv02,
itilde,
itilde.cv02,
ij,
j,
j.cv03,
jdotless,
jdotless.cv03,
jacute,
jacute.cv03,
jcaron,
jcaron.cv03,
jcircumflex,
jcircumflex.cv03,
k,
kacute,
kcaron,
kcommaaccent,
kdotbelow,
kgreenlandic,
khook,
kmacronbelow,
l,
l.cv04,
lacute,
lacute.cv04,
lbar,
lbar.cv04,
lcaron,
lcaron.cv04,
lcommaaccent,
lcommaaccent.cv04,
ldot,
ldot.cv04,
ldotbelow,
ldotbelow.cv04,
ldotbelowmacron,
ldotbelowmacron.cv04,
lmacronbelow,
lmacronbelow.cv04,
longsdotaccent,
longsdotaccent.italic,
lslash,
lslash.cv04,
m,
m.cv05.1,
m.cv05.2,
macute,
mdotaccent,
mdotbelow,
n,
nacute,
napostrophe,
ncaron,
ncommaaccent,
ndotaccent,
ndotbelow,
ngrave,
nhookleft,
nmacronbelow,
ntilde,
eng,
o,
oacute,
obarred,
obreve,
ocaron,
ocircumflex,
ocircumflexacute,
ocircumflexdotbelow,
ocircumflexgrave,
ocircumflexhookabove,
ocircumflextilde,
odieresis,
odieresismacron,
odotaccent,
odotaccentmacron,
odotbelow,
ograve,
ohookabove,
ohorn,
ohornacute,
ohorndotbelow,
ohorngrave,
ohornhookabove,
ohorntilde,
ohungarumlaut,
omacron,
omacronacute,
omacrongrave,
oogonek,
oogonekmacron,
oopen,
oslash,
oslashacute,
otilde,
otildemacron,
oe,
p,
pacute,
pdotaccent,
thorn,
q,
r,
racute,
rcaron,
rcommaaccent,
rdotaccent,
rdotbelow,
rdotbelowmacron,
rinvertedbreve,
rmacronbelow,
s,
s_horncomb,
sacute,
scaron,
scedilla,
scircumflex,
scommaaccent,
sdotaccent,
sdotbelow,
sdotbelowdotaccent,
germandbls,
germandbls.italic,
sobliquestroke,
longs,
longs.italic,
t,
t_horncomb,
tbar,
tcaron,
tcedilla,
tcommaaccent,
tdieresis,
tdotaccent,
tdotbelow,
tmacronbelow,
u,
uacute,
ubreve,
ucaron,
ucircumflex,
udieresis,
udieresisacute,
udieresiscaron,
udieresisgrave,
udieresismacron,
udotbelow,
ugrave,
uhookabove,
uhorn,
uhornacute,
uhorndotbelow,
uhorngrave,
uhornhookabove,
uhorntilde,
uhungarumlaut,
umacron,
uogonek,
uring,
utilde,
v,
vdotbelow,
vtilde,
vturned,
w,
w.italic,
wacute,
wacute.italic,
wcircumflex,
wcircumflex.italic,
wdieresis,
wdieresis.italic,
wdotaccent,
wdotaccent.italic,
wdotbelow,
wdotbelow.italic,
wgrave,
wgrave.italic,
wring,
wring.italic,
x,
xdieresis,
xdotaccent,
y,
yacute,
ycircumflex,
ydieresis,
ydotaccent,
ydotbelow,
ygrave,
yhook,
yhookabove,
ymacron,
yring,
ytilde,
z,
zacute,
zcaron,
zcircumflex,
zdotaccent,
zdotbelow,
zmacronbelow,
zstroke,
A.sups,
B.sups,
C.sups,
D.sups,
E.sups,
F.sups,
G.sups,
H.sups,
I.sups,
J.sups,
K.sups,
L.sups,
M.sups,
N.sups,
O.sups,
P.sups,
Q.sups,
R.sups,
S.sups,
T.sups,
U.sups,
V.sups,
W.sups,
X.sups,
Y.sups,
Z.sups,
ordfeminine,
ordmasculine,
hmod,
nmod,
rmod,
smod,
"A-cy",
"Be-cy",
"Ve-cy",
"Ge-cy",
"Gje-cy",
"Geupturn-cy",
"De-cy",
"Ie-cy",
"Iegrave-cy",
"Io-cy",
"Zhe-cy",
"Ze-cy",
"Ii-cy",
"Iishort-cy",
"Iigrave-cy",
"Ka-cy",
"Kje-cy",
"El-cy",
"Em-cy",
"En-cy",
"O-cy",
"Pe-cy",
"Er-cy",
"Es-cy",
"Te-cy",
"U-cy",
"Ushort-cy",
"Ef-cy",
"Ha-cy",
"Tse-cy",
"Che-cy",
"Sha-cy",
"Shcha-cy",
"Dzhe-cy",
"Softsign-cy",
"Yeru-cy",
"Hardsign-cy",
"Lje-cy",
"Nje-cy",
"Dze-cy",
"E-cy",
"Ereversed-cy",
"I-cy",
"I-cy.cv02",
"Yi-cy",
"Yi-cy.cv02",
"Je-cy",
"Je-cy.cv03",
"Tshe-cy",
"Yu-cy",
"Ya-cy",
"Dje-cy",
"Palochka-cy",
"Palochka-cy.cv02",
"a-cy",
"be-cy",
"ve-cy",
"ge-cy",
"gje-cy",
"geupturn-cy",
"de-cy",
"ie-cy",
"iegrave-cy",
"io-cy",
"zhe-cy",
"ze-cy",
"ii-cy",
"iishort-cy",
"iigrave-cy",
"ka-cy",
"kje-cy",
"el-cy",
"em-cy",
"en-cy",
"o-cy",
"pe-cy",
"er-cy",
"es-cy",
"te-cy",
"u-cy",
"ushort-cy",
"ef-cy",
"ha-cy",
"tse-cy",
"che-cy",
"sha-cy",
"shcha-cy",
"dzhe-cy",
"softsign-cy",
"yeru-cy",
"hardsign-cy",
"lje-cy",
"nje-cy",
"dze-cy",
"e-cy",
"ereversed-cy",
"i-cy",
"i-cy.cv02",
"i-cy.dotless",
"i-cy.dotless.cv02",
"yi-cy",
"yi-cy.cv02",
"je-cy",
"je-cy.cv03",
"tshe-cy",
"yu-cy",
"ya-cy",
"dje-cy",
"palochka-cy",
"palochka-cy.cv02",
"ve-cy.loclRUS",
"ge-cy.loclRUS",
"gje-cy.loclRUS",
"de-cy.loclRUS",
"ii-cy.loclRUS",
"iishort-cy.loclRUS",
"iigrave-cy.loclRUS",
"ka-cy.loclRUS",
"kje-cy.loclRUS",
"pe-cy.loclRUS",
"te-cy.loclRUS",
"tse-cy.loclRUS",
"sha-cy.loclRUS",
"shcha-cy.loclRUS",
"dzhe-cy.loclRUS",
Alpha,
Beta,
Gamma,
Delta,
Epsilon,
Zeta,
Eta,
Theta,
Iota,
Iota.cv02,
Kappa,
Lambda,
Mu,
Nu,
Xi,
Omicron,
Pi,
Rho,
Sigma,
Tau,
Upsilon,
Phi,
Chi,
Psi,
Omega,
Alphatonos,
Epsilontonos,
Etatonos,
Iotatonos,
Iotatonos.cv02,
Omicrontonos,
Upsilontonos,
Omegatonos,
Iotadieresis,
Iotadieresis.cv02,
Upsilondieresis,
UpsilonhookSymbol,
alpha,
beta,
gamma,
delta,
epsilon,
zeta,
eta,
theta,
iota,
kappa,
lambda,
mu,
nu,
xi,
omicron,
pi,
rho,
sigmafinal,
sigma,
tau,
upsilon,
phi,
chi,
psi,
omega,
iotatonos,
iotadieresis,
iotadieresistonos,
upsilontonos,
upsilondieresis,
upsilondieresistonos,
omicrontonos,
omegatonos,
alphatonos,
epsilontonos,
etatonos,
phiSymbol,
amod,
dmod,
omod,
tmod,
zero,
one,
two,
three,
four,
five,
six,
seven,
eight,
nine,
zero.cv06,
zero.osf,
zero.zero,
one.osf,
two.osf,
three.osf,
four.osf,
five.osf,
six.osf,
seven.cv07,
seven.osf,
eight.osf,
nine.osf,
zero.osf.cv06,
zero.zero.osf,
seven.osf.cv07,
zero.dnom,
one.dnom,
two.dnom,
three.dnom,
four.dnom,
five.dnom,
six.dnom,
seven.dnom,
eight.dnom,
nine.dnom,
zero.numr,
one.numr,
two.numr,
three.numr,
four.numr,
five.numr,
six.numr,
seven.numr,
eight.numr,
nine.numr,
fraction,
onefraction,
onehalf,
zerothird,
onethird,
twothirds,
onequarter,
threequarters,
onefifth,
twofifths,
threefifths,
fourfifths,
onesixth,
fivesixths,
oneseventh,
oneeighth,
threeeighths,
fiveeighths,
seveneighths,
oneninth,
seven.dnom.cv07,
seven.numr.cv07,
fraction.alt,
fraction.percent,
oneseventh.cv07,
seveneighths.cv07,
zeroinferior,
oneinferior,
twoinferior,
threeinferior,
fourinferior,
fiveinferior,
sixinferior,
seveninferior,
eightinferior,
nineinferior,
zerosuperior,
onesuperior,
twosuperior,
threesuperior,
foursuperior,
fivesuperior,
sixsuperior,
sevensuperior,
eightsuperior,
ninesuperior,
seveninferior.cv07,
zerosuperior.alt001,
sevensuperior.cv07,
space,
nbspace,
zerowidthspace,
zerowidthnonjoiner,
zerowidthjoiner,
zeroWidthNoBreakSpace,
.notdef,
CR,
anoteleia,
questiongreek,
"leftanglebracket-math",
"rightanglebracket-math",
period,
comma,
colon,
colon.alt,
semicolon,
ellipsis,
exclam,
exclamdown,
question,
questiondown,
periodcentered,
periodcentered.loclCAT,
bullet,
asterisk,
asterism,
dblverticalbar,
exclamdouble,
numbersign,
overline,
slash,
backslash,
hyphen,
endash,
emdash,
horizontalbar,
underscore,
underscoredbl,
parenleft,
parenright,
braceleft,
braceright,
bracketleft,
bracketright,
leftDoubleParen,
rightDoubleParen,
heavyleftpointinganglequotationmarkornament,
heavyrightpointinganglequotationmarkornament,
quotesinglbase,
quotedblbase,
quotedblleft,
quotedblright,
quoteleft,
quoteright,
quotereversed,
quotedblrightreversed,
guillemetleft,
guillemetright,
guilsinglleft,
guilsinglright,
quotedbl,
quotesingle,
florin,
"blank-braille",
"dots1-braille",
"dots12-braille",
"dots123-braille",
"dots1234-braille",
"dots12345-braille",
"dots123456-braille",
"dots12346-braille",
"dots1235-braille",
"dots12356-braille",
"dots1236-braille",
"dots124-braille",
"dots1245-braille",
"dots12456-braille",
"dots1246-braille",
"dots125-braille",
"dots1256-braille",
"dots126-braille",
"dots13-braille",
"dots134-braille",
"dots1345-braille",
"dots13456-braille",
"dots1346-braille",
"dots135-braille",
"dots1356-braille",
"dots136-braille",
"dots14-braille",
"dots145-braille",
"dots1456-braille",
"dots146-braille",
"dots15-braille",
"dots156-braille",
"dots16-braille",
"dots2-braille",
"dots23-braille",
"dots234-braille",
"dots2345-braille",
"dots23456-braille",
"dots2346-braille",
"dots235-braille",
"dots2356-braille",
"dots236-braille",
"dots24-braille",
"dots245-braille",
"dots2456-braille",
"dots246-braille",
"dots25-braille",
"dots256-braille",
"dots26-braille",
"dots3-braille",
"dots34-braille",
"dots345-braille",
"dots3456-braille",
"dots346-braille",
"dots35-braille",
"dots356-braille",
"dots36-braille",
"dots4-braille",
"dots45-braille",
"dots456-braille",
"dots46-braille",
"dots5-braille",
"dots56-braille",
"dots6-braille",
lnSquare,
"note-musical",
"notedbl-musical",
baht,
crescentMoon,
cloudRain,
houseBuilding,
thumbsUpSign,
thumbsDownSign,
bustInSilhouette,
speechBalloon,
floppyDisk,
dvd,
fileFolder,
openFileFolder,
tearOffCalendar,
telephoneReceiver,
mobilePhone,
antennaBars,
shuffleArrows,
repeatArrow,
speaker,
speakerWithThreeSoundWaves,
leftMagnifyingGlass,
rightMagnifyingGlass,
key,
lock,
openLock,
blackHeart,
folder,
openFolder,
wastebasket,
minimize,
maximize,
clockwiseRightAndLeftSemicircleArrows,
ballotScriptX,
ballotBoxWithScriptX,
ballotBoldScriptX,
ballotBoxWithBoldScriptX,
ballotBoxWithBoldCheck,
grinningFace,
grinningFaceWithSmilingEyes,
smilingFaceWithSmilingEyes,
angryFace,
poutingFace,
shoppingTrolley,
cloud,
blackStar,
whiteStar,
ballotBox,
ballotBoxWithCheck,
ballotBoxWithX,
heavyGreekCross,
heavenTrigram,
whiteFrowningFace,
whiteSmilingFace,
blackSmilingFace,
sunWithRays,
venus,
mars,
spadeBlackSuit,
heartWhiteSuit,
clubBlackSuit,
heartBlackSuit,
diamondBlackSuit,
whiteFlag,
blackFlag,
threeLinesConvergingRight,
threeLinesConvergingLeft,
gearWithoutHub,
envelope,
lowerRightPencil,
checkmark,
heavyCheckMark,
multiplicationX,
heavyMultiplicationX,
ballotX,
heavyBallotX,
acknowledgeControl,
aktieselskab,
alternativekeysymbol,
backspaceControl,
ballotBoxWithLightX,
at,
ampersand,
ampersand.cv08,
ampersand.cv08.1,
paragraph,
section,
copyright,
registered,
published,
trademark,
careof,
degree,
minute,
second,
bar,
brokenbar,
dagger,
literSign,
daggerdbl,
estimated,
numero,
bellControl,
blackCircleForRecord,
blackLeftDoubleTriangle,
blackLeftDoubleTriangleWithVerticalBar,
blackMediumRightTriangle,
blackRightDoubleTriangle,
blackRightDoubleTriangleWithVerticalBar,
blackSmallStar,
blackSquareForStop,
cancelControl,
carriageReturnControl,
dataLinkEscapeControl,
deleteControl,
deviceControlFourControl,
deviceControlOneControl,
deviceControlThreeControl,
deviceControlTwoControl,
doubleVerticalBar,
endOfMediumControl,
endOfTextControl,
endOfTransmissionBlockControl,
endOfTransmissionControl,
enquiryControl,
escapeControl,
fileSeparatorControl,
formFeedControl,
groupSeparatorControl,
horizontalTabulationControl,
house,
informationsource,
capslock,
deleteLeftKey,
optionKey,
propellor,
lineFeedControl,
negativeAcknowledgeControl,
newlineControl,
nullControl,
recordSeparatorControl,
replacementCharacter,
shiftInControl,
shiftOutControl,
spaceControl,
startOfHeadingControl,
startOfTextControl,
substituteControl,
synchronousIdleControl,
unitSeparatorControl,
verticalTabulationControl,
whiteSmallStar,
warningSign,
bitcoin,
cedi,
cent,
colonsign,
currency,
dollar,
dong,
euro,
franc,
guarani,
hryvnia,
kip,
lari,
lira,
liraTurkish,
manat,
naira,
peseta,
peso,
riyalSaudi,
ruble,
rupee,
rupeeIndian,
sterling,
tenge,
tugrik,
won,
yen,
angle,
anticlockwiseClosedCircleArrow,
bulletoperator,
divisionslash,
dotmath,
downArrowToBar,
equivalence,
estimates,
integralbt,
integraltp,
logicalnotReversed,
minussuperior,
notsubset,
notsuperset,
plus,
minus,
multiply,
divide,
equal,
notequal,
greater,
less,
greaterequal,
lessequal,
plusminus,
approxequal,
asciitilde,
logicalnot,
asciicircum,
infinity,
emptyset,
logicaland,
logicalor,
intersection,
union,
integral,
Ohm,
increment,
product,
summation,
radical,
partialdiff,
micro,
orthogonal,
parallel,
percent,
perthousand,
perpendicular,
plussuperior,
ratio,
setminus,
similar,
subset,
superset,
theredoesnotexist,
upArrow,
northEastArrow,
rightArrow,
southEastArrow,
downArrow,
southWestArrow,
leftArrow,
northWestArrow,
leftRightArrow,
upDownArrow,
upFrombarArrow,
upDownbaseArrow,
downTipRightArrow,
carriagereturn,
upWhiteArrow,
lowerOneEighthBlock,
lowerOneQuarterBlock,
lowerThreeEighthsBlock,
lowerHalfBlock,
lowerFiveEighthsBlock,
lowerThreeQuartersBlock,
lowerSevenEighthsBlock,
fullBlock,
upperHalfBlock,
upperOneEighthBlock,
leftOneEighthBlock,
leftOneQuarterBlock,
leftThreeEighthsBlock,
leftBlock,
leftFiveEighthsBlock,
leftThreeQuartersBlock,
leftSevenEighthsBlock,
rightBlock,
rightOneEighthBlock,
lowerLeftBlock,
lowerRightBlock,
upperLeftBlock,
upperLeftAndLowerLeftAndLowerRightBlock,
upperLeftAndLowerRightBlock,
upperLeftAndUpperRightAndLowerLeftBlock,
upperLeftAndUpperRightAndLowerRightBlock,
upperRightBlock,
upperRightAndLowerLeftBlock,
upperRightAndLowerLeftAndLowerRightBlock,
shadelight,
shademedium,
shadedark,
blackCircle,
whiteCircle,
dottedCircle,
whiteBullet,
inverseBullet,
inverseWhiteCircle,
blackDiamond,
whiteDiamond,
lozenge,
filledRect,
blackSquare,
whiteSquare,
upperlefttolowerrightFillSquare,
upperrighttolowerleftFillSquare,
blackSmallSquare,
whiteSmallSquare,
upBlackTriangle,
rightBlackTriangle,
downBlackTriangle,
leftBlackTriangle,
upWhiteTriangle,
rightWhiteTriangle,
downWhiteTriangle,
leftWhiteTriangle,
rightBlackPointer,
leftBlackPointer,
rightWhitePointer,
leftWhitePointer,
upBlackSmallTriangle,
rightBlackSmallTriangle,
downBlackSmallTriangle,
leftBlackSmallTriangle,
upWhiteSmallTriangle,
rightWhiteSmallTriangle,
downWhiteSmallTriangle,
leftWhiteSmallTriangle,
upperRightBlackTriangle,
lowerRightBlackTriangle,
lowerLeftBlackTriangle,
upperLeftBlackTriangle,
boxDoubleDownAndHorizontal,
boxDoubleDownAndLeft,
boxDoubleDownAndRight,
boxDoubleHorizontal,
boxDoubleUpAndHorizontal,
boxDoubleUpAndLeft,
boxDoubleUpAndRight,
boxDoubleVertical,
boxDoubleVerticalAndHorizontal,
boxDoubleVerticalAndLeft,
boxDoubleVerticalAndRight,
boxDownDoubleAndHorizontalSingle,
boxDownDoubleAndLeftSingle,
boxDownDoubleAndRightSingle,
boxDownHeavyAndHorizontalLight,
boxDownHeavyAndLeftLight,
boxDownHeavyAndLeftUpLight,
boxDownHeavyAndRightLight,
boxDownHeavyAndRightUpLight,
boxDownHeavyAndUpHorizontalLight,
boxDownLightAndHorizontalHeavy,
boxDownLightAndLeftHeavy,
boxDownLightAndLeftUpHeavy,
boxDownLightAndRightHeavy,
boxDownLightAndRightUpHeavy,
boxDownLightAndUpHorizontalHeavy,
boxDownSingleAndHorizontalDouble,
boxDownSingleAndLeftDouble,
boxDownSingleAndRightDouble,
boxHeavyDoubleDashHorizontal,
boxHeavyDoubleDashVertical,
boxHeavyDown,
boxHeavyDownAndHorizontal,
boxHeavyDownAndLeft,
boxHeavyDownAndRight,
boxHeavyHorizontal,
boxHeavyLeft,
boxHeavyLeftAndLightRight,
boxHeavyQuadrupleDashHorizontal,
boxHeavyQuadrupleDashVertical,
boxHeavyRight,
boxHeavyTripleDashHorizontal,
boxHeavyTripleDashVertical,
boxHeavyUp,
boxHeavyUpAndHorizontal,
boxHeavyUpAndLeft,
boxHeavyUpAndLightDown,
boxHeavyUpAndRight,
boxHeavyVertical,
boxHeavyVerticalAndHorizontal,
boxHeavyVerticalAndLeft,
boxHeavyVerticalAndRight,
boxLeftDownHeavyAndRightUpLight,
boxLeftHeavyAndRightDownLight,
boxLeftHeavyAndRightUpLight,
boxLeftHeavyAndRightVerticalLight,
boxLeftLightAndRightDownHeavy,
boxLeftLightAndRightUpHeavy,
boxLeftLightAndRightVerticalHeavy,
boxLeftUpHeavyAndRightDownLight,
boxLightArcDownAndLeft,
boxLightArcDownAndRight,
boxLightArcUpAndLeft,
boxLightArcUpAndRight,
boxLightDiagonalCross,
boxLightDiagonalUpperLeftToLowerRight,
boxLightDiagonalUpperRightToLowerLeft,
boxLightDoubleDashHorizontal,
boxLightDoubleDashVertical,
boxLightDown,
boxLightDownAndHorizontal,
boxLightDownAndLeft,
boxLightDownAndRight,
boxLightHorizontal,
boxLightLeft,
boxLightLeftAndHeavyRight,
boxLightQuadrupleDashHorizontal,
boxLightQuadrupleDashVertical,
boxLightRight,
boxLightTripleDashHorizontal,
boxLightTripleDashVertical,
boxLightUp,
boxLightUpAndHeavyDown,
boxLightUpAndHorizontal,
boxLightUpAndLeft,
boxLightUpAndRight,
boxLightVertical,
boxLightVerticalAndHorizontal,
boxLightVerticalAndLeft,
boxLightVerticalAndRight,
boxRightDownHeavyAndLeftUpLight,
boxRightHeavyAndLeftDownLight,
boxRightHeavyAndLeftUpLight,
boxRightHeavyAndLeftVerticalLight,
boxRightLightAndLeftDownHeavy,
boxRightLightAndLeftUpHeavy,
boxRightLightAndLeftVerticalHeavy,
boxRightUpHeavyAndLeftDownLight,
boxUpDoubleAndHorizontalSingle,
boxUpDoubleAndLeftSingle,
boxUpDoubleAndRightSingle,
boxUpHeavyAndDownHorizontalLight,
boxUpHeavyAndHorizontalLight,
boxUpHeavyAndLeftDownLight,
boxUpHeavyAndLeftLight,
boxUpHeavyAndRightDownLight,
boxUpHeavyAndRightLight,
boxUpLightAndDownHorizontalHeavy,
boxUpLightAndHorizontalHeavy,
boxUpLightAndLeftDownHeavy,
boxUpLightAndLeftHeavy,
boxUpLightAndRightDownHeavy,
boxUpLightAndRightHeavy,
boxUpSingleAndHorizontalDouble,
boxUpSingleAndLeftDouble,
boxUpSingleAndRightDouble,
boxVerticalDoubleAndHorizontalSingle,
boxVerticalDoubleAndLeftSingle,
boxVerticalDoubleAndRightSingle,
boxVerticalHeavyAndHorizontalLight,
boxVerticalHeavyAndLeftLight,
boxVerticalHeavyAndRightLight,
boxVerticalLightAndHorizontalHeavy,
boxVerticalLightAndLeftHeavy,
boxVerticalLightAndRightHeavy,
boxVerticalSingleAndHorizontalDouble,
boxVerticalSingleAndLeftDouble,
boxVerticalSingleAndRightDouble,
dialytikatonoscomb,
tonos,
dieresistonos,
dieresiscomb,
dieresiscomb.case,
dotaccentcomb,
dotaccentcomb.case,
gravecomb,
gravecomb.alt,
gravecomb.case,
acutecomb,
acutecomb.alt,
acutecomb.case,
hungarumlautcomb,
hungarumlautcomb.case,
caroncomb.alt,
circumflexcomb,
circumflexcomb.case,
circumflexcomb_gravecomb.case,
circumflexcomb_acutecomb.case,
circumflexcomb_tildecomb.case,
circumflexcomb_hookabovecomb.case,
caroncomb,
caroncomb.case,
brevecomb,
brevecomb.case,
brevecomb_gravecomb.case,
brevecomb_acutecomb.case,
brevecomb_tildecomb.case,
brevecomb_hookabovecomb.case,
ringcomb,
ringcomb.case,
tildecomb,
tildecomb.case,
macroncomb,
macroncomb.case,
macroncomb_brevecomb,
macroncomb_brevecomb.case,
overlinecomb,
overlinecomb.case,
hookabovecomb,
hookabovecomb.case,
verticallineabovecomb,
verticallineabovecomb.case,
candraBinducomb,
candraBinducomb.case,
breveinvertedcomb,
breveinvertedcomb.case,
commaturnedabovecomb,
commaabovecomb,
commaabovecomb.case,
commaaboverightcomb,
commaaboverightcomb.case,
horncomb,
horncomb.case,
dotbelowcomb,
ringbelowcomb,
commaaccentcomb,
cedillacomb,
ogonekcomb,
brevebelowcomb,
macronbelowcomb,
lowlinecomb,
lowlinecomb.224,
lowlinecomb.276,
lowlinecomb.288,
lowlinecomb.320,
lowlinecomb.340,
lowlinecomb.352,
lowlinecomb.384,
lowlinecomb.400,
lowlinecomb.416,
lowlinecomb.432,
lowlinecomb.456,
lowlinecomb.480,
lowlinecomb.512,
lowlinecomb.544,
lowlinecomb.576,
lowlinecomb.592,
lowlinecomb.608,
lowlinecomb.616,
lowlinecomb.640,
lowlinecomb.656,
lowlinecomb.680,
lowlinecomb.704,
lowlinecomb.736,
strokeshortcomb,
doublemacronbelowcomb,
brevecomb_acutecomb,
brevecomb_gravecomb,
brevecomb_hookabovecomb,
brevecomb_tildecomb,
circumflexcomb_acutecomb,
circumflexcomb_gravecomb,
circumflexcomb_hookabovecomb,
circumflexcomb_tildecomb,
commaaboverightcomb.case.spacing,
commaaboverightcomb.spacing,
dieresis,
dotaccent,
grave,
acute,
hungarumlaut,
circumflex,
firsttonechinese,
secondtonechinese,
caron,
fourthtonechinese,
breve,
ring,
tilde,
macron,
cedilla,
ogonek,
apostrophemod,
commaturnedmod,
doubleprimemod,
primemod,
ringhalfleft,
ringhalfright,
verticallinelowmod,
verticallinemod,
uni2BE8,
uni2BE9,
uni2BEA,
uni2BEB,
u1FBF0,
u1FBF1,
u1FBF2,
u1FBF3,
u1FBF4,
u1FBF5,
u1FBF6,
u1FBF7,
u1FBF8,
u1FBF9,
_part.slash.O,
_part.slash.comp,
_part.slash.o,
_part.arrow,
_part.asc.hook,
_part.asc.k,
_part.asc.left,
_part.asc.right,
_part.asterisk,
_part.bowl,
_part.bowl.descender,
_part.cap.hook.left,
"_part.desc-cy",
_part.desc.hook,
_part.desc.hook.left,
_part.geartooth,
_part.k,
_part.money.bar,
_part.money.crossbar,
_part.notmath.comp,
_part.slash.O.mirrored,
_part.stroke,
uniE0A0,
uniE0A1,
uniE0A2,
uniE0A3,
uniE0B0,
uniE0B1,
uniE0B2,
uniE0B3,
uniEC00,
uniEC01,
uniEC02,
uniEC03,
uniEC07,
uniEC08,
uniEC09,
uniEC0A,
uniEC25,
uniEC26,
uniEC27,
uniEC28,
uniEC2A,
uniEC2B,
uniEC2C,
uniEC2E,
uniEC2F,
orn001,
orn002,
_dot.raster1,
_dot.raster2,
_dot.raster3,
_pixel,
_pixel.round,
emoji.eyes,
emoji.eyes.angry,
emoji.eyes.smiling,
emoji.mouth,
emoji.mouth.grinning
)