(
A,
A.hex,
A.short,
A.ss20,
Aacute,
Abreve,
Abreveacute,
Abreveacute.ss20,
Abrevedotbelow,
Abrevegrave,
Abrevegrave.ss20,
Abrevehookabove,
Abrevehookabove.ss20,
Abrevetilde,
Abrevetilde.ss20,
Acaron,
Acircumflex,
Acircumflexacute,
Acircumflexacute.ss20,
Acircumflexdotbelow,
Acircumflexgrave,
Acircumflexgrave.ss20,
Acircumflexhookabove,
Acircumflexhookabove.ss20,
Acircumflextilde,
Acircumflextilde.ss20,
Adieresis,
Adieresismacron,
Adieresismacron.ss20,
Adotaccent,
Adotbelow,
Agrave,
Ahookabove,
Ahookabove.ss20,
Amacron,
Aogonek,
Aring,
Aring.ss20,
Aringacute,
Atilde,
AE,
AE.ss20,
AEacute,
AEmacron,
B,
B.hex,
B.short,
Bdotaccent,
Bdotbelow,
Bhook,
Bhook.ss20,
Bmacronbelow,
Bstroke,
C,
C.hex,
C.short,
C.ss20,
Cacute,
Ccaron,
Ccedilla,
Ccedillaacute,
Ccircumflex,
Cdotaccent,
Chook,
Chook.ss20,
D,
D.hex,
D.short,
D.ss20,
Dcaron,
Dcedilla,
Dcroat,
Dcroat.ss20,
Ddotaccent,
Ddotbelow,
Dhook,
Dhook.ss20,
Dmacronbelow,
Eth,
Eth.ss20,
E,
E.hex,
E.short,
E.ss20,
Eacute,
Ebreve,
Ecaron,
Ecedilla,
Ecedillabreve,
Ecircumflex,
Ecircumflexacute,
Ecircumflexacute.ss20,
Ecircumflexdotbelow,
Ecircumflexgrave,
Ecircumflexgrave.ss20,
Ecircumflexhookabove,
Ecircumflexhookabove.ss20,
Ecircumflextilde,
Ecircumflextilde.ss20,
Edieresis,
Edotaccent,
Edotbelow,
Egrave,
Ehookabove,
Ehookabove.ss20,
Emacron,
Emacronacute,
Emacronacute.ss20,
Eogonek,
Eopen,
Eopen.ss20,
Etilde,
Eturned,
Eturned.ss20,
Schwa,
Ezh,
Ezhcaron,
F,
F.hex,
F.short,
F.ss20,
Fdotaccent,
G,
G.short,
G.ss20,
Gacute,
Gbreve,
Gcaron,
Gcircumflex,
Gcommaaccent,
Gdotaccent,
Gmacron,
Gstroke,
Gstroke.ss20,
H,
H.ss20,
Hbar,
Hbar.ss20,
Hbrevebelow,
Hcaron,
Hcedilla,
Hcircumflex,
Hdieresis,
Hdotaccent,
Hdotbelow,
Hturned,
Hturned.ss20,
I,
I.cv02,
I.cv02.ss20,
I.short,
I.short.cv02,
I.ss20,
IJ,
IJ.ss20,
Iacute,
Iacute.cv02,
Iacute.cv02.ss20,
Ibreve,
Ibreve.cv02,
Ibreve.cv02.ss20,
Icapitalsmall,
Icapitalsmall.cv02,
Icapitalsmall.cv02.ss20,
Icapitalsmall.ss20,
Icaron,
Icaron.cv02,
Icaron.cv02.ss20,
Icircumflex,
Icircumflex.cv02,
Icircumflex.cv02.ss20,
Idieresis,
Idieresis.cv02,
Idieresis.cv02.ss20,
Idieresisacute,
Idieresisacute.cv02,
Idieresisacute.cv02.ss20,
Idieresisacute.ss20,
Idotaccent,
Idotaccent.cv02,
Idotaccent.cv02.ss20,
Idotbelow,
Idotbelow.cv02,
Idotbelow.cv02.ss20,
Igrave,
Igrave.cv02,
Igrave.cv02.ss20,
Ihookabove,
Ihookabove.cv02,
Ihookabove.cv02.ss20,
Ihookabove.ss20,
Imacron,
Imacron.cv02,
Imacron.cv02.ss20,
Iogonek,
Iogonek.cv02,
Iogonek.cv02.ss20,
Istroke,
Istroke.cv02,
Istroke.cv02.ss20,
Istroke.ss20,
Itilde,
Itilde.cv02,
Itilde.cv02.ss20,
J,
J.cv03,
J.cv03.ss20,
J.ss20,
Jacute,
Jacute.cv03,
Jcircumflex,
Jcircumflex.cv03,
K,
K.short,
K.ss20,
Kacute,
Kcaron,
Kcommaaccent,
Kdotbelow,
Khook,
Kmacronbelow,
L,
L.ss20,
Lacute,
Lbar,
Lbar.ss20,
Lcaron,
Lcaron.ss20,
Lcommaaccent,
Ldot,
Ldot.ss20,
Ldotbelow,
Ldotbelowmacron,
Lmacronbelow,
Lslash,
Lslash.ss20,
M,
M.ss20,
Macute,
Mdotaccent,
Mdotbelow,
N,
N.short,
N.ss20,
Nacute,
Ncaron,
Ncommaaccent,
Ndotaccent,
Ndotbelow,
Ngrave,
Nhookleft,
Nhookleft.ss20,
Nmacronbelow,
Ntilde,
Eng,
Eng.loclNSM,
Eng.loclNSM.ss20,
Eng.ss20,
O,
O.short,
O.ss20,
Oacute,
Obarred,
Obreve,
Ocaron,
Ocircumflex,
Ocircumflexacute,
Ocircumflexacute.ss20,
Ocircumflexdotbelow,
Ocircumflexgrave,
Ocircumflexgrave.ss20,
Ocircumflexhookabove,
Ocircumflexhookabove.ss20,
Ocircumflextilde,
Ocircumflextilde.ss20,
Odieresis,
Odieresismacron,
Odieresismacron.ss20,
Odotaccent,
Odotaccentmacron,
Odotaccentmacron.ss20,
Odotbelow,
Ograve,
Ohookabove,
Ohookabove.ss20,
Ohorn,
Ohorn.short,
Ohorn.ss20,
Ohornacute,
Ohorndotbelow,
Ohorngrave,
Ohornhookabove,
Ohornhookabove.ss20,
Ohorntilde,
Ohungarumlaut,
Omacron,
Omacronacute,
Omacronacute.ss20,
Oogonek,
Oogonekmacron,
Oopen,
Oopen.ss20,
Oslash,
Oslash.ss20,
Oslashacute,
Otilde,
Otildemacron,
Otildemacron.ss20,
OE,
OE.ss20,
P,
P.short,
Pacute,
Pdotaccent,
Thorn,
Q,
Q.ss20,
R,
R.short,
Racute,
Rcaron,
Rcommaaccent,
Rdotaccent,
Rdotbelow,
Rdotbelowmacron,
Rinvertedbreve,
Rmacronbelow,
S,
S.short,
S.ss20,
S_horncomb,
Sacute,
Scaron,
Scedilla,
Scircumflex,
Scommaaccent,
Sdotaccent,
Sdotbelow,
Sdotbelowdotaccent,
Germandbls,
Germandbls.ss20,
Sobliquestroke,
T,
T.short,
T.ss20,
T_horncomb,
Tbar,
Tcaron,
Tcedilla,
Tcommaaccent,
Tdotaccent,
Tdotbelow,
Tmacronbelow,
U,
U.short,
U.ss20,
Uacute,
Ubreve,
Ucaron,
Ucircumflex,
Udieresis,
Udieresisacute,
Udieresisacute.ss20,
Udieresiscaron,
Udieresiscaron.ss20,
Udieresisgrave,
Udieresisgrave.ss20,
Udieresismacron,
Udieresismacron.ss20,
Udotbelow,
Ugrave,
Uhookabove,
Uhookabove.ss20,
Uhorn,
Uhorn.short,
Uhorn.ss20,
Uhornacute,
Uhorndotbelow,
Uhorngrave,
Uhornhookabove,
Uhornhookabove.ss20,
Uhorntilde,
Uhungarumlaut,
Umacron,
Uogonek,
Uring,
Uring.ss20,
Utilde,
V,
V.ss20,
Vdotbelow,
Vtilde,
Vturned,
W,
W.short,
W.ss20,
Wacute,
Wcircumflex,
Wdieresis,
Wdotaccent,
Wdotbelow,
Wgrave,
X,
X.ss20,
Xdieresis,
Xdotaccent,
Y,
Y.short,
Y.ss20,
Yacute,
Ycircumflex,
Ydieresis,
Ydotaccent,
Ydotbelow,
Ygrave,
Yhook,
Yhookabove,
Yhookabove.ss20,
Ymacron,
Ytilde,
Z,
Z.ss20,
Zacute,
Zcaron,
Zcircumflex,
Zdotaccent,
Zdotbelow,
Zmacronbelow,
Zstroke,
jcaron.case,
jcaron.case.cv03,
Ismall,
Ismallstroke,
a,
a.ss20,
aacute,
abreve,
abreve.ss20,
abreveacute,
abreveacute.ss20,
abrevedotbelow,
abrevegrave,
abrevegrave.ss20,
abrevehookabove,
abrevehookabove.ss20,
abrevetilde,
abrevetilde.ss20,
acaron,
acaron.ss20,
acircumflex,
acircumflex.ss20,
acircumflexacute,
acircumflexacute.ss20,
acircumflexdotbelow,
acircumflexdotbelow.ss20,
acircumflexgrave,
acircumflexgrave.ss20,
acircumflexhookabove,
acircumflexhookabove.ss20,
acircumflextilde,
acircumflextilde.ss20,
adieresis,
adieresis.ss20,
adieresismacron,
adieresismacron.ss20,
adotaccent,
adotaccent.ss20,
adotbelow,
agrave,
agrave.ss20,
ahookabove,
ahookabove.ss20,
amacron,
amacron.ss20,
aogonek,
aring,
aring.ss20,
aringacute,
aringacute.ss20,
atilde,
atilde.ss20,
ae,
ae.ss20,
aeacute,
aemacron,
b,
bdotaccent,
bdotbelow,
bhook,
bmacronbelow,
bstroke,
c,
c.ss20,
cacute,
cacute.ss20,
ccaron,
ccaron.ss20,
ccedilla,
ccedillaacute,
ccedillaacute.ss20,
ccircumflex,
ccircumflex.ss20,
cdotaccent,
cdotaccent.ss20,
chook,
chook.ss20,
d,
dcaron,
dcaron.ss20,
dcedilla,
dcroat,
ddotaccent,
ddotbelow,
dhook,
dmacronbelow,
eth,
e,
e.ss20,
eacute,
eacute.ss20,
ebreve,
ebreve.ss20,
ecaron,
ecaron.ss20,
ecedilla,
ecedillabreve,
ecedillabreve.ss20,
ecircumflex,
ecircumflex.ss20,
ecircumflexacute,
ecircumflexacute.ss20,
ecircumflexdotbelow,
ecircumflexdotbelow.ss20,
ecircumflexgrave,
ecircumflexgrave.ss20,
ecircumflexhookabove,
ecircumflexhookabove.ss20,
ecircumflextilde,
ecircumflextilde.ss20,
edieresis,
edieresis.ss20,
edotaccent,
edotaccent.ss20,
edotbelow,
egrave,
egrave.ss20,
ehookabove,
ehookabove.ss20,
emacron,
emacron.ss20,
emacronacute,
emacronacute.ss20,
eogonek,
eopen,
eopen.ss20,
etilde,
etilde.ss20,
eturned,
eturned.ss20,
schwa,
schwa.ss20,
ezh,
ezhcaron,
f,
f.italic,
f.italic.ss20,
f.ss20,
fdotaccent,
g,
g.cv01,
gacute,
gacute.cv01,
gbreve,
gbreve.cv01,
gcaron,
gcaron.cv01,
gcircumflex,
gcircumflex.cv01,
gcommaaccent,
gcommaaccent.cv01,
gdotaccent,
gdotaccent.cv01,
gmacron,
gmacron.cv01,
gstroke,
gstroke.cv01,
h,
hbar,
hbrevebelow,
hcaron,
hcedilla,
hcircumflex,
hdieresis,
hdotaccent,
hdotbelow,
hmacronbelow,
hturned,
i,
i.cv02,
i.cv02.ss20,
i.ss20,
idotless,
idotless.cv02,
idotless.cv02.ss20,
idotless.ss20,
iacute,
iacute.cv02,
iacute.cv02.ss20,
iacute.ss20,
ibreve,
ibreve.cv02,
ibreve.cv02.ss20,
ibreve.ss20,
icaron,
icaron.cv02,
icaron.cv02.ss20,
icaron.ss20,
icircumflex,
icircumflex.cv02,
icircumflex.cv02.ss20,
icircumflex.ss20,
idieresis,
idieresis.cv02,
idieresis.cv02.ss20,
idieresis.ss20,
idieresisacute,
idieresisacute.cv02,
idieresisacute.cv02.ss20,
idotbelow,
idotbelow.cv02,
idotbelow.cv02.ss20,
idotbelow.dotless,
idotbelow.dotless.cv02,
idotbelow.dotless.cv02.ss20,
idotbelow.dotless.ss20,
idotbelow.ss20,
igrave,
igrave.cv02,
igrave.cv02.ss20,
igrave.ss20,
ihookabove,
ihookabove.cv02,
ihookabove.cv02.ss20,
ihookabove.ss20,
imacron,
imacron.cv02,
imacron.cv02.ss20,
imacron.ss20,
iogonek,
iogonek.cv02,
iogonek.cv02.ss20,
iogonek.dotless,
iogonek.dotless.cv02,
iogonek.dotless.cv02.ss20,
iogonek.dotless.ss20,
iogonek.ss20,
iotastroke,
istroke,
istroke.cv02,
istroke.cv02.ss20,
istroke.dotless,
istroke.dotless.cv02,
istroke.dotless.cv02.ss20,
istroke.dotless.ss20,
istroke.ss20,
itilde,
itilde.cv02,
itilde.cv02.ss20,
itilde.ss20,
ij,
ij.ss20,
j,
j.cv03,
j.cv03.ss20,
j.ss20,
jdotless,
jdotless.cv03,
jdotless.cv03.ss20,
jdotless.ss20,
jacute,
jacute.cv03,
jacute.cv03.ss20,
jacute.ss20,
jcaron,
jcaron.cv03,
jcaron.cv03.ss20,
jcaron.ss20,
jcircumflex,
jcircumflex.cv03,
jcircumflex.cv03.ss20,
jcircumflex.ss20,
k,
kacute,
kcaron,
kcommaaccent,
kdotbelow,
kgreenlandic,
khook,
kmacronbelow,
l,
l.cv04,
l.cv04.ss20,
l.ss20,
lacute,
lacute.cv04,
lbar,
lbar.cv04,
lbar.cv04.ss20,
lbar.ss20,
lcaron,
lcaron.cv04,
lcaron.cv04.ss20,
lcaron.ss20,
lcommaaccent,
lcommaaccent.cv04,
ldot,
ldot.cv04,
ldot.cv04.ss20,
ldot.ss20,
ldotbelow,
ldotbelow.cv04,
ldotbelowmacron,
ldotbelowmacron.cv04,
lmacronbelow,
lmacronbelow.cv04,
longsdotaccent,
longsdotaccent.italic,
lslash,
lslash.cv04,
lslash.cv04.ss20,
lslash.ss20,
m,
m.cv05.1,
m.cv05.2,
m.ss20,
macute,
mdotaccent,
mdotbelow,
n,
nacute,
napostrophe,
ncaron,
ncommaaccent,
ndotaccent,
ndotbelow,
ngrave,
nhookleft,
nmacronbelow,
ntilde,
eng,
o,
oacute,
obarred,
obreve,
ocaron,
ocircumflex,
ocircumflexacute,
ocircumflexdotbelow,
ocircumflexgrave,
ocircumflexhookabove,
ocircumflextilde,
odieresis,
odieresismacron,
odotaccent,
odotaccentmacron,
odotbelow,
ograve,
ohookabove,
ohorn,
ohornacute,
ohorndotbelow,
ohorngrave,
ohornhookabove,
ohorntilde,
ohungarumlaut,
omacron,
omacronacute,
oogonek,
oogonekmacron,
oopen,
oopen.ss20,
oslash,
oslashacute,
otilde,
otildemacron,
oe,
oe.ss20,
p,
pacute,
pdotaccent,
thorn,
q,
r,
r.ss20,
racute,
racute.ss20,
rcaron,
rcaron.ss20,
rcommaaccent,
rdotaccent,
rdotaccent.ss20,
rdotbelow,
rdotbelowmacron,
rdotbelowmacron.ss20,
rinvertedbreve,
rinvertedbreve.ss20,
rmacronbelow,
s,
s.ss20,
s_horncomb,
s_horncomb.ss20,
sacute,
sacute.ss20,
scaron,
scaron.ss20,
scedilla,
scedilla.ss20,
scircumflex,
scircumflex.ss20,
scommaaccent,
sdotaccent,
sdotaccent.ss20,
sdotbelow,
sdotbelowdotaccent,
sdotbelowdotaccent.ss20,
germandbls,
germandbls.italic,
sobliquestroke,
sobliquestroke.ss20,
longs,
longs.italic,
longs.italic.ss20,
longs.ss20,
t,
t.ss20,
t_horncomb,
t_horncomb.ss20,
tbar,
tbar.ss20,
tcaron,
tcaron.ss20,
tcedilla,
tcedilla.ss20,
tcommaaccent,
tdieresis,
tdieresis.ss20,
tdotaccent,
tdotaccent.ss20,
tdotbelow,
tmacronbelow,
u,
uacute,
ubreve,
ucaron,
ucircumflex,
udieresis,
udieresisacute,
udieresiscaron,
udieresisgrave,
udieresismacron,
udotbelow,
ugrave,
uhookabove,
uhorn,
uhornacute,
uhorndotbelow,
uhorngrave,
uhornhookabove,
uhorntilde,
uhungarumlaut,
umacron,
uogonek,
uring,
utilde,
v,
vdotbelow,
vtilde,
vturned,
w,
w.italic,
w.italic.ss20,
w.ss20,
wacute,
wacute.italic,
wacute.italic.ss20,
wacute.ss20,
wcircumflex,
wcircumflex.italic,
wcircumflex.italic.ss20,
wcircumflex.ss20,
wdieresis,
wdieresis.italic,
wdieresis.italic.ss20,
wdieresis.ss20,
wdotaccent,
wdotaccent.italic,
wdotaccent.italic.ss20,
wdotaccent.ss20,
wdotbelow,
wdotbelow.italic,
wdotbelow.italic.ss20,
wdotbelow.ss20,
wgrave,
wgrave.italic,
wgrave.italic.ss20,
wgrave.ss20,
wring,
wring.italic,
wring.italic.ss20,
wring.ss20,
x,
xdieresis,
xdotaccent,
y,
yacute,
ycircumflex,
ydieresis,
ydotaccent,
ydotbelow,
ygrave,
yhook,
yhookabove,
ymacron,
yring,
ytilde,
z,
z.ss20,
zacute,
zacute.ss20,
zcaron,
zcaron.ss20,
zcircumflex,
zcircumflex.ss20,
zdotaccent,
zdotaccent.ss20,
zdotbelow,
zmacronbelow,
zstroke,
zstroke.ss20,
A.sups,
B.sups,
C.sups,
D.sups,
E.sups,
F.sups,
G.sups,
H.sups,
I.sups,
J.sups,
K.sups,
L.sups,
M.sups,
N.sups,
O.sups,
P.sups,
Q.sups,
R.sups,
S.sups,
T.sups,
U.sups,
V.sups,
W.sups,
X.sups,
Y.sups,
Z.sups,
ordfeminine,
ordfeminine.ss20,
ordmasculine,
ordmasculine.ss20,
hmod,
hmod.ss20,
nmod,
nmod.ss20,
rmod,
rmod.ss20,
smod,
smod.ss20,
"A-cy",
"A-cy.ss20",
"Be-cy",
"Ve-cy",
"Ge-cy",
"Ge-cy.ss20",
"Gje-cy",
"Gje-cy.ss20",
"Geupturn-cy",
"Geupturn-cy.ss20",
"De-cy",
"De-cy.ss20",
"Ie-cy",
"Ie-cy.ss20",
"Iegrave-cy",
"Io-cy",
"Zhe-cy",
"Zhe-cy.ss20",
"Ze-cy",
"Ze-cy.ss20",
"Ii-cy",
"Ii-cy.ss20",
"Iishort-cy",
"Iigrave-cy",
"Ka-cy",
"Kje-cy",
"El-cy",
"El-cy.ss20",
"Em-cy",
"Em-cy.ss20",
"En-cy",
"En-cy.ss20",
"O-cy",
"O-cy.ss20",
"Pe-cy",
"Pe-cy.ss20",
"Er-cy",
"Es-cy",
"Es-cy.ss20",
"Te-cy",
"U-cy",
"Ushort-cy",
"Ef-cy",
"Ef-cy.ss20",
"Ha-cy",
"Tse-cy",
"Che-cy",
"Sha-cy",
"Sha-cy.ss20",
"Shcha-cy",
"Shcha-cy.ss20",
"Dzhe-cy",
"Softsign-cy",
"Yeru-cy",
"Yeru-cy.ss20",
"Hardsign-cy",
"Lje-cy",
"Lje-cy.ss20",
"Nje-cy",
"Nje-cy.ss20",
"Dze-cy",
"Dze-cy.ss20",
"E-cy",
"Ereversed-cy",
"I-cy",
"I-cy.cv02",
"I-cy.cv02.ss20",
"I-cy.ss20",
"Yi-cy",
"Yi-cy.cv02",
"Yi-cy.cv02.ss20",
"Yi-cy.ss20",
"Je-cy",
"Je-cy.cv03",
"Je-cy.cv03.ss20",
"Tshe-cy",
"Tshe-cy.ss20",
"Yu-cy",
"Yu-cy.ss20",
"Ya-cy",
"Dje-cy",
"Dje-cy.ss20",
"Palochka-cy",
"Palochka-cy.cv02",
"Palochka-cy.cv02.ss20",
"Palochka-cy.ss20",
"a-cy",
"a-cy.ss20",
"be-cy",
"ve-cy",
"ge-cy",
"ge-cy.ss20",
"gje-cy",
"gje-cy.ss20",
"geupturn-cy",
"de-cy",
"ie-cy",
"ie-cy.ss20",
"iegrave-cy",
"iegrave-cy.ss20",
"io-cy",
"io-cy.ss20",
"zhe-cy",
"zhe-cy.ss20",
"ze-cy",
"ii-cy",
"iishort-cy",
"iigrave-cy",
"ka-cy",
"kje-cy",
"el-cy",
"em-cy",
"em-cy.ss20",
"en-cy",
"o-cy",
"pe-cy",
"er-cy",
"es-cy",
"es-cy.ss20",
"te-cy",
"te-cy.ss20",
"u-cy",
"ushort-cy",
"ef-cy",
"ef-cy.ss20",
"ha-cy",
"tse-cy",
"che-cy",
"sha-cy",
"sha-cy.ss20",
"shcha-cy",
"shcha-cy.ss20",
"dzhe-cy",
"softsign-cy",
"softsign-cy.ss20",
"yeru-cy",
"yeru-cy.ss20",
"hardsign-cy",
"hardsign-cy.ss20",
"lje-cy",
"lje-cy.ss20",
"nje-cy",
"nje-cy.ss20",
"dze-cy",
"dze-cy.ss20",
"e-cy",
"ereversed-cy",
"i-cy",
"i-cy.cv02",
"i-cy.cv02.ss20",
"i-cy.dotless",
"i-cy.dotless.cv02",
"i-cy.dotless.cv02.ss20",
"i-cy.dotless.ss20",
"i-cy.ss20",
"yi-cy",
"yi-cy.cv02",
"yi-cy.cv02.ss20",
"yi-cy.ss20",
"je-cy",
"je-cy.cv03",
"je-cy.cv03.ss20",
"je-cy.ss20",
"tshe-cy",
"yu-cy",
"yu-cy.ss20",
"ya-cy",
"dje-cy",
"palochka-cy",
"palochka-cy.cv02",
"palochka-cy.cv02.ss20",
"palochka-cy.ss20",
"ve-cy.loclRUS",
"ge-cy.loclRUS",
"gje-cy.loclRUS",
"de-cy.loclRUS",
"ii-cy.loclRUS",
"iishort-cy.loclRUS",
"iigrave-cy.loclRUS",
"ka-cy.loclRUS",
"kje-cy.loclRUS",
"pe-cy.loclRUS",
"te-cy.loclRUS",
"tse-cy.loclRUS",
"sha-cy.loclRUS",
"shcha-cy.loclRUS",
"dzhe-cy.loclRUS",
Alpha,
Alpha.ss20,
Beta,
Gamma,
Gamma.ss20,
Delta,
Delta.ss20,
Epsilon,
Epsilon.ss20,
Zeta,
Zeta.ss20,
Eta,
Eta.ss20,
Theta,
Theta.ss20,
Iota,
Iota.cv02,
Iota.cv02.ss20,
Iota.ss20,
Kappa,
Lambda,
Lambda.ss20,
Mu,
Mu.ss20,
Nu,
Nu.ss20,
Xi,
Omicron,
Omicron.ss20,
Pi,
Pi.ss20,
Rho,
Sigma,
Tau,
Upsilon,
Phi,
Phi.ss20,
Chi,
Psi,
Psi.ss20,
Omega,
Omega.ss20,
Alphatonos,
Alphatonos.ss20,
Epsilontonos,
Epsilontonos.ss20,
Etatonos,
Etatonos.ss20,
Iotatonos,
Iotatonos.cv02,
Iotatonos.cv02.ss20,
Iotatonos.ss20,
Omicrontonos,
Omicrontonos.ss20,
Upsilontonos,
Omegatonos,
Omegatonos.ss20,
Iotadieresis,
Iotadieresis.cv02,
Iotadieresis.cv02.ss20,
Iotadieresis.ss20,
Upsilondieresis,
UpsilonhookSymbol,
alpha,
beta,
gamma,
delta,
epsilon,
epsilon.ss20,
zeta,
eta,
theta,
iota,
iota.ss20,
kappa,
lambda,
mu,
nu,
xi,
omicron,
pi,
rho,
sigmafinal,
sigma,
tau,
upsilon,
phi,
phi.ss20,
chi,
psi,
psi.ss20,
omega,
omega.ss20,
iotatonos,
iotatonos.ss20,
iotadieresis,
iotadieresis.ss20,
iotadieresistonos,
iotadieresistonos.ss20,
upsilontonos,
upsilondieresis,
upsilondieresistonos,
omicrontonos,
omegatonos,
omegatonos.ss20,
alphatonos,
epsilontonos,
epsilontonos.ss20,
etatonos,
phiSymbol,
phiSymbol.ss20,
amod,
dmod,
dmod.ss20,
omod,
tmod,
tmod.ss20,
zero,
one,
two,
three,
four,
five,
six,
seven,
eight,
nine,
zero.cv06,
zero.osf,
zero.zero,
one.osf,
two.osf,
three.osf,
four.osf,
five.osf,
six.osf,
seven.osf,
eight.osf,
nine.osf,
zero.osf.cv06,
zero.zero.osf,
zero.dnom,
one.dnom,
two.dnom,
three.dnom,
four.dnom,
five.dnom,
six.dnom,
seven.dnom,
eight.dnom,
nine.dnom,
zero.numr,
one.numr,
two.numr,
three.numr,
four.numr,
five.numr,
six.numr,
seven.numr,
eight.numr,
nine.numr,
fraction,
onefraction,
onehalf,
zerothird,
onethird,
twothirds,
onequarter,
threequarters,
onefifth,
twofifths,
threefifths,
fourfifths,
onesixth,
fivesixths,
oneseventh,
oneeighth,
threeeighths,
fiveeighths,
seveneighths,
oneninth,
zero.dnom.ss20,
one.dnom.ss20,
two.dnom.ss20,
three.dnom.ss20,
four.dnom.ss20,
five.dnom.ss20,
six.dnom.ss20,
seven.dnom.ss20,
eight.dnom.ss20,
nine.dnom.ss20,
zero.numr.ss20,
one.numr.ss20,
two.numr.ss20,
three.numr.ss20,
four.numr.ss20,
five.numr.ss20,
six.numr.ss20,
seven.numr.ss20,
eight.numr.ss20,
nine.numr.ss20,
fraction.alt,
fraction.percent,
fraction.ss20,
onefraction.ss20,
onehalf.ss20,
zerothird.ss20,
onethird.ss20,
twothirds.ss20,
onequarter.ss20,
threequarters.ss20,
onefifth.ss20,
twofifths.ss20,
threefifths.ss20,
fourfifths.ss20,
onesixth.ss20,
fivesixths.ss20,
oneseventh.ss20,
oneeighth.ss20,
threeeighths.ss20,
fiveeighths.ss20,
seveneighths.ss20,
oneninth.ss20,
fraction.alt.ss20,
zeroinferior,
oneinferior,
twoinferior,
threeinferior,
fourinferior,
fiveinferior,
sixinferior,
seveninferior,
eightinferior,
nineinferior,
zerosuperior,
onesuperior,
twosuperior,
threesuperior,
foursuperior,
fivesuperior,
sixsuperior,
sevensuperior,
eightsuperior,
ninesuperior,
zeroinferior.ss20,
oneinferior.ss20,
twoinferior.ss20,
threeinferior.ss20,
fourinferior.ss20,
fiveinferior.ss20,
sixinferior.ss20,
seveninferior.ss20,
eightinferior.ss20,
nineinferior.ss20,
zerosuperior.alt001,
zerosuperior.ss20,
onesuperior.ss20,
twosuperior.ss20,
threesuperior.ss20,
foursuperior.ss20,
fivesuperior.ss20,
sixsuperior.ss20,
sevensuperior.ss20,
eightsuperior.ss20,
ninesuperior.ss20,
space,
space.ss20,
nbspace,
nbspace.ss20,
zerowidthspace,
zerowidthspace.ss20,
zerowidthnonjoiner,
zerowidthnonjoiner.ss20,
zerowidthjoiner,
zerowidthjoiner.ss20,
zeroWidthNoBreakSpace,
zeroWidthNoBreakSpace.ss20,
.notdef,
CR,
anoteleia,
questiongreek,
questiongreek.ss20,
"leftanglebracket-math",
"rightanglebracket-math",
period,
period.ss20,
comma,
comma.ss20,
colon,
colon.alt,
colon.alt.ss20,
colon.ss20,
semicolon,
semicolon.ss20,
ellipsis,
ellipsis.ss20,
exclam,
exclamdown,
question,
questiondown,
periodcentered,
periodcentered.loclCAT,
periodcentered.loclCAT.ss20,
bullet,
asterisk,
dblverticalbar,
exclamdouble,
numbersign,
overline,
slash,
slash.ss20,
backslash,
backslash.ss20,
hyphen,
hyphen.ss20,
endash,
emdash,
horizontalbar,
underscore,
underscoredbl,
softhyphen,
parenleft,
parenright,
braceleft,
braceright,
bracketleft,
bracketright,
leftDoubleParen,
rightDoubleParen,
heavyleftpointinganglequotationmarkornament,
heavyrightpointinganglequotationmarkornament,
quotesinglbase,
quotesinglbase.ss20,
quotedblbase,
quotedblbase.ss20,
quotedblleft,
quotedblleft.ss20,
quotedblright,
quotedblright.ss20,
quoteleft,
quoteleft.ss20,
quoteright,
quoteright.ss20,
quotereversed,
quotereversed.ss20,
quotedblrightreversed,
quotedblrightreversed.ss20,
guillemetleft,
guillemetleft.ss20,
guillemetright,
guillemetright.ss20,
guilsinglleft,
guilsinglleft.ss20,
guilsinglright,
guilsinglright.ss20,
quotedbl,
quotedbl.ss20,
quotesingle,
quotesingle.ss20,
florin,
"blank-braille",
"dots1-braille",
"dots12-braille",
"dots123-braille",
"dots1234-braille",
"dots12345-braille",
"dots123456-braille",
"dots12346-braille",
"dots1235-braille",
"dots12356-braille",
"dots1236-braille",
"dots124-braille",
"dots1245-braille",
"dots12456-braille",
"dots1246-braille",
"dots125-braille",
"dots1256-braille",
"dots126-braille",
"dots13-braille",
"dots134-braille",
"dots1345-braille",
"dots13456-braille",
"dots1346-braille",
"dots135-braille",
"dots1356-braille",
"dots136-braille",
"dots14-braille",
"dots145-braille",
"dots1456-braille",
"dots146-braille",
"dots15-braille",
"dots156-braille",
"dots16-braille",
"dots2-braille",
"dots23-braille",
"dots234-braille",
"dots2345-braille",
"dots23456-braille",
"dots2346-braille",
"dots235-braille",
"dots2356-braille",
"dots236-braille",
"dots24-braille",
"dots245-braille",
"dots2456-braille",
"dots246-braille",
"dots25-braille",
"dots256-braille",
"dots26-braille",
"dots3-braille",
"dots34-braille",
"dots345-braille",
"dots3456-braille",
"dots346-braille",
"dots35-braille",
"dots356-braille",
"dots36-braille",
"dots4-braille",
"dots45-braille",
"dots456-braille",
"dots46-braille",
"dots5-braille",
"dots56-braille",
"dots6-braille",
lnSquare,
"note-musical",
"notedbl-musical",
baht,
crescentMoon,
cloudRain,
houseBuilding,
thumbsUpSign,
thumbsDownSign,
bustInSilhouette,
speechBalloon,
floppyDisk,
dvd,
fileFolder,
openFileFolder,
tearOffCalendar,
telephoneReceiver,
mobilePhone,
antennaBars,
shuffleArrows,
repeatArrow,
speaker,
speakerWithThreeSoundWaves,
leftMagnifyingGlass,
rightMagnifyingGlass,
key,
lock,
openLock,
blackHeart,
folder,
openFolder,
wastebasket,
minimize,
maximize,
clockwiseRightAndLeftSemicircleArrows,
ballotScriptX,
ballotBoxWithScriptX,
ballotBoldScriptX,
ballotBoxWithBoldScriptX,
ballotBoxWithBoldCheck,
grinningFace,
grinningFaceWithSmilingEyes,
smilingFaceWithSmilingEyes,
angryFace,
poutingFace,
boysSymbol,
girlsSymbol,
shoppingTrolley,
cloud,
blackStar,
whiteStar,
ballotBox,
ballotBoxWithCheck,
ballotBoxWithX,
heavyGreekCross,
heavenTrigram,
whiteFrowningFace,
whiteSmilingFace,
blackSmilingFace,
sunWithRays,
venus,
mars,
spadeBlackSuit,
heartWhiteSuit,
clubBlackSuit,
heartBlackSuit,
diamondBlackSuit,
whiteFlag,
blackFlag,
gearWithoutHub,
envelope,
lowerRightPencil,
checkmark,
heavyCheckMark,
multiplicationX,
heavyMultiplicationX,
ballotX,
heavyBallotX,
acknowledgeControl,
aktieselskab,
aktieselskab.ss20,
alternativekeysymbol,
backspaceControl,
ballotBoxWithLightX,
at,
ampersand,
paragraph,
section,
copyright,
registered,
published,
trademark,
careof,
careof.ss20,
degree,
minute,
second,
bar,
brokenbar,
dagger,
literSign,
daggerdbl,
estimated,
numero,
bellControl,
blackCircleForRecord,
blackLeftDoubleTriangle,
blackLeftDoubleTriangleWithVerticalBar,
blackMediumRightTriangle,
blackRightDoubleTriangle,
blackRightDoubleTriangleWithVerticalBar,
blackSmallStar,
blackSquareForStop,
cancelControl,
carriageReturnControl,
dataLinkEscapeControl,
deleteControl,
deviceControlFourControl,
deviceControlOneControl,
deviceControlThreeControl,
deviceControlTwoControl,
doubleVerticalBar,
endOfMediumControl,
endOfTextControl,
endOfTransmissionBlockControl,
endOfTransmissionControl,
enquiryControl,
escapeControl,
fileSeparatorControl,
formFeedControl,
groupSeparatorControl,
horizontalTabulationControl,
house,
informationsource,
capslock,
deleteLeftKey,
optionKey,
propellor,
lineFeedControl,
negativeAcknowledgeControl,
newlineControl,
nullControl,
recordSeparatorControl,
replacementCharacter,
shiftInControl,
shiftOutControl,
spaceControl,
startOfHeadingControl,
startOfTextControl,
substituteControl,
synchronousIdleControl,
unitSeparatorControl,
verticalTabulationControl,
whiteSmallStar,
bitcoin,
cedi,
cent,
colonsign,
currency,
dollar,
dong,
euro,
franc,
guarani,
hryvnia,
kip,
lari,
lira,
liraTurkish,
manat,
naira,
peseta,
peso,
ruble,
rupee,
rupeeIndian,
sterling,
tenge,
tugrik,
won,
yen,
angle,
anticlockwiseClosedCircleArrow,
bulletoperator,
divisionslash,
dotmath,
downArrowToBar,
equivalence,
estimates,
integralbt,
integraltp,
logicalnotReversed,
minussuperior,
notsubset,
notsuperset,
plus,
minus,
multiply,
divide,
equal,
notequal,
greater,
less,
greaterequal,
lessequal,
plusminus,
approxequal,
asciitilde,
logicalnot,
asciicircum,
infinity,
emptyset,
logicaland,
logicalor,
intersection,
union,
integral,
Ohm,
increment,
product,
summation,
radical,
partialdiff,
micro,
orthogonal,
parallel,
percent,
perthousand,
perthousand.ss20,
perpendicular,
plussuperior,
ratio,
ratio.ss20,
setminus,
similar,
subset,
superset,
theredoesnotexist,
upArrow,
northEastArrow,
rightArrow,
southEastArrow,
downArrow,
southWestArrow,
leftArrow,
northWestArrow,
leftRightArrow,
upDownArrow,
upFrombarArrow,
upDownbaseArrow,
downTipRightArrow,
carriagereturn,
upWhiteArrow,
lowerOneEighthBlock,
lowerOneQuarterBlock,
lowerThreeEighthsBlock,
lowerHalfBlock,
lowerFiveEighthsBlock,
lowerThreeQuartersBlock,
lowerSevenEighthsBlock,
fullBlock,
upperHalfBlock,
upperOneEighthBlock,
leftOneEighthBlock,
leftOneQuarterBlock,
leftThreeEighthsBlock,
leftBlock,
leftFiveEighthsBlock,
leftThreeQuartersBlock,
leftSevenEighthsBlock,
rightBlock,
rightOneEighthBlock,
lowerLeftBlock,
lowerRightBlock,
upperLeftBlock,
upperLeftAndLowerLeftAndLowerRightBlock,
upperLeftAndLowerRightBlock,
upperLeftAndUpperRightAndLowerLeftBlock,
upperLeftAndUpperRightAndLowerRightBlock,
upperRightBlock,
upperRightAndLowerLeftBlock,
upperRightAndLowerLeftAndLowerRightBlock,
shadelight,
shademedium,
shadedark,
blackCircle,
whiteCircle,
dottedCircle,
whiteBullet,
inverseBullet,
inverseWhiteCircle,
blackDiamond,
whiteDiamond,
lozenge,
filledRect,
blackSquare,
whiteSquare,
upperlefttolowerrightFillSquare,
upperrighttolowerleftFillSquare,
blackSmallSquare,
whiteSmallSquare,
upBlackTriangle,
rightBlackTriangle,
downBlackTriangle,
leftBlackTriangle,
upWhiteTriangle,
rightWhiteTriangle,
downWhiteTriangle,
leftWhiteTriangle,
rightBlackPointer,
leftBlackPointer,
rightWhitePointer,
leftWhitePointer,
upBlackSmallTriangle,
rightBlackSmallTriangle,
downBlackSmallTriangle,
leftBlackSmallTriangle,
upWhiteSmallTriangle,
rightWhiteSmallTriangle,
downWhiteSmallTriangle,
leftWhiteSmallTriangle,
upperRightBlackTriangle,
lowerRightBlackTriangle,
lowerLeftBlackTriangle,
upperLeftBlackTriangle,
boxDoubleDownAndHorizontal,
boxDoubleDownAndLeft,
boxDoubleDownAndRight,
boxDoubleHorizontal,
boxDoubleUpAndHorizontal,
boxDoubleUpAndLeft,
boxDoubleUpAndRight,
boxDoubleVertical,
boxDoubleVerticalAndHorizontal,
boxDoubleVerticalAndLeft,
boxDoubleVerticalAndRight,
boxDownDoubleAndHorizontalSingle,
boxDownDoubleAndLeftSingle,
boxDownDoubleAndRightSingle,
boxDownHeavyAndHorizontalLight,
boxDownHeavyAndLeftLight,
boxDownHeavyAndLeftUpLight,
boxDownHeavyAndRightLight,
boxDownHeavyAndRightUpLight,
boxDownHeavyAndUpHorizontalLight,
boxDownLightAndHorizontalHeavy,
boxDownLightAndLeftHeavy,
boxDownLightAndLeftUpHeavy,
boxDownLightAndRightHeavy,
boxDownLightAndRightUpHeavy,
boxDownLightAndUpHorizontalHeavy,
boxDownSingleAndHorizontalDouble,
boxDownSingleAndLeftDouble,
boxDownSingleAndRightDouble,
boxHeavyDoubleDashHorizontal,
boxHeavyDoubleDashVertical,
boxHeavyDown,
boxHeavyDownAndHorizontal,
boxHeavyDownAndLeft,
boxHeavyDownAndRight,
boxHeavyHorizontal,
boxHeavyLeft,
boxHeavyLeftAndLightRight,
boxHeavyQuadrupleDashHorizontal,
boxHeavyQuadrupleDashVertical,
boxHeavyRight,
boxHeavyTripleDashHorizontal,
boxHeavyTripleDashVertical,
boxHeavyUp,
boxHeavyUpAndHorizontal,
boxHeavyUpAndLeft,
boxHeavyUpAndLightDown,
boxHeavyUpAndRight,
boxHeavyVertical,
boxHeavyVerticalAndHorizontal,
boxHeavyVerticalAndLeft,
boxHeavyVerticalAndRight,
boxLeftDownHeavyAndRightUpLight,
boxLeftHeavyAndRightDownLight,
boxLeftHeavyAndRightUpLight,
boxLeftHeavyAndRightVerticalLight,
boxLeftLightAndRightDownHeavy,
boxLeftLightAndRightUpHeavy,
boxLeftLightAndRightVerticalHeavy,
boxLeftUpHeavyAndRightDownLight,
boxLightArcDownAndLeft,
boxLightArcDownAndRight,
boxLightArcUpAndLeft,
boxLightArcUpAndRight,
boxLightDiagonalCross,
boxLightDiagonalUpperLeftToLowerRight,
boxLightDiagonalUpperRightToLowerLeft,
boxLightDoubleDashHorizontal,
boxLightDoubleDashVertical,
boxLightDown,
boxLightDownAndHorizontal,
boxLightDownAndLeft,
boxLightDownAndRight,
boxLightHorizontal,
boxLightLeft,
boxLightLeftAndHeavyRight,
boxLightQuadrupleDashHorizontal,
boxLightQuadrupleDashVertical,
boxLightRight,
boxLightTripleDashHorizontal,
boxLightTripleDashVertical,
boxLightUp,
boxLightUpAndHeavyDown,
boxLightUpAndHorizontal,
boxLightUpAndLeft,
boxLightUpAndRight,
boxLightVertical,
boxLightVerticalAndHorizontal,
boxLightVerticalAndLeft,
boxLightVerticalAndRight,
boxRightDownHeavyAndLeftUpLight,
boxRightHeavyAndLeftDownLight,
boxRightHeavyAndLeftUpLight,
boxRightHeavyAndLeftVerticalLight,
boxRightLightAndLeftDownHeavy,
boxRightLightAndLeftUpHeavy,
boxRightLightAndLeftVerticalHeavy,
boxRightUpHeavyAndLeftDownLight,
boxUpDoubleAndHorizontalSingle,
boxUpDoubleAndLeftSingle,
boxUpDoubleAndRightSingle,
boxUpHeavyAndDownHorizontalLight,
boxUpHeavyAndHorizontalLight,
boxUpHeavyAndLeftDownLight,
boxUpHeavyAndLeftLight,
boxUpHeavyAndRightDownLight,
boxUpHeavyAndRightLight,
boxUpLightAndDownHorizontalHeavy,
boxUpLightAndHorizontalHeavy,
boxUpLightAndLeftDownHeavy,
boxUpLightAndLeftHeavy,
boxUpLightAndRightDownHeavy,
boxUpLightAndRightHeavy,
boxUpSingleAndHorizontalDouble,
boxUpSingleAndLeftDouble,
boxUpSingleAndRightDouble,
boxVerticalDoubleAndHorizontalSingle,
boxVerticalDoubleAndLeftSingle,
boxVerticalDoubleAndRightSingle,
boxVerticalHeavyAndHorizontalLight,
boxVerticalHeavyAndLeftLight,
boxVerticalHeavyAndRightLight,
boxVerticalLightAndHorizontalHeavy,
boxVerticalLightAndLeftHeavy,
boxVerticalLightAndRightHeavy,
boxVerticalSingleAndHorizontalDouble,
boxVerticalSingleAndLeftDouble,
boxVerticalSingleAndRightDouble,
dialytikatonoscomb,
tonos,
dieresistonos,
dieresiscomb,
dieresiscomb.case,
dotaccentcomb,
dotaccentcomb.case,
gravecomb,
gravecomb.alt,
gravecomb.case,
acutecomb,
acutecomb.alt,
acutecomb.case,
hungarumlautcomb,
hungarumlautcomb.case,
caroncomb.alt,
circumflexcomb,
circumflexcomb.case,
circumflexcomb_gravecomb.case,
circumflexcomb_acutecomb.case,
circumflexcomb_tildecomb.case,
circumflexcomb_hookabovecomb.case,
caroncomb,
caroncomb.case,
brevecomb,
brevecomb.case,
brevecomb_gravecomb.case,
brevecomb_acutecomb.case,
brevecomb_tildecomb.case,
brevecomb_hookabovecomb.case,
ringcomb,
ringcomb.case,
tildecomb,
tildecomb.case,
macroncomb,
macroncomb.case,
macroncomb_brevecomb,
macroncomb_brevecomb.case,
overlinecomb,
overlinecomb.case,
hookabovecomb,
hookabovecomb.case,
verticallineabovecomb,
verticallineabovecomb.case,
candraBinducomb,
candraBinducomb.case,
breveinvertedcomb,
breveinvertedcomb.case,
commaturnedabovecomb,
commaaboverightcomb,
commaaboverightcomb.case,
horncomb,
horncomb.case,
dotbelowcomb,
ringbelowcomb,
commaaccentcomb,
cedillacomb,
ogonekcomb,
brevebelowcomb,
macronbelowcomb,
strokeshortcomb,
doublemacronbelowcomb,
brevecomb_acutecomb,
brevecomb_gravecomb,
brevecomb_hookabovecomb,
brevecomb_tildecomb,
circumflexcomb_acutecomb,
circumflexcomb_gravecomb,
circumflexcomb_hookabovecomb,
circumflexcomb_tildecomb,
commaaboverightcomb.case.spacing,
commaaboverightcomb.case.spacing.ss20,
commaaboverightcomb.spacing,
commaaboverightcomb.spacing.ss20,
dieresis,
dotaccent,
grave,
acute,
hungarumlaut,
circumflex,
firsttonechinese,
secondtonechinese,
caron,
fourthtonechinese,
breve,
ring,
tilde,
macron,
cedilla,
ogonek,
apostrophemod,
apostrophemod.ss20,
commaturnedmod,
commaturnedmod.ss20,
doubleprimemod,
primemod,
ringhalfleft,
ringhalfright,
verticallinelowmod,
verticallinemod,
uni2BE8,
_part.slash.O,
_part.slash.comp,
_part.slash.o,
_part.arrow,
_part.asc.hook,
_part.asc.k,
_part.asc.left,
_part.asc.right,
_part.asterisk,
_part.bowl,
_part.bowl.descender,
_part.cap.hook.left,
"_part.desc-cy",
_part.desc.hook,
_part.desc.hook.left,
_part.geartooth,
_part.k,
_part.money.bar,
_part.money.crossbar,
_part.notmath.comp,
_part.slash.O.mirrored,
_part.stroke,
uniE0A0,
uniE0A1,
uniE0A2,
uniE0A3,
uniE0B0,
uniE0B1,
uniE0B2,
uniE0B3,
uniEC00,
uniEC01,
uniEC02,
uniEC03,
uniEC07,
uniEC08,
uniEC09,
uniEC0A,
uniEC25,
uniEC26,
uniEC27,
uniEC28,
uniEC2A,
uniEC2B,
uniEC2C,
uniEC2E,
uniEC2F,
_pixel,
_pixel.round,
emoji.eyes,
emoji.eyes.angry,
emoji.eyes.smiling,
emoji.mouth,
emoji.mouth.grinning
)