(
.notdef,
CR,
space,
A,
Agrave,
Aacute,
Acircumflex,
Acircumflexgrave,
Acircumflexacute,
Acircumflextilde,
Acircumflexhookabove,
Atilde,
Amacron,
Abreve,
Abrevegrave,
Abreveacute,
Abrevetilde,
Abrevehookabove,
Adotaccent,
Adieresis,
Adieresismacron,
Ahookabove,
Aring,
Aringacute,
Acaron,
Adotbelow,
Acircumflexdotbelow,
Abrevedotbelow,
Aogonek,
AE,
AEacute,
AEmacron,
B,
Bdotaccent,
Bdotbelow,
Bmacronbelow,
Bstroke,
Bhook,
C,
Cacute,
Ccircumflex,
Cdotaccent,
Chook,
Ccaron,
Ccedilla,
Ccedillaacute,
D,
Ddotaccent,
Dcaron,
Ddotbelow,
Dcedilla,
Dmacronbelow,
Dcroat,
Dhook,
Eth,
E,
Egrave,
Eacute,
Ecircumflex,
Ecircumflexgrave,
Ecircumflexacute,
Ecircumflextilde,
Ecircumflexhookabove,
Etilde,
Emacron,
Emacronacute,
Ebreve,
Edotaccent,
Edieresis,
Ehookabove,
Ecaron,
Edotbelow,
Ecircumflexdotbelow,
Ecedilla,
Ecedillabreve,
Eogonek,
Eturned,
Eopen,
Schwa,
F,
Fdotaccent,
G,
Gacute,
Gcircumflex,
Gmacron,
Gbreve,
Gdotaccent,
Gcaron,
Gcommaaccent,
Gstroke,
H,
Hcircumflex,
Hdotaccent,
Hdieresis,
Hcaron,
Hdotbelow,
Hcedilla,
Hbrevebelow,
Hbar,
Hturned,
I,
Igrave,
Iacute,
Icircumflex,
Itilde,
Imacron,
Ibreve,
Idotaccent,
Idieresis,
Idieresisacute,
Ihookabove,
Icaron,
Idotbelow,
Iogonek,
Istroke,
Icapitalsmall,
IJ,
J,
Jacute,
Jcircumflex,
jcaron.case,
K,
Kacute,
Kcaron,
Kdotbelow,
Kcommaaccent,
Kmacronbelow,
Khook,
L,
Lacute,
Lcaron,
Lcommaaccent,
Ldotbelow,
Ldotbelowmacron,
Lmacronbelow,
Ldot,
Lslash,
Lbar,
M,
Macute,
Mdotaccent,
Mdotbelow,
N,
Ngrave,
Nacute,
Ntilde,
Ndotaccent,
Ncaron,
Ndotbelow,
Ncommaaccent,
Nmacronbelow,
Nhookleft,
Eng,
O,
Ograve,
Oacute,
Omacron,
Omacronacute,
Obreve,
Ocircumflex,
Ocircumflexgrave,
Ocircumflexacute,
Ocircumflexhookabove,
Ocircumflextilde,
Otilde,
Otildemacron,
Odotaccent,
Odotaccentmacron,
Odieresis,
Odieresismacron,
Ohookabove,
Ohungarumlaut,
Ocaron,
Ohorn,
Ohorngrave,
Ohornacute,
Ohorntilde,
Ohornhookabove,
Odotbelow,
Ocircumflexdotbelow,
Ohorndotbelow,
Oogonek,
Oogonekmacron,
Obarred,
Oopen,
Oslash,
Oslashacute,
OE,
P,
Pacute,
Pdotaccent,
Q,
R,
Racute,
Rdotaccent,
Rcaron,
Rinvertedbreve,
Rdotbelow,
Rdotbelowmacron,
Rcommaaccent,
Rmacronbelow,
S,
Sacute,
Scircumflex,
Sdotaccent,
Scaron,
Sdotbelow,
Sdotbelowdotaccent,
Scommaaccent,
Scedilla,
Sobliquestroke,
Germandbls,
Ezh,
Ezhcaron,
T,
Tdotaccent,
Tcaron,
Tdotbelow,
Tcommaaccent,
Tcedilla,
Tmacronbelow,
Tbar,
Thorn,
U,
Ugrave,
Uacute,
Ucircumflex,
Utilde,
Umacron,
Ubreve,
Udieresis,
Udieresisgrave,
Udieresisacute,
Udieresismacron,
Udieresiscaron,
Uhookabove,
Uring,
Uhungarumlaut,
Ucaron,
Uhorn,
Uhorngrave,
Uhornacute,
Uhorntilde,
Uhornhookabove,
Udotbelow,
Uhorndotbelow,
Uogonek,
V,
Vtilde,
Vdotbelow,
Vturned,
W,
Wgrave,
Wacute,
Wcircumflex,
Wdotaccent,
Wdieresis,
Wdotbelow,
X,
Xdotaccent,
Xdieresis,
Y,
Ygrave,
Yacute,
Ycircumflex,
Ytilde,
Ymacron,
Ydotaccent,
Ydieresis,
Yhookabove,
Ydotbelow,
Yhook,
Z,
Zacute,
Zcircumflex,
Zdotaccent,
Zcaron,
Zdotbelow,
Zmacronbelow,
Zstroke,
I.cv02,
Igrave.cv02,
Iacute.cv02,
Icircumflex.cv02,
Itilde.cv02,
Imacron.cv02,
Ibreve.cv02,
Idotaccent.cv02,
Idieresis.cv02,
Idieresisacute.cv02,
Ihookabove.cv02,
Icaron.cv02,
Idotbelow.cv02,
Iogonek.cv02,
Istroke.cv02,
Icapitalsmall.cv02,
J.cv03,
Jacute.cv03,
Jcircumflex.cv03,
jcaron.case.cv03,
Eng.loclNSM,
A.hex,
B.hex,
C.hex,
D.hex,
E.hex,
F.hex,
A.short,
B.short,
C.short,
D.short,
E.short,
F.short,
G.short,
I.short,
K.short,
N.short,
O.short,
Ohorn.short,
P.short,
R.short,
S.short,
T.short,
U.short,
Uhorn.short,
W.short,
Y.short,
I.short.cv02,
a,
agrave,
aacute,
acircumflex,
acircumflexgrave,
acircumflexacute,
acircumflextilde,
acircumflexhookabove,
atilde,
amacron,
abreve,
abrevegrave,
abreveacute,
abrevetilde,
abrevehookabove,
adotaccent,
adieresis,
adieresismacron,
ahookabove,
aring,
aringacute,
acaron,
adotbelow,
acircumflexdotbelow,
abrevedotbelow,
aogonek,
ae,
aeacute,
aemacron,
b,
bdotaccent,
bdotbelow,
bmacronbelow,
bstroke,
bhook,
c,
cacute,
ccircumflex,
cdotaccent,
chook,
ccaron,
ccedilla,
ccedillaacute,
d,
ddotaccent,
dcaron,
ddotbelow,
dcedilla,
dmacronbelow,
dcroat,
dhook,
eth,
e,
egrave,
eacute,
ecircumflex,
ecircumflexgrave,
ecircumflexacute,
ecircumflextilde,
ecircumflexhookabove,
etilde,
emacron,
emacronacute,
ebreve,
edotaccent,
edieresis,
ehookabove,
ecaron,
edotbelow,
ecircumflexdotbelow,
ecedilla,
ecedillabreve,
eogonek,
eturned,
eopen,
schwa,
f,
fdotaccent,
florin,
fi,
fl,
g,
gacute,
gcircumflex,
gmacron,
gbreve,
gdotaccent,
gcaron,
gcommaaccent,
gstroke,
h,
hcircumflex,
hdotaccent,
hdieresis,
hcaron,
hdotbelow,
hcedilla,
hbrevebelow,
hmacronbelow,
hbar,
hturned,
i,
idotless,
igrave,
iacute,
icircumflex,
itilde,
imacron,
ibreve,
idotaccent,
idieresis,
idieresisacute,
ihookabove,
icaron,
idotbelow,
idotbelow.dotless,
iogonek,
iogonek.dotless,
istroke,
istroke.dotless,
Ismall,
Ismallstroke,
iotastroke,
ij,
j,
jdotless,
jacute,
jcircumflex,
jcaron,
k,
kacute,
kcaron,
kdotbelow,
kcommaaccent,
kmacronbelow,
khook,
kgreenlandic,
l,
lacute,
lcaron,
lcommaaccent,
ldotbelow,
ldotbelowmacron,
lmacronbelow,
ldot,
lslash,
lbar,
m,
macute,
mdotaccent,
mdotbelow,
n,
ngrave,
nacute,
ntilde,
ndotaccent,
ncaron,
ndotbelow,
ncommaaccent,
nmacronbelow,
napostrophe,
nhookleft,
eng,
o,
ograve,
oacute,
omacron,
omacronacute,
obreve,
ocircumflex,
ocircumflexgrave,
ocircumflexacute,
ocircumflexhookabove,
ocircumflextilde,
otilde,
otildemacron,
odotaccent,
odotaccentmacron,
odieresis,
odieresismacron,
ohookabove,
ohungarumlaut,
ocaron,
ohorn,
ohorngrave,
ohornacute,
ohorntilde,
ohornhookabove,
odotbelow,
ocircumflexdotbelow,
ohorndotbelow,
oogonek,
oogonekmacron,
obarred,
oopen,
oslash,
oslashacute,
oe,
p,
pacute,
pdotaccent,
q,
r,
racute,
rdotaccent,
rcaron,
rinvertedbreve,
rdotbelow,
rdotbelowmacron,
rcommaaccent,
rmacronbelow,
s,
sacute,
scircumflex,
sdotaccent,
scaron,
sdotbelow,
sdotbelowdotaccent,
scommaaccent,
scedilla,
sobliquestroke,
longs,
longsdotaccent,
germandbls,
ezh,
ezhcaron,
t,
tdotaccent,
tdieresis,
tcaron,
t_commaaboverightcomb,
tdotbelow,
tcommaaccent,
tcedilla,
tmacronbelow,
tbar,
thorn,
u,
ugrave,
uacute,
ucircumflex,
utilde,
umacron,
ubreve,
udieresis,
udieresisgrave,
udieresisacute,
udieresismacron,
udieresiscaron,
uhookabove,
uring,
uhungarumlaut,
ucaron,
uhorn,
uhorngrave,
uhornacute,
uhorntilde,
uhornhookabove,
udotbelow,
uhorndotbelow,
uogonek,
v,
vtilde,
vdotbelow,
vturned,
w,
wgrave,
wacute,
wcircumflex,
wdotaccent,
wdieresis,
wring,
wdotbelow,
x,
xdotaccent,
xdieresis,
y,
ygrave,
yacute,
ycircumflex,
ytilde,
ymacron,
ydotaccent,
ydieresis,
yhookabove,
yring,
ydotbelow,
yhook,
z,
zacute,
zcircumflex,
zdotaccent,
zcaron,
zdotbelow,
zmacronbelow,
zstroke,
g.cv01,
gacute.cv01,
gcircumflex.cv01,
gmacron.cv01,
gbreve.cv01,
gdotaccent.cv01,
gcaron.cv01,
gcommaaccent.cv01,
gstroke.cv01,
i.cv02,
idotless.cv02,
igrave.cv02,
iacute.cv02,
icircumflex.cv02,
itilde.cv02,
imacron.cv02,
ibreve.cv02,
idotaccent.cv02,
idieresis.cv02,
idieresisacute.cv02,
ihookabove.cv02,
icaron.cv02,
idotbelow.cv02,
idotbelow.dotless.cv02,
iogonek.cv02,
iogonek.dotless.cv02,
istroke.cv02,
istroke.dotless.cv02,
j.cv03,
jdotless.cv03,
jacute.cv03,
jcircumflex.cv03,
jcaron.cv03,
l.cv04,
lacute.cv04,
lcaron.cv04,
lcommaaccent.cv04,
ldotbelow.cv04,
ldotbelowmacron.cv04,
lmacronbelow.cv04,
ldot.cv04,
lslash.cv04,
lbar.cv04,
m.cv05.1,
m.cv05.2,
f.italic,
longs.italic,
longsdotaccent.italic,
germandbls.italic,
w.italic,
wgrave.italic,
wacute.italic,
wcircumflex.italic,
wdotaccent.italic,
wdieresis.italic,
wring.italic,
wdotbelow.italic,
amod,
dmod,
hmod,
nmod,
omod,
rmod,
smod,
tmod,
primemod,
doubleprimemod,
commaturnedmod,
apostrophemod,
ringhalfright,
ringhalfleft,
verticallinelowmod,
verticallinemod,
A.sups,
B.sups,
C.sups,
D.sups,
E.sups,
F.sups,
G.sups,
H.sups,
I.sups,
J.sups,
K.sups,
L.sups,
M.sups,
N.sups,
O.sups,
P.sups,
Q.sups,
R.sups,
S.sups,
T.sups,
U.sups,
V.sups,
W.sups,
X.sups,
Y.sups,
Z.sups,
ordfeminine,
ordmasculine,
gravecomb,
gravecomb.alt,
acutecomb,
acutecomb.alt,
circumflexcomb,
circumflexcomb_gravecomb,
circumflexcomb_acutecomb,
circumflexcomb_tildecomb,
circumflexcomb_hookabovecomb,
tildecomb,
macroncomb,
macroncomb_brevecomb,
overlinecomb,
brevecomb,
brevecomb_gravecomb,
brevecomb_acutecomb,
brevecomb_tildecomb,
brevecomb_hookabovecomb,
dotaccentcomb,
dieresiscomb,
hookabovecomb,
ringcomb,
hungarumlautcomb,
caroncomb,
caroncomb.alt,
verticallineabovecomb,
candraBinducomb,
breveinvertedcomb,
commaturnedabovecomb,
commaaboverightcomb,
horncomb,
dotbelowcomb,
ringbelowcomb,
commaaccentcomb,
cedillacomb,
ogonekcomb,
brevebelowcomb,
macronbelowcomb,
strokeshortcomb,
dialytikatonoscomb,
doublemacronbelowcomb,
gravecomb.case,
acutecomb.case,
circumflexcomb.case,
circumflexcomb_gravecomb.case,
circumflexcomb_acutecomb.case,
circumflexcomb_tildecomb.case,
circumflexcomb_hookabovecomb.case,
tildecomb.case,
macroncomb.case,
macroncomb_brevecomb.case,
overlinecomb.case,
brevecomb.case,
brevecomb_gravecomb.case,
brevecomb_acutecomb.case,
brevecomb_tildecomb.case,
brevecomb_hookabovecomb.case,
dotaccentcomb.case,
dieresiscomb.case,
hookabovecomb.case,
ringcomb.case,
hungarumlautcomb.case,
caroncomb.case,
verticallineabovecomb.case,
candraBinducomb.case,
breveinvertedcomb.case,
commaaboverightcomb.case,
horncomb.case,
grave,
fourthtonechinese,
acute,
secondtonechinese,
circumflex,
tilde,
macron,
firsttonechinese,
breve,
dotaccent,
dieresis,
ring,
hungarumlaut,
caron,
cedilla,
ogonek,
tonos,
dieresistonos,
"A-cy",
"Be-cy",
"Ve-cy",
"Ge-cy",
"Gje-cy",
"Geupturn-cy",
"De-cy",
"Ie-cy",
"Iegrave-cy",
"Io-cy",
"Zhe-cy",
"Ze-cy",
"Ii-cy",
"Iigrave-cy",
"Iishort-cy",
"Ka-cy",
"Kje-cy",
"El-cy",
"Em-cy",
"En-cy",
"O-cy",
"Pe-cy",
"Er-cy",
"Es-cy",
"Te-cy",
"U-cy",
"Ushort-cy",
"Ef-cy",
"Ha-cy",
"Che-cy",
"Tse-cy",
"Sha-cy",
"Shcha-cy",
"Dzhe-cy",
"Softsign-cy",
"Yeru-cy",
"Hardsign-cy",
"Lje-cy",
"Nje-cy",
"Dze-cy",
"E-cy",
"Ereversed-cy",
"I-cy",
"Yi-cy",
"Je-cy",
"Tshe-cy",
"Yu-cy",
"Ya-cy",
"Dje-cy",
"Palochka-cy",
"I-cy.cv02",
"Yi-cy.cv02",
"Palochka-cy.cv02",
"Je-cy.cv03",
"a-cy",
"be-cy",
"ve-cy",
"ge-cy",
"gje-cy",
"geupturn-cy",
"de-cy",
"ie-cy",
"iegrave-cy",
"io-cy",
"zhe-cy",
"ze-cy",
"ii-cy",
"iigrave-cy",
"iishort-cy",
"ka-cy",
"kje-cy",
"el-cy",
"em-cy",
"en-cy",
"o-cy",
"pe-cy",
"er-cy",
"es-cy",
"te-cy",
"u-cy",
"ushort-cy",
"ef-cy",
"ha-cy",
"che-cy",
"tse-cy",
"sha-cy",
"shcha-cy",
"dzhe-cy",
"softsign-cy",
"yeru-cy",
"hardsign-cy",
"lje-cy",
"nje-cy",
"dze-cy",
"e-cy",
"ereversed-cy",
"i-cy",
"i-cy.dotless",
"yi-cy",
"je-cy",
"tshe-cy",
"yu-cy",
"ya-cy",
"dje-cy",
"palochka-cy",
"i-cy.cv02",
"i-cy.dotless.cv02",
"yi-cy.cv02",
"palochka-cy.cv02",
"je-cy.cv03",
Alpha,
Beta,
Gamma,
Delta,
Epsilon,
Alphatonos,
Epsilontonos,
Zeta,
Eta,
Etatonos,
Theta,
Iota,
Iotadieresis,
Iotatonos,
Kappa,
Lambda,
Mu,
Nu,
Xi,
Omicron,
Omicrontonos,
Pi,
Rho,
Sigma,
Tau,
Upsilon,
Upsilondieresis,
Upsilontonos,
UpsilonhookSymbol,
Phi,
Chi,
Psi,
Omega,
Omegatonos,
Iota.cv02,
Iotadieresis.cv02,
Iotatonos.cv02,
alpha,
alphatonos,
beta,
gamma,
delta,
epsilon,
epsilontonos,
zeta,
eta,
etatonos,
theta,
iota,
iotadieresis,
iotadieresistonos,
iotatonos,
kappa,
lambda,
mu,
nu,
xi,
omicron,
omicrontonos,
pi,
rho,
sigmafinal,
sigma,
tau,
upsilon,
upsilondieresis,
upsilondieresistonos,
upsilontonos,
phi,
phiSymbol,
chi,
psi,
omega,
omegatonos,
acknowledgeControl,
bellControl,
backspaceControl,
cancelControl,
carriageReturnControl,
deviceControlOneControl,
deviceControlTwoControl,
deviceControlThreeControl,
deviceControlFourControl,
deleteControl,
dataLinkEscapeControl,
endOfMediumControl,
enquiryControl,
escapeControl,
endOfTransmissionControl,
endOfTextControl,
endOfTransmissionBlockControl,
formFeedControl,
fileSeparatorControl,
groupSeparatorControl,
horizontalTabulationControl,
lineFeedControl,
negativeAcknowledgeControl,
newlineControl,
nullControl,
recordSeparatorControl,
shiftInControl,
shiftOutControl,
startOfHeadingControl,
spaceControl,
startOfTextControl,
substituteControl,
synchronousIdleControl,
unitSeparatorControl,
verticalTabulationControl,
"blank-braille",
"dots1-braille",
"dots12-braille",
"dots123-braille",
"dots1234-braille",
"dots12345-braille",
"dots123456-braille",
"dots12346-braille",
"dots1235-braille",
"dots12356-braille",
"dots1236-braille",
"dots124-braille",
"dots1245-braille",
"dots12456-braille",
"dots1246-braille",
"dots125-braille",
"dots1256-braille",
"dots126-braille",
"dots13-braille",
"dots134-braille",
"dots1345-braille",
"dots13456-braille",
"dots1346-braille",
"dots135-braille",
"dots1356-braille",
"dots136-braille",
"dots14-braille",
"dots145-braille",
"dots1456-braille",
"dots146-braille",
"dots15-braille",
"dots156-braille",
"dots16-braille",
"dots2-braille",
"dots23-braille",
"dots234-braille",
"dots2345-braille",
"dots23456-braille",
"dots2346-braille",
"dots235-braille",
"dots2356-braille",
"dots236-braille",
"dots24-braille",
"dots245-braille",
"dots2456-braille",
"dots246-braille",
"dots25-braille",
"dots256-braille",
"dots26-braille",
"dots3-braille",
"dots34-braille",
"dots345-braille",
"dots3456-braille",
"dots346-braille",
"dots35-braille",
"dots356-braille",
"dots36-braille",
"dots4-braille",
"dots45-braille",
"dots456-braille",
"dots46-braille",
"dots5-braille",
"dots56-braille",
"dots6-braille",
zero,
zero.cv06,
zero.zero,
one,
two,
three,
four,
five,
six,
seven,
eight,
nine,
zero.osf,
zero.osf.cv06,
zero.zero.osf,
one.osf,
two.osf,
three.osf,
four.osf,
five.osf,
six.osf,
seven.osf,
eight.osf,
nine.osf,
zeroinferior,
oneinferior,
twoinferior,
threeinferior,
fourinferior,
fiveinferior,
sixinferior,
seveninferior,
eightinferior,
nineinferior,
zero.dnom,
one.dnom,
two.dnom,
three.dnom,
four.dnom,
five.dnom,
six.dnom,
seven.dnom,
eight.dnom,
nine.dnom,
zero.numr,
one.numr,
two.numr,
three.numr,
four.numr,
five.numr,
six.numr,
seven.numr,
eight.numr,
nine.numr,
zerosuperior,
onesuperior,
twosuperior,
threesuperior,
foursuperior,
fivesuperior,
sixsuperior,
sevensuperior,
eightsuperior,
ninesuperior,
fraction,
fraction.alt,
fraction.percent,
onefraction,
onehalf,
zerothird,
onethird,
twothirds,
onequarter,
threequarters,
onefifth,
twofifths,
threefifths,
fourfifths,
onesixth,
fivesixths,
oneseventh,
twosevenths,
threesevenths,
foursevenths,
fivesevenths,
sixsevenths,
oneeighth,
threeeighths,
fiveeighths,
seveneighths,
oneninth,
twoninths,
fourninths,
fiveninths,
sevenninths,
eightninths,
nbspace,
zerowidthspace,
zerowidthnonjoiner,
zerowidthjoiner,
zeroWidthNoBreakSpace,
space.frac,
period,
comma,
colon,
colon.alt,
semicolon,
ellipsis,
exclam,
exclamdown,
question,
questiondown,
periodcentered,
periodcentered.loclCAT,
bullet,
asterisk,
exclamdouble,
numbersign,
overline,
slash,
backslash,
hyphen,
softhyphen,
endash,
emdash,
horizontalbar,
dblverticalbar,
underscore,
underscoredbl,
parenleft,
parenright,
braceleft,
braceright,
bracketleft,
bracketright,
"leftanglebracket-math",
"rightanglebracket-math",
heavyleftpointinganglequotationmarkornament,
heavyrightpointinganglequotationmarkornament,
leftDoubleParen,
rightDoubleParen,
quotesinglbase,
quotedblbase,
quotedblleft,
quotedblright,
quoteleft,
quoteright,
quotereversed,
quotedblrightreversed,
guillemetleft,
guillemetright,
guilsinglleft,
guilsinglright,
quotedbl,
quotesingle,
anoteleia,
questiongreek,
currency,
baht,
bitcoin,
cedi,
cent,
colonsign,
dollar,
dong,
euro,
franc,
guarani,
hryvnia,
kip,
lari,
lira,
liraTurkish,
manat,
naira,
peseta,
peso,
sterling,
ruble,
rupee,
rupeeIndian,
sheqel,
tenge,
tugrik,
won,
yen,
boxDoubleDownAndHorizontal,
boxDoubleDownAndLeft,
boxDoubleDownAndRight,
boxDoubleHorizontal,
boxDoubleUpAndHorizontal,
boxDoubleUpAndLeft,
boxDoubleUpAndRight,
boxDoubleVertical,
boxDoubleVerticalAndHorizontal,
boxDoubleVerticalAndLeft,
boxDoubleVerticalAndRight,
boxDownDoubleAndHorizontalSingle,
boxDownDoubleAndLeftSingle,
boxDownDoubleAndRightSingle,
boxDownHeavyAndHorizontalLight,
boxDownHeavyAndLeftLight,
boxDownHeavyAndLeftUpLight,
boxDownHeavyAndRightLight,
boxDownHeavyAndRightUpLight,
boxDownHeavyAndUpHorizontalLight,
boxDownLightAndHorizontalHeavy,
boxDownLightAndLeftHeavy,
boxDownLightAndLeftUpHeavy,
boxDownLightAndRightHeavy,
boxDownLightAndRightUpHeavy,
boxDownLightAndUpHorizontalHeavy,
boxDownSingleAndHorizontalDouble,
boxDownSingleAndLeftDouble,
boxDownSingleAndRightDouble,
boxHeavyDoubleDashHorizontal,
boxHeavyDoubleDashVertical,
boxHeavyDown,
boxHeavyDownAndHorizontal,
boxHeavyDownAndLeft,
boxHeavyDownAndRight,
boxHeavyHorizontal,
boxHeavyLeft,
boxHeavyLeftAndLightRight,
boxHeavyQuadrupleDashHorizontal,
boxHeavyQuadrupleDashVertical,
boxHeavyRight,
boxHeavyTripleDashHorizontal,
boxHeavyTripleDashVertical,
boxHeavyUp,
boxHeavyUpAndHorizontal,
boxHeavyUpAndLeft,
boxHeavyUpAndLightDown,
boxHeavyUpAndRight,
boxHeavyVertical,
boxHeavyVerticalAndHorizontal,
boxHeavyVerticalAndLeft,
boxHeavyVerticalAndRight,
boxLeftDownHeavyAndRightUpLight,
boxLeftHeavyAndRightDownLight,
boxLeftHeavyAndRightUpLight,
boxLeftHeavyAndRightVerticalLight,
boxLeftLightAndRightDownHeavy,
boxLeftLightAndRightUpHeavy,
boxLeftLightAndRightVerticalHeavy,
boxLeftUpHeavyAndRightDownLight,
boxLightArcDownAndLeft,
boxLightArcDownAndRight,
boxLightArcUpAndLeft,
boxLightArcUpAndRight,
boxLightDiagonalCross,
boxLightDiagonalUpperLeftToLowerRight,
boxLightDiagonalUpperRightToLowerLeft,
boxLightDoubleDashHorizontal,
boxLightDoubleDashVertical,
boxLightDown,
boxLightDownAndHorizontal,
boxLightDownAndLeft,
boxLightDownAndRight,
boxLightHorizontal,
boxLightLeft,
boxLightLeftAndHeavyRight,
boxLightQuadrupleDashHorizontal,
boxLightQuadrupleDashVertical,
boxLightRight,
boxLightTripleDashHorizontal,
boxLightTripleDashVertical,
boxLightUp,
boxLightUpAndHeavyDown,
boxLightUpAndHorizontal,
boxLightUpAndLeft,
boxLightUpAndRight,
boxLightVertical,
boxLightVerticalAndHorizontal,
boxLightVerticalAndLeft,
boxLightVerticalAndRight,
boxRightDownHeavyAndLeftUpLight,
boxRightHeavyAndLeftDownLight,
boxRightHeavyAndLeftUpLight,
boxRightHeavyAndLeftVerticalLight,
boxRightLightAndLeftDownHeavy,
boxRightLightAndLeftUpHeavy,
boxRightLightAndLeftVerticalHeavy,
boxRightUpHeavyAndLeftDownLight,
boxUpDoubleAndHorizontalSingle,
boxUpDoubleAndLeftSingle,
boxUpDoubleAndRightSingle,
boxUpHeavyAndDownHorizontalLight,
boxUpHeavyAndHorizontalLight,
boxUpHeavyAndLeftDownLight,
boxUpHeavyAndLeftLight,
boxUpHeavyAndRightDownLight,
boxUpHeavyAndRightLight,
boxUpLightAndDownHorizontalHeavy,
boxUpLightAndHorizontalHeavy,
boxUpLightAndLeftDownHeavy,
boxUpLightAndLeftHeavy,
boxUpLightAndRightDownHeavy,
boxUpLightAndRightHeavy,
boxUpSingleAndHorizontalDouble,
boxUpSingleAndLeftDouble,
boxUpSingleAndRightDouble,
boxVerticalDoubleAndHorizontalSingle,
boxVerticalDoubleAndLeftSingle,
boxVerticalDoubleAndRightSingle,
boxVerticalHeavyAndHorizontalLight,
boxVerticalHeavyAndLeftLight,
boxVerticalHeavyAndRightLight,
boxVerticalLightAndHorizontalHeavy,
boxVerticalLightAndLeftHeavy,
boxVerticalLightAndRightHeavy,
boxVerticalSingleAndHorizontalDouble,
boxVerticalSingleAndLeftDouble,
boxVerticalSingleAndRightDouble,
"note-musical",
"notedbl-musical",
earthGlobeAmericas,
crescentMoon,
cloudRain,
cityscape,
houseBuilding,
thumbsUpSign,
thumbsDownSign,
bustInSilhouette,
speechBalloon,
banknoteDollarSign,
personalComputer,
floppyDisk,
dvd,
fileFolder,
openFileFolder,
tearOffCalendar,
telephoneReceiver,
mobilePhone,
antennaBars,
camera,
shuffleArrows,
repeatArrow,
speaker,
speakerWithThreeSoundWaves,
leftMagnifyingGlass,
rightMagnifyingGlass,
key,
lock,
openLock,
wrench,
blackHeart,
printer,
folder,
openFolder,
wastebasket,
minimize,
maximize,
uniEC00,
uniEC01,
uniEC02,
uniEC03,
uniEC07,
uniEC08,
uniEC09,
uniEC0A,
uniEC25,
uniEC26,
uniEC27,
uniEC28,
uniEC2A,
uniEC2B,
uniEC2C,
uniEC2E,
uniEC2F,
whiteSmilingFace,
blackSmilingFace,
whiteFrowningFace,
grinningFace,
grinningFaceWithSmilingEyes,
smilingFaceWithSmilingEyes,
angryFace,
poutingFace,
boysSymbol,
girlsSymbol,
shoppingTrolley,
cloud,
blackStar,
blackSmallStar,
uni2BE8,
whiteStar,
whiteSmallStar,
heavyGreekCross,
heavenTrigram,
sunWithRays,
venus,
mars,
diamondBlackSuit,
diamondWhiteSuit,
heartBlackSuit,
heartWhiteSuit,
spadeBlackSuit,
spadeWhiteSuit,
clubBlackSuit,
clubWhiteSuit,
blackFlag,
whiteFlag,
gearWithoutHub,
envelope,
lowerRightPencil,
ballotBox,
ballotBoxWithCheck,
ballotBoxWithBoldCheck,
ballotBoxWithLightX,
ballotBoxWithX,
ballotBoxWithScriptX,
ballotBoxWithBoldScriptX,
checkmark,
heavyCheckMark,
ballotX,
heavyBallotX,
ballotScriptX,
ballotBoldScriptX,
multiplicationX,
heavyMultiplicationX,
dagger,
daggerdbl,
blackCircleForRecord,
blackLeftDoubleTriangle,
blackLeftDoubleTriangleWithVerticalBar,
blackMediumRightTriangle,
blackRightDoubleTriangle,
blackRightDoubleTriangleWithVerticalBar,
blackSquareForStop,
doubleVerticalBar,
house,
informationsource,
upWhiteArrow,
capslock,
deleteLeftKey,
optionKey,
alternativekeysymbol,
propellor,
replacementCharacter,
at,
ampersand,
paragraph,
section,
copyright,
registered,
published,
aktieselskab,
careof,
trademark,
literSign,
estimated,
numero,
degree,
minute,
second,
bar,
brokenbar,
angle,
anticlockwiseClosedCircleArrow,
bulletoperator,
divisionslash,
dotmath,
equivalence,
estimates,
integralbt,
integraltp,
logicalnotReversed,
minussuperior,
notsubset,
notsuperset,
plus,
minus,
multiply,
divide,
equal,
notequal,
greater,
less,
greaterequal,
lessequal,
plusminus,
approxequal,
asciitilde,
logicalnot,
asciicircum,
infinity,
logicaland,
logicalor,
intersection,
union,
integral,
radical,
partialdiff,
orthogonal,
parallel,
percent,
perthousand,
perpendicular,
plussuperior,
ratio,
setminus,
similar,
subset,
superset,
emptyset,
theredoesnotexist,
Ohm,
increment,
product,
summation,
micro,
uniE0A0,
uniE0A1,
uniE0A2,
uniE0A3,
uniE0B0,
uniE0B1,
uniE0B2,
uniE0B3,
lnSquare,
upArrow,
northEastArrow,
rightArrow,
southEastArrow,
downArrow,
southWestArrow,
leftArrow,
northWestArrow,
leftRightArrow,
upDownArrow,
upFrombarArrow,
upDownbaseArrow,
clockwiseRightAndLeftSemicircleArrows,
downArrowToBar,
carriagereturn,
downTipRightArrow,
lowerOneEighthBlock,
lowerOneQuarterBlock,
lowerThreeEighthsBlock,
lowerHalfBlock,
lowerFiveEighthsBlock,
lowerThreeQuartersBlock,
lowerSevenEighthsBlock,
fullBlock,
upperHalfBlock,
upperOneEighthBlock,
leftOneEighthBlock,
leftOneQuarterBlock,
leftThreeEighthsBlock,
leftBlock,
leftFiveEighthsBlock,
leftThreeQuartersBlock,
leftSevenEighthsBlock,
rightBlock,
rightOneEighthBlock,
lowerLeftBlock,
lowerRightBlock,
upperLeftBlock,
upperLeftAndLowerLeftAndLowerRightBlock,
upperLeftAndLowerRightBlock,
upperLeftAndUpperRightAndLowerLeftBlock,
upperLeftAndUpperRightAndLowerRightBlock,
upperRightBlock,
upperRightAndLowerLeftBlock,
upperRightAndLowerLeftAndLowerRightBlock,
shadelight,
shademedium,
shadedark,
blackSquare,
whiteSquare,
blackDiamond,
whiteDiamond,
blackCircle,
whiteCircle,
whiteBullet,
inverseBullet,
inverseWhiteCircle,
lozenge,
filledRect,
upperlefttolowerrightFillSquare,
upperrighttolowerleftFillSquare,
blackSmallSquare,
whiteSmallSquare,
upBlackTriangle,
rightBlackTriangle,
downBlackTriangle,
leftBlackTriangle,
upWhiteTriangle,
rightWhiteTriangle,
downWhiteTriangle,
leftWhiteTriangle,
rightBlackPointer,
leftBlackPointer,
upperRightBlackTriangle,
lowerRightBlackTriangle,
lowerLeftBlackTriangle,
upperLeftBlackTriangle,
dottedCircle,
A.ss20,
Abreveacute.ss20,
Abrevegrave.ss20,
Abrevehookabove.ss20,
Abrevetilde.ss20,
Acircumflexacute.ss20,
Acircumflexgrave.ss20,
Acircumflexhookabove.ss20,
Acircumflextilde.ss20,
Adieresismacron.ss20,
Ahookabove.ss20,
Aring.ss20,
AE.ss20,
Bhook.ss20,
C.ss20,
C_ogonekcomb,
C_ogonekcomb.ss20,
Chook.ss20,
D.ss20,
Dcroat.ss20,
Dhook.ss20,
Eth.ss20,
E.ss20,
Ecircumflexacute.ss20,
Ecircumflexgrave.ss20,
Ecircumflexhookabove.ss20,
Ecircumflextilde.ss20,
Ehookabove.ss20,
Emacronacute.ss20,
Eopen.ss20,
Eturned.ss20,
F.ss20,
G.ss20,
Gstroke.ss20,
H.ss20,
Hbar.ss20,
Hturned.ss20,
I.ss20,
I.ss20.cv02,
IJ.ss20,
Iacute_J.loclNLD,
Iacute.ss20.cv02,
Ibreve.ss20.cv02,
Icapitalsmall.ss20,
Icapitalsmall.ss20.cv02,
Icaron.ss20.cv02,
Icircumflex.ss20.cv02,
Idieresis.ss20.cv02,
Idieresisacute.ss20,
Idieresisacute.ss20.cv02,
Idotaccent.ss20.cv02,
Idotbelow.ss20.cv02,
Igrave.ss20.cv02,
Ihookabove.ss20,
Ihookabove.ss20.cv02,
Imacron.ss20.cv02,
Iogonek.ss20.cv02,
"Iota-latin",
Istroke.ss20,
Istroke.ss20.cv02,
Itilde.ss20.cv02,
J.ss20,
J.ss20.cv03,
K.orig,
K.ss20,
K_horncomb,
L.ss20,
Lbar.ss20,
Lcaron.ss20,
Ldot.ss20,
Lslash.ss20,
M.orig,
M.ss20,
N.ss20,
Nhookleft.ss20,
Eng.loclNSM.ss20,
Eng.ss20,
O.ss20,
Ocircumflexacute.ss20,
Ocircumflexgrave.ss20,
Ocircumflexhookabove.ss20,
Ocircumflextilde.ss20,
Odieresismacron.ss20,
Odotaccentmacron.ss20,
Ohookabove.ss20,
Ohorn.ss20,
Ohornhookabove.ss20,
Omacronacute.ss20,
Oopen.ss20,
Oslash.ss20,
Otildemacron.ss20,
OE.ss20,
Q.ss20,
S.ss20,
S_horncomb,
Germandbls.ss20,
T.ss20,
T_horncomb,
U.ss20,
Udieresisacute.ss20,
Udieresiscaron.ss20,
Udieresisgrave.ss20,
Udieresismacron.ss20,
Uhookabove.ss20,
Uhorn.ss20,
Uhornhookabove.ss20,
"Upsilon-latin",
Uring.ss20,
Utildeacute,
Utildeacute.ss20,
V.ss20,
Vhook,
W.ss20,
X.ss20,
Y.ss20,
Yhookabove.ss20,
Z.orig,
Z.ss20,
a.ss20,
abreve.ss20,
abreveacute.ss20,
abrevegrave.ss20,
abrevehookabove.ss20,
abrevetilde.ss20,
acaron.ss20,
acircumflex.ss20,
acircumflexacute.ss20,
acircumflexdotbelow.ss20,
acircumflexgrave.ss20,
acircumflexhookabove.ss20,
acircumflextilde.ss20,
adieresis.ss20,
adieresismacron.ss20,
adotaccent.ss20,
agrave.ss20,
ahookabove.ss20,
amacron.ss20,
aring.ss20,
aringacute.ss20,
atilde.ss20,
ae.ss20,
c.ss20,
c_ogonekcomb,
c_ogonekcomb.ss20,
cacute.ss20,
ccaron.ss20,
ccedillaacute.ss20,
ccircumflex.ss20,
cdotaccent.ss20,
chook.ss20,
dcaron.ss20,
e.ss20,
eacute.ss20,
ebreve.ss20,
ecaron.ss20,
ecedillabreve.ss20,
ecircumflex.ss20,
ecircumflexacute.ss20,
ecircumflexdotbelow.ss20,
ecircumflexgrave.ss20,
ecircumflexhookabove.ss20,
ecircumflextilde.ss20,
edieresis.ss20,
edotaccent.ss20,
egrave.ss20,
ehookabove.ss20,
emacron.ss20,
emacronacute.ss20,
etilde.ss20,
eturned.ss20,
schwa.ss20,
f.ss20,
f.ss20.italic,
i.ss20,
i.ss20.cv02,
idotless.ss20,
idotless.ss20.cv02,
iacute.ss20,
iacute.ss20.cv02,
ibreve.ss20,
ibreve.ss20.cv02,
icaron.ss20,
icaron.ss20.cv02,
icircumflex.ss20,
icircumflex.ss20.cv02,
idieresis.ss20,
idieresis.ss20.cv02,
idieresisacute.ss20.cv02,
idotaccent.ss20,
idotaccent.ss20.cv02,
idotbelow.dotless.ss20,
idotbelow.dotless.ss20.cv02,
idotbelow.ss20,
idotbelow.ss20.cv02,
igrave.ss20,
igrave.ss20.cv02,
ihookabove.ss20,
ihookabove.ss20.cv02,
imacron.ss20,
imacron.ss20.cv02,
iogonek.dotless.ss20,
iogonek.dotless.ss20.cv02,
iogonek.ss20,
iogonek.ss20.cv02,
"iota-latin",
"iota-latin.ss20",
istroke.dotless.ss20,
istroke.dotless.ss20.cv02,
istroke.ss20,
istroke.ss20.cv02,
itilde.ss20,
itilde.ss20.cv02,
ij.ss20,
iacute_j.loclNLD,
j.ss20,
j.ss20.cv03,
jdotless.ss20,
jdotless.ss20.cv03,
jacute.ss20,
jacute.ss20.cv03,
jcaron.ss20,
jcaron.ss20.cv03,
jcircumflex.ss20,
jcircumflex.ss20.cv03,
k.orig,
k_horncomb,
l.ss20,
l.ss20.cv04,
lbar.ss20,
lbar.ss20.cv04,
lcaron.ss20,
lcaron.ss20.cv04,
ldot.ss20,
ldot.ss20.cv04,
lslash.ss20,
lslash.ss20.cv04,
m.ss20,
m.wide,
o_cedillacomb,
oopen.ss20,
oe.ss20,
r.ss20,
racute.ss20,
rcaron.ss20,
rdotaccent.ss20,
rdotbelowmacron.ss20,
rinvertedbreve.ss20,
s.ss20,
s_horncomb,
s_horncomb.ss20,
sacute.ss20,
scaron.ss20,
scedilla.ss20,
scircumflex.ss20,
sdotaccent.ss20,
sdotbelowdotaccent.ss20,
sobliquestroke.ss20,
longs.ss20,
longs.ss20.italic,
t.ss20,
t_commaaboverightcomb.ss20,
t_horncomb,
tbar.ss20,
tcaron.ss20,
tcedilla.ss20,
tdieresis.ss20,
tdotaccent.ss20,
"upsilon-latin",
utildeacute,
vhook,
w.ss20,
w.ss20.italic,
w.wide,
wacute.ss20,
wacute.ss20.italic,
wcircumflex.ss20,
wcircumflex.ss20.italic,
wdieresis.ss20,
wdieresis.ss20.italic,
wdotaccent.ss20,
wdotaccent.ss20.italic,
wdotbelow.ss20,
wdotbelow.ss20.italic,
wgrave.ss20,
wgrave.ss20.italic,
wring.ss20,
wring.ss20.italic,
y.orig,
z.orig,
z.ss20,
zacute.ss20,
zcaron.ss20,
zcircumflex.ss20,
zdotaccent.ss20,
zstroke.ss20,
iacute_j.loclNLD.cv02,
iacute_j.loclNLD.cv02.cv03,
iacute_j.loclNLD.cv03,
ordfeminine.ss20,
ordmasculine.ss20,
hmod.ss20,
nmod.ss20,
rmod.ss20,
smod.ss20,
"Palochka-cy.ss20",
"Palochka-cy.ss20.cv02",
"A-cy.ss20",
"Ge-cy.ss20",
"Gje-cy.ss20",
"Geupturn-cy.ss20",
"De-cy.ss20",
"Ie-cy.ss20",
"Zhe-cy.ss20",
"Ze-cy.ss20",
"Ii-cy.ss20",
"El-cy.ss20",
"Em-cy.orig",
"Em-cy.ss20",
"En-cy.ss20",
"O-cy.ss20",
"Pe-cy.ss20",
"Es-cy.ss20",
"Ef-cy.ss20",
"Sha-cy.ss20",
"Shcha-cy.ss20",
"Yeru-cy.ss20",
"Lje-cy.ss20",
"Nje-cy.ss20",
"Dze-cy.ss20",
"I-cy.ss20",
"I-cy.ss20.cv02",
"Yi-cy.ss20",
"Yi-cy.ss20.cv02",
"Je-cy.ss20.cv03",
"Tshe-cy.ss20",
"Yu-cy.ss20",
"Dje-cy.ss20",
"palochka-cy.ss20",
"palochka-cy.ss20.cv02",
"a-cy.ss20",
"ve-cy.loclRUS",
"ge-cy.loclRUS",
"ge-cy.ss20",
"gje-cy.loclRUS",
"gje-cy.ss20",
"de-cy.loclRUS",
"ie-cy.ss20",
"iegrave-cy.ss20",
"io-cy.ss20",
"zhe-cy.ss20",
"ii-cy.loclRUS",
"iishort-cy.loclRUS",
"iigrave-cy.loclRUS",
"ka-cy.loclRUS",
"kje-cy.loclRUS",
"em-cy.ss20",
"pe-cy.loclRUS",
"es-cy.ss20",
"te-cy.loclRUS",
"te-cy.ss20",
"ef-cy.ss20",
"tse-cy.loclRUS",
"sha-cy.loclRUS",
"sha-cy.ss20",
"shcha-cy.loclRUS",
"shcha-cy.ss20",
"dzhe-cy.loclRUS",
"softsign-cy.ss20",
"yeru-cy.ss20",
"hardsign-cy.ss20",
"lje-cy.ss20",
"nje-cy.ss20",
"dze-cy.ss20",
"i-cy.dotless.ss20",
"i-cy.dotless.ss20.cv02",
"i-cy.ss20",
"i-cy.ss20.cv02",
"yi-cy.ss20",
"yi-cy.ss20.cv02",
"je-cy.ss20",
"je-cy.ss20.cv03",
"yu-cy.ss20",
Alpha.ss20,
Gamma.ss20,
Delta.ss20,
Epsilon.ss20,
Zeta.ss20,
Eta.ss20,
Theta.ss20,
Iota.ss20,
Iota.ss20.cv02,
Lambda.ss20,
Mu.orig,
Mu.ss20,
Nu.ss20,
Omicron.ss20,
Pi.ss20,
Phi.ss20,
Psi.ss20,
Omega.ss20,
Alphatonos.ss20,
Epsilontonos.ss20,
Etatonos.ss20,
Iotatonos.ss20,
Iotatonos.ss20.cv02,
Omicrontonos.ss20,
Omegatonos.ss20,
Iotadieresis.ss20,
Iotadieresis.ss20.cv02,
alpha.orig,
epsilon.ss20,
iota.ss20,
phi.ss20,
psi.ss20,
omega.ss20,
iotatonos.ss20,
iotadieresis.ss20,
iotadieresistonos.ss20,
omegatonos.ss20,
epsilontonos.ss20,
phiSymbol.ss20,
dmod.ss20,
tmod.ss20,
zero.lf,
one.lf,
two.lf,
three.lf,
three.001,
four.lf,
five.lf,
six.lf,
seven.lf,
eight.lf,
nine.lf,
zero.lf.cv06,
zero.zero.lf,
zero.dnom.ss20,
one.dnom.ss20,
two.dnom.ss20,
three.dnom.ss20,
four.dnom.ss20,
five.dnom.ss20,
six.dnom.ss20,
seven.dnom.ss20,
eight.dnom.ss20,
nine.dnom.ss20,
zero.numr.ss20,
one.numr.ss20,
two.numr.ss20,
three.numr.ss20,
four.numr.ss20,
five.numr.ss20,
six.numr.ss20,
seven.numr.ss20,
eight.numr.ss20,
nine.numr.ss20,
fraction.ss20,
onefraction.ss20,
onehalf.ss20,
zerothird.ss20,
onethird.ss20,
twothirds.ss20,
onequarter.ss20,
threequarters.ss20,
onefifth.ss20,
twofifths.ss20,
threefifths.ss20,
fourfifths.ss20,
onesixth.ss20,
fivesixths.ss20,
oneseventh.ss20,
twosevenths.ss20,
threesevenths.ss20,
foursevenths.ss20,
fivesevenths.ss20,
sixsevenths.ss20,
oneeighth.ss20,
threeeighths.ss20,
fiveeighths.ss20,
seveneighths.ss20,
oneninth.ss20,
twoninths.ss20,
fourninths.ss20,
fiveninths.ss20,
sevenninths.ss20,
eightninths.ss20,
fraction.alt.ss20,
zerosuperior.alt001,
zeroinferior.ss20,
oneinferior.ss20,
twoinferior.ss20,
threeinferior.ss20,
fourinferior.ss20,
fiveinferior.ss20,
sixinferior.ss20,
seveninferior.ss20,
eightinferior.ss20,
nineinferior.ss20,
zerosuperior.ss20,
onesuperior.ss20,
twosuperior.ss20,
threesuperior.ss20,
foursuperior.ss20,
fivesuperior.ss20,
sixsuperior.ss20,
sevensuperior.ss20,
eightsuperior.ss20,
ninesuperior.ss20,
space.ss20,
nbspace.ss20,
zerowidthspace.ss20,
zerowidthnonjoiner.ss20,
zerowidthjoiner.ss20,
zeroWidthNoBreakSpace.ss20,
questiongreek.ss20,
period.ss20,
comma.ss20,
colon.alt.ss20,
colon.ss20,
semicolon.ss20,
ellipsis.ss20,
periodcentered.loclCAT.ss20,
asterisk.001,
slash.ss20,
backslash.ss20,
hyphen.ss20,
quotesinglbase.ss20,
quotedblbase.ss20,
quotedblleft.ss20,
quotedblright.ss20,
quoteleft.ss20,
quoteright.ss20,
quotereversed.ss20,
quotedblrightreversed.ss20,
guillemetleft.ss20,
guillemetright.ss20,
guilsinglleft.ss20,
guilsinglright.ss20,
quotedbl.ss20,
quotesingle.ss20,
whiteFrowningFace.orig,
whiteSmilingFace.orig,
aktieselskab.ss20,
ampersand.alt001,
ampersand.alt002,
ampersand.alt003,
trademark.orig,
careof.ss20,
perthousand.ss20,
ratio.ss20,
rightWhitePointer,
leftWhitePointer,
upBlackSmallTriangle,
rightBlackSmallTriangle,
downBlackSmallTriangle,
leftBlackSmallTriangle,
upWhiteSmallTriangle,
rightWhiteSmallTriangle,
downWhiteSmallTriangle,
leftWhiteSmallTriangle,
apostrophemod.ss20,
commaturnedmod.ss20,
_part.slash.O,
_part.slash.comp,
_part.slash.o,
_part.arrow,
_part.asc.hook,
_part.asc.k,
_part.asc.left,
_part.asc.right,
_part.asterisk,
_part.bowl,
_part.bowl.descender,
_part.cap.hook.left,
"_part.desc-cy",
_part.desc.hook,
_part.desc.hook.left,
_part.geartooth,
_part.inverter,
_part.k,
_part.money.bar,
_part.money.crossbar,
_part.notmath.comp,
_part.slash.O.mirrored,
_part.stroke,
uniE000,
uniE001,
uniE002,
uniE003,
uniE004,
uniE005,
uniE006,
uniE007,
uniE008,
uniE009,
uniE00A,
uniE00B,
uniE00C,
uniE00D,
uniE00E,
uniE00F,
uniE010,
uniE011,
uniE012,
uniE013,
uniE014,
uniE015,
uniE016,
uniE017,
uniE018,
uniE019,
uniE01A,
uniE01B,
uniE01C,
uniE01D,
uniE01E,
uniE01F,
uniE020,
uniE021,
uniE022,
uniE023,
uniE024,
uniE025,
uniE026,
uniE027,
uniE028,
uniE029,
uniE02A,
uniE02B,
uniE02C,
uniE02D,
uniE02E,
uniE02F,
uniE030,
uniE031,
uniE032,
uniE033,
uniE034,
uniE035,
uniE036,
uniE037,
uniE038,
uniE039,
uniE03A,
uniE03B,
uniE03C,
uniE03D,
uniE03E,
uniE03F,
uniE040,
uniE041,
uniE042,
uniE043,
uniE044,
uniE045,
uniE046,
uniE047,
uniE048,
uniE049,
uniE04A,
uniE04B,
uniE04C,
uniE04D,
uniE04E,
uniE04F,
uniE050,
uniE051,
uniE052,
uniE053,
uniE054,
uniE055,
uniE056,
uniE057,
uniE058,
uniE059,
uniE05A,
uniE05B,
uniE05C,
uniE05D,
uniE05E,
uniE05F,
uniE060,
uniE061,
uniE062,
uniE063,
uniE064,
uniE065,
uniE066,
uniE067,
uniE068,
uniE069,
uniE06A,
uniE06B,
uniE06C,
uniE06D,
uniE06E,
uniE06F,
uniE070,
uniE071,
uniE072,
uniE073,
uniE074,
uniE075,
uniE076,
uniE077,
uniE078,
uniE079,
uniE07A,
uniE07B,
uniE07C,
uniE07D,
uniE07F,
uniE080,
uniE081,
uniE082,
uniE083,
uniE084,
uniE085,
uniE086,
uniE087,
uniE088,
uniE089,
uniE08A,
uniE08B,
uniE08C,
uniE08D,
uniE08E,
uniE08F,
uniE090,
uniE091,
uniE092,
uniE093,
uniE094,
uniE095,
uniE096,
uniE097,
uniE098,
uniE099,
uniE09A,
uniE09B,
uniEF00,
uniEF01,
uniEF02,
uniEF03,
uniEF04,
uniEF05,
uniEF06,
uniEF07,
uniEF08,
uniEF09,
uniEF0A,
uniEF0B,
uniEF0C,
uniEF0D,
uniEF0E,
uniEF0F,
uniEF10,
uniEF11,
uniEF12,
uniEF13,
uniEF14,
uniEF15,
uniEF16,
uniEF17,
uniEF18,
uniEF19,
uniEF1A,
uniEF1B,
uniEF1C,
uniEF1D,
uniEF1E,
uniEF1F,
uniEF20,
uniEF21,
uniEF22,
uniEF23,
uniEF24,
uniEF25,
uniEF26,
uniEF27,
uniEF28,
uniEF29,
uniEF2A,
uniEF2B,
uniEF2C,
uniEF2D,
uniEF2E,
uniEF2F,
uniEF30,
uniEF31,
uniEF32,
uniEF33,
uniEF34,
uniEF35,
uniEF36,
uniEF37,
uniEF38,
uniEF39,
uniEF3A,
uniEF3B,
uniEF3C,
uniEF3D,
uniEF3E,
uniEF3F,
uniEF40,
uniEF41,
uniEF42,
uniEF43,
uniEF44,
uniEF45,
uniEF46,
uniEF47,
uniEF48,
uniEF49,
uniEF4A,
uniEF4B,
uniEF4C,
uniEF4D,
uniEF4E,
uniEF4F,
uniEF50,
uniEF51,
uniEF52,
uniEF53,
uniEF54,
uniEF55,
uniEF56,
uniEF57,
uniEF58,
uniEF59,
uniEF5A,
uniEF5B,
uniEF5C,
uniEF5D,
uniEF5E,
uniEF5F,
uniEF60,
uniEF61,
uniEF62,
uniEF63,
uniEF64,
uniEF65,
uniEF66,
uniEF67,
uniEF68,
uniEF69,
uniEF6A,
uniEF6B,
uniEF6C,
uniEF6D,
uniEF6E,
uniEF6F,
uniEF70,
uniEF71,
uniEF72,
uniEF73,
uniEF74,
uniEF75,
uniEF76,
uniEF77,
uniEF78,
uniEF79,
uniEF7A,
uniEF7B,
uniEF7C,
uniEF7D,
uniEF7E,
uniEF7F,
uniEF80,
uniEF81,
uniEF82,
uniEF83,
uniEF84,
uniEF85,
uniEF86,
uniEF87,
uniEF88,
uniEF89,
uniEF8A,
uniEF8B,
uniEF8C,
uniEF8D,
uniEF8E,
uniEF8F,
uniEF90,
uniEF91,
uniEF92,
uniEF93,
uniEF94,
uniEF95,
uniEF96,
uniEF97,
uniEF98,
uniEF99,
uniEF9A,
uniEF9B,
uniEF9C,
uniEF9D,
uniEF9E,
uniEF9F,
uniEFA3,
uniEFA4,
uniEFA5,
uniEFA6,
uniEFA7,
uniEFA8,
uniEFA9,
uniEFAA,
uniEFAB,
uniEFAC,
uniEFAD,
uniEFAE,
_pixel,
_pixel.round,
emoji.eyes,
emoji.eyes.angry,
emoji.eyes.smiling,
emoji.mouth,
emoji.mouth.grinning
)