(
.notdef,
CR,
space,
A,
Agrave,
Aacute,
Acircumflex,
Acircumflexgrave,
Acircumflexacute,
Acircumflextilde,
Acircumflexhookabove,
Atilde,
Amacron,
Abreve,
Abrevegrave,
Abreveacute,
Abrevetilde,
Abrevehookabove,
Adotaccent,
Adieresis,
Adieresismacron,
Ahookabove,
Aring,
Aringacute,
Acaron,
Adotbelow,
Acircumflexdotbelow,
Abrevedotbelow,
Aogonek,
AE,
AEacute,
AEmacron,
B,
Bdotaccent,
Bdotbelow,
Bmacronbelow,
Bstroke,
Bhook,
C,
Cacute,
Ccircumflex,
Cdotaccent,
Chook,
Ccaron,
Ccedilla,
Ccedillaacute,
D,
Ddotaccent,
Dcaron,
Ddotbelow,
Dcedilla,
Dmacronbelow,
Dcroat,
Dhook,
Eth,
E,
Egrave,
Eacute,
Ecircumflex,
Ecircumflexgrave,
Ecircumflexacute,
Ecircumflextilde,
Ecircumflexhookabove,
Etilde,
Emacron,
Emacrongrave,
Emacronacute,
Ebreve,
Edotaccent,
Edieresis,
Ehookabove,
Ecaron,
Edotbelow,
Ecircumflexdotbelow,
Ecedilla,
Ecedillabreve,
Eogonek,
Eturned,
Eopen,
Schwa,
F,
Fdotaccent,
G,
Gacute,
Gcircumflex,
Gmacron,
Gbreve,
Gdotaccent,
Gcaron,
Gcommaaccent,
Gstroke,
H,
Hcircumflex,
Hdotaccent,
Hdieresis,
Hcaron,
Hdotbelow,
Hcedilla,
Hbrevebelow,
Hbar,
Hturned,
I,
Igrave,
Iacute,
Icircumflex,
Itilde,
Imacron,
Ibreve,
Idotaccent,
Idieresis,
Idieresisacute,
Ihookabove,
Icaron,
Idotbelow,
Iogonek,
Istroke,
Icapitalsmall,
IJ,
J,
Jacute,
Jcircumflex,
jcaron.case,
K,
Kacute,
Kcaron,
Kdotbelow,
Kcommaaccent,
Kmacronbelow,
Khook,
L,
Lacute,
Lcaron,
Lcommaaccent,
Ldotbelow,
Ldotbelowmacron,
Lmacronbelow,
Ldot,
Lslash,
Lbar,
M,
Macute,
Mdotaccent,
Mdotbelow,
N,
Ngrave,
Nacute,
Ntilde,
Ndotaccent,
Ncaron,
Ndotbelow,
Ncommaaccent,
Nmacronbelow,
Nhookleft,
Eng,
O,
Ograve,
Oacute,
Omacron,
Omacrongrave,
Omacronacute,
Obreve,
Ocircumflex,
Ocircumflexgrave,
Ocircumflexacute,
Ocircumflexhookabove,
Ocircumflextilde,
Otilde,
Otildemacron,
Odotaccent,
Odotaccentmacron,
Odieresis,
Odieresismacron,
Ohookabove,
Ohungarumlaut,
Ocaron,
Ohorn,
Ohorngrave,
Ohornacute,
Ohorntilde,
Ohornhookabove,
Odotbelow,
Ocircumflexdotbelow,
Ohorndotbelow,
Oogonek,
Oogonekmacron,
Obarred,
Oopen,
Oslash,
Oslashacute,
OE,
P,
Pacute,
Pdotaccent,
Q,
R,
Racute,
Rdotaccent,
Rcaron,
Rinvertedbreve,
Rdotbelow,
Rdotbelowmacron,
Rcommaaccent,
Rmacronbelow,
S,
Sacute,
Scircumflex,
Sdotaccent,
Scaron,
S_horncomb,
Sdotbelow,
Sdotbelowdotaccent,
Scommaaccent,
Scedilla,
Sobliquestroke,
Germandbls,
Ezh,
Ezhcaron,
T,
Tdotaccent,
Tcaron,
T_horncomb,
Tdotbelow,
Tcommaaccent,
Tcedilla,
Tmacronbelow,
Tbar,
Thorn,
U,
Ugrave,
Uacute,
Ucircumflex,
Utilde,
Umacron,
Ubreve,
Udieresis,
Udieresisgrave,
Udieresisacute,
Udieresismacron,
Udieresiscaron,
Uhookabove,
Uring,
Uhungarumlaut,
Ucaron,
Uhorn,
Uhorngrave,
Uhornacute,
Uhorntilde,
Uhornhookabove,
Udotbelow,
Uhorndotbelow,
Uogonek,
V,
Vtilde,
Vdotbelow,
Vturned,
W,
Wgrave,
Wacute,
Wcircumflex,
Wdotaccent,
Wdieresis,
Wdotbelow,
X,
Xdotaccent,
Xdieresis,
Y,
Ygrave,
Yacute,
Ycircumflex,
Ytilde,
Ymacron,
Ydotaccent,
Ydieresis,
Yhookabove,
Ydotbelow,
Yhook,
Z,
Zacute,
Zcircumflex,
Zdotaccent,
Zcaron,
Zdotbelow,
Zmacronbelow,
Zstroke,
I.cv02,
Igrave.cv02,
Iacute.cv02,
Icircumflex.cv02,
Itilde.cv02,
Imacron.cv02,
Ibreve.cv02,
Idotaccent.cv02,
Idieresis.cv02,
Idieresisacute.cv02,
Ihookabove.cv02,
Icaron.cv02,
Idotbelow.cv02,
Iogonek.cv02,
Istroke.cv02,
Icapitalsmall.cv02,
J.cv03,
Jacute.cv03,
Jcircumflex.cv03,
jcaron.case.cv03,
Eng.loclNSM,
A.hex,
B.hex,
C.hex,
D.hex,
E.hex,
F.hex,
A.short,
B.short,
C.short,
D.short,
E.short,
F.short,
G.short,
I.short,
K.short,
N.short,
O.short,
Ohorn.short,
P.short,
R.short,
S.short,
T.short,
U.short,
U.short.2,
Uhorn.short,
W.short,
Y.short,
I.short.cv02,
a,
agrave,
aacute,
acircumflex,
acircumflexgrave,
acircumflexacute,
acircumflextilde,
acircumflexhookabove,
atilde,
amacron,
abreve,
abrevegrave,
abreveacute,
abrevetilde,
abrevehookabove,
adotaccent,
adieresis,
adieresismacron,
ahookabove,
aring,
aringacute,
acaron,
adotbelow,
acircumflexdotbelow,
abrevedotbelow,
aogonek,
ae,
aeacute,
aemacron,
b,
bdotaccent,
bdotbelow,
bmacronbelow,
bstroke,
bhook,
c,
cacute,
ccircumflex,
cdotaccent,
chook,
ccaron,
ccedilla,
ccedillaacute,
d,
ddotaccent,
dcaron,
ddotbelow,
dcedilla,
dmacronbelow,
dcroat,
dhook,
eth,
e,
egrave,
eacute,
ecircumflex,
ecircumflexgrave,
ecircumflexacute,
ecircumflextilde,
ecircumflexhookabove,
etilde,
emacron,
emacrongrave,
emacronacute,
ebreve,
edotaccent,
edieresis,
ehookabove,
ecaron,
edotbelow,
ecircumflexdotbelow,
ecedilla,
ecedillabreve,
eogonek,
eturned,
eopen,
schwa,
f,
fdotaccent,
florin,
g,
gacute,
gcircumflex,
gmacron,
gbreve,
gdotaccent,
gcaron,
gcommaaccent,
gstroke,
h,
hcircumflex,
hdotaccent,
hdieresis,
hcaron,
hdotbelow,
hcedilla,
hbrevebelow,
hmacronbelow,
hbar,
hturned,
i,
idotless,
igrave,
iacute,
icircumflex,
itilde,
imacron,
ibreve,
idieresis,
idieresisacute,
ihookabove,
icaron,
idotbelow,
idotbelow.dotless,
iogonek,
iogonek.dotless,
istroke,
istroke.dotless,
Ismall,
Ismallstroke,
iotastroke,
ij,
j,
jdotless,
jacute,
jcircumflex,
jcaron,
k,
kacute,
kcaron,
kdotbelow,
kcommaaccent,
kmacronbelow,
khook,
kgreenlandic,
l,
lacute,
lcaron,
lcommaaccent,
ldotbelow,
ldotbelowmacron,
lmacronbelow,
ldot,
lslash,
lbar,
m,
macute,
mdotaccent,
mdotbelow,
n,
ngrave,
nacute,
ntilde,
ndotaccent,
ncaron,
ndotbelow,
ncommaaccent,
nmacronbelow,
napostrophe,
nhookleft,
eng,
o,
ograve,
oacute,
omacron,
omacrongrave,
omacronacute,
obreve,
ocircumflex,
ocircumflexgrave,
ocircumflexacute,
ocircumflexhookabove,
ocircumflextilde,
otilde,
otildemacron,
odotaccent,
odotaccentmacron,
odieresis,
odieresismacron,
ohookabove,
ohungarumlaut,
ocaron,
ohorn,
ohorngrave,
ohornacute,
ohorntilde,
ohornhookabove,
odotbelow,
ocircumflexdotbelow,
ohorndotbelow,
oogonek,
oogonekmacron,
obarred,
oopen,
oslash,
oslashacute,
oe,
p,
pacute,
pdotaccent,
q,
r,
racute,
rdotaccent,
rcaron,
rinvertedbreve,
rdotbelow,
rdotbelowmacron,
rcommaaccent,
rmacronbelow,
s,
sacute,
scircumflex,
sdotaccent,
scaron,
s_horncomb,
sdotbelow,
sdotbelowdotaccent,
scommaaccent,
scedilla,
sobliquestroke,
longs,
longsdotaccent,
germandbls,
ezh,
ezhcaron,
t,
tdotaccent,
tdieresis,
tcaron,
t_horncomb,
tdotbelow,
tcommaaccent,
tcedilla,
tmacronbelow,
tbar,
thorn,
u,
ugrave,
uacute,
ucircumflex,
utilde,
umacron,
ubreve,
udieresis,
udieresisgrave,
udieresisacute,
udieresismacron,
udieresiscaron,
uhookabove,
uring,
uhungarumlaut,
ucaron,
uhorn,
uhorngrave,
uhornacute,
uhorntilde,
uhornhookabove,
udotbelow,
uhorndotbelow,
uogonek,
v,
vtilde,
vdotbelow,
vturned,
w,
wgrave,
wacute,
wcircumflex,
wdotaccent,
wdieresis,
wring,
wdotbelow,
x,
xdotaccent,
xdieresis,
y,
ygrave,
yacute,
ycircumflex,
ytilde,
ymacron,
ydotaccent,
ydieresis,
yhookabove,
yring,
ydotbelow,
yhook,
z,
zacute,
zcircumflex,
zdotaccent,
zcaron,
zdotbelow,
zmacronbelow,
zstroke,
g.cv01,
gacute.cv01,
gcircumflex.cv01,
gmacron.cv01,
gbreve.cv01,
gdotaccent.cv01,
gcaron.cv01,
gcommaaccent.cv01,
gstroke.cv01,
i.cv02,
idotless.cv02,
igrave.cv02,
iacute.cv02,
icircumflex.cv02,
itilde.cv02,
imacron.cv02,
ibreve.cv02,
idieresis.cv02,
idieresisacute.cv02,
ihookabove.cv02,
icaron.cv02,
idotbelow.cv02,
idotbelow.dotless.cv02,
iogonek.cv02,
iogonek.dotless.cv02,
istroke.cv02,
istroke.dotless.cv02,
j.cv03,
jdotless.cv03,
jacute.cv03,
jcircumflex.cv03,
jcaron.cv03,
l.cv04,
lacute.cv04,
lcaron.cv04,
lcommaaccent.cv04,
ldotbelow.cv04,
ldotbelowmacron.cv04,
lmacronbelow.cv04,
ldot.cv04,
lslash.cv04,
lbar.cv04,
m.cv05.1,
m.cv05.2,
f.italic,
longs.italic,
longsdotaccent.italic,
germandbls.italic,
w.italic,
wgrave.italic,
wacute.italic,
wcircumflex.italic,
wdotaccent.italic,
wdieresis.italic,
wring.italic,
wdotbelow.italic,
amod,
dmod,
hmod,
nmod,
omod,
rmod,
smod,
tmod,
primemod,
doubleprimemod,
commaturnedmod,
apostrophemod,
ringhalfright,
ringhalfleft,
verticallinelowmod,
verticallinemod,
A.sups,
B.sups,
C.sups,
D.sups,
E.sups,
F.sups,
G.sups,
H.sups,
I.sups,
J.sups,
K.sups,
L.sups,
M.sups,
N.sups,
O.sups,
P.sups,
Q.sups,
R.sups,
S.sups,
T.sups,
U.sups,
V.sups,
W.sups,
X.sups,
Y.sups,
Z.sups,
ordfeminine,
ordmasculine,
gravecomb,
gravecomb.alt,
acutecomb,
acutecomb.alt,
circumflexcomb,
circumflexcomb_gravecomb,
circumflexcomb_acutecomb,
circumflexcomb_tildecomb,
circumflexcomb_hookabovecomb,
tildecomb,
macroncomb,
macroncomb_brevecomb,
overlinecomb,
brevecomb,
brevecomb_gravecomb,
brevecomb_acutecomb,
brevecomb_tildecomb,
brevecomb_hookabovecomb,
dotaccentcomb,
dieresiscomb,
hookabovecomb,
ringcomb,
hungarumlautcomb,
caroncomb,
caroncomb.alt,
verticallineabovecomb,
candraBinducomb,
breveinvertedcomb,
commaturnedabovecomb,
commaabovecomb,
commaaboverightcomb,
commaaboverightcomb.spacing,
horncomb,
dotbelowcomb,
ringbelowcomb,
commaaccentcomb,
cedillacomb,
ogonekcomb,
brevebelowcomb,
macronbelowcomb,
lowlinecomb,
strokeshortcomb,
dialytikatonoscomb,
doublemacronbelowcomb,
gravecomb.case,
acutecomb.case,
circumflexcomb.case,
circumflexcomb_gravecomb.case,
circumflexcomb_acutecomb.case,
circumflexcomb_tildecomb.case,
circumflexcomb_hookabovecomb.case,
tildecomb.case,
macroncomb.case,
macroncomb_brevecomb.case,
overlinecomb.case,
brevecomb.case,
brevecomb_gravecomb.case,
brevecomb_acutecomb.case,
brevecomb_tildecomb.case,
brevecomb_hookabovecomb.case,
dotaccentcomb.case,
dieresiscomb.case,
hookabovecomb.case,
ringcomb.case,
hungarumlautcomb.case,
caroncomb.case,
verticallineabovecomb.case,
candraBinducomb.case,
breveinvertedcomb.case,
commaabovecomb.case,
commaaboverightcomb.case,
commaaboverightcomb.case.spacing,
horncomb.case,
grave,
fourthtonechinese,
acute,
secondtonechinese,
circumflex,
tilde,
macron,
firsttonechinese,
breve,
dotaccent,
dieresis,
ring,
hungarumlaut,
caron,
cedilla,
ogonek,
tonos,
dieresistonos,
"A-cy",
"Be-cy",
"Ve-cy",
"Ge-cy",
"Gje-cy",
"Geupturn-cy",
"De-cy",
"Ie-cy",
"Iegrave-cy",
"Io-cy",
"Zhe-cy",
"Ze-cy",
"Ii-cy",
"Iigrave-cy",
"Iishort-cy",
"Ka-cy",
"Kje-cy",
"El-cy",
"Em-cy",
"En-cy",
"O-cy",
"Pe-cy",
"Er-cy",
"Es-cy",
"Te-cy",
"U-cy",
"Ushort-cy",
"Ef-cy",
"Ha-cy",
"Che-cy",
"Tse-cy",
"Sha-cy",
"Shcha-cy",
"Dzhe-cy",
"Softsign-cy",
"Yeru-cy",
"Hardsign-cy",
"Lje-cy",
"Nje-cy",
"Dze-cy",
"E-cy",
"Ereversed-cy",
"I-cy",
"Yi-cy",
"Je-cy",
"Tshe-cy",
"Yu-cy",
"Ya-cy",
"Dje-cy",
"Palochka-cy",
"I-cy.cv02",
"Yi-cy.cv02",
"Palochka-cy.cv02",
"Je-cy.cv03",
"a-cy",
"be-cy",
"ve-cy",
"ge-cy",
"gje-cy",
"geupturn-cy",
"de-cy",
"ie-cy",
"iegrave-cy",
"io-cy",
"zhe-cy",
"ze-cy",
"ii-cy",
"iigrave-cy",
"iishort-cy",
"ka-cy",
"kje-cy",
"el-cy",
"em-cy",
"en-cy",
"o-cy",
"pe-cy",
"er-cy",
"es-cy",
"te-cy",
"u-cy",
"ushort-cy",
"ef-cy",
"ha-cy",
"che-cy",
"tse-cy",
"sha-cy",
"shcha-cy",
"dzhe-cy",
"softsign-cy",
"yeru-cy",
"hardsign-cy",
"lje-cy",
"nje-cy",
"dze-cy",
"e-cy",
"ereversed-cy",
"i-cy",
"i-cy.dotless",
"yi-cy",
"je-cy",
"tshe-cy",
"yu-cy",
"ya-cy",
"dje-cy",
"palochka-cy",
"i-cy.cv02",
"i-cy.dotless.cv02",
"yi-cy.cv02",
"palochka-cy.cv02",
"je-cy.cv03",
Alpha,
Beta,
Gamma,
Delta,
Epsilon,
Alphatonos,
Epsilontonos,
Zeta,
Eta,
Etatonos,
Theta,
Iota,
Iotadieresis,
Iotatonos,
Kappa,
Lambda,
Mu,
Nu,
Xi,
Omicron,
Omicrontonos,
Pi,
Rho,
Sigma,
Tau,
Upsilon,
Upsilondieresis,
Upsilontonos,
UpsilonhookSymbol,
Phi,
Chi,
Psi,
Omega,
Omegatonos,
Iota.cv02,
Iotadieresis.cv02,
Iotatonos.cv02,
alpha,
alphatonos,
beta,
gamma,
delta,
epsilon,
epsilontonos,
zeta,
eta,
etatonos,
theta,
iota,
iotadieresis,
iotadieresistonos,
iotatonos,
kappa,
lambda,
mu,
nu,
xi,
omicron,
omicrontonos,
pi,
rho,
sigmafinal,
sigma,
tau,
upsilon,
upsilondieresis,
upsilondieresistonos,
upsilontonos,
phi,
phiSymbol,
chi,
psi,
omega,
omegatonos,
acknowledgeControl,
bellControl,
backspaceControl,
cancelControl,
carriageReturnControl,
deviceControlOneControl,
deviceControlTwoControl,
deviceControlThreeControl,
deviceControlFourControl,
deleteControl,
dataLinkEscapeControl,
endOfMediumControl,
enquiryControl,
escapeControl,
endOfTransmissionControl,
endOfTextControl,
endOfTransmissionBlockControl,
formFeedControl,
fileSeparatorControl,
groupSeparatorControl,
horizontalTabulationControl,
lineFeedControl,
negativeAcknowledgeControl,
newlineControl,
nullControl,
recordSeparatorControl,
shiftInControl,
shiftOutControl,
startOfHeadingControl,
spaceControl,
startOfTextControl,
substituteControl,
synchronousIdleControl,
unitSeparatorControl,
verticalTabulationControl,
"blank-braille",
"dots1-braille",
"dots12-braille",
"dots123-braille",
"dots1234-braille",
"dots12345-braille",
"dots123456-braille",
"dots12346-braille",
"dots1235-braille",
"dots12356-braille",
"dots1236-braille",
"dots124-braille",
"dots1245-braille",
"dots12456-braille",
"dots1246-braille",
"dots125-braille",
"dots1256-braille",
"dots126-braille",
"dots13-braille",
"dots134-braille",
"dots1345-braille",
"dots13456-braille",
"dots1346-braille",
"dots135-braille",
"dots1356-braille",
"dots136-braille",
"dots14-braille",
"dots145-braille",
"dots1456-braille",
"dots146-braille",
"dots15-braille",
"dots156-braille",
"dots16-braille",
"dots2-braille",
"dots23-braille",
"dots234-braille",
"dots2345-braille",
"dots23456-braille",
"dots2346-braille",
"dots235-braille",
"dots2356-braille",
"dots236-braille",
"dots24-braille",
"dots245-braille",
"dots2456-braille",
"dots246-braille",
"dots25-braille",
"dots256-braille",
"dots26-braille",
"dots3-braille",
"dots34-braille",
"dots345-braille",
"dots3456-braille",
"dots346-braille",
"dots35-braille",
"dots356-braille",
"dots36-braille",
"dots4-braille",
"dots45-braille",
"dots456-braille",
"dots46-braille",
"dots5-braille",
"dots56-braille",
"dots6-braille",
zero,
zero.cv06,
zero.zero,
one,
two,
three,
four,
five,
six,
seven,
eight,
nine,
zero.osf,
zero.osf.cv06,
zero.zero.osf,
one.osf,
two.osf,
three.osf,
four.osf,
five.osf,
six.osf,
seven.osf,
eight.osf,
nine.osf,
zeroinferior,
oneinferior,
twoinferior,
threeinferior,
fourinferior,
fiveinferior,
sixinferior,
seveninferior,
eightinferior,
nineinferior,
zero.dnom,
one.dnom,
two.dnom,
three.dnom,
four.dnom,
five.dnom,
six.dnom,
seven.dnom,
eight.dnom,
nine.dnom,
zero.numr,
one.numr,
two.numr,
three.numr,
four.numr,
five.numr,
six.numr,
seven.numr,
eight.numr,
nine.numr,
zerosuperior,
onesuperior,
twosuperior,
threesuperior,
foursuperior,
fivesuperior,
sixsuperior,
sevensuperior,
eightsuperior,
ninesuperior,
fraction,
fraction.alt,
fraction.percent,
onefraction,
onehalf,
zerothird,
onethird,
twothirds,
onequarter,
threequarters,
onefifth,
twofifths,
threefifths,
fourfifths,
onesixth,
fivesixths,
oneseventh,
oneeighth,
threeeighths,
fiveeighths,
seveneighths,
oneninth,
nbspace,
zerowidthspace,
zerowidthnonjoiner,
zerowidthjoiner,
zeroWidthNoBreakSpace,
period,
comma,
colon,
colon.alt,
semicolon,
ellipsis,
exclam,
exclamdown,
question,
questiondown,
periodcentered,
periodcentered.loclCAT,
bullet,
asterisk,
exclamdouble,
numbersign,
overline,
slash,
backslash,
hyphen,
endash,
emdash,
horizontalbar,
dblverticalbar,
underscore,
underscoredbl,
parenleft,
parenright,
braceleft,
braceright,
bracketleft,
bracketright,
"leftanglebracket-math",
"rightanglebracket-math",
heavyleftpointinganglequotationmarkornament,
heavyrightpointinganglequotationmarkornament,
leftDoubleParen,
rightDoubleParen,
quotesinglbase,
quotedblbase,
quotedblleft,
quotedblright,
quoteleft,
quoteright,
quotereversed,
quotedblrightreversed,
guillemetleft,
guillemetright,
guilsinglleft,
guilsinglright,
quotedbl,
quotesingle,
anoteleia,
questiongreek,
currency,
baht,
bitcoin,
cedi,
cent,
colonsign,
dollar,
dong,
euro,
franc,
guarani,
hryvnia,
kip,
lari,
lira,
liraTurkish,
manat,
naira,
peseta,
peso,
sterling,
uni20C1,
ruble,
rupee,
rupeeIndian,
tenge,
tugrik,
won,
yen,
boxDoubleDownAndHorizontal,
boxDoubleDownAndLeft,
boxDoubleDownAndRight,
boxDoubleHorizontal,
boxDoubleUpAndHorizontal,
boxDoubleUpAndLeft,
boxDoubleUpAndRight,
boxDoubleVertical,
boxDoubleVerticalAndHorizontal,
boxDoubleVerticalAndLeft,
boxDoubleVerticalAndRight,
boxDownDoubleAndHorizontalSingle,
boxDownDoubleAndLeftSingle,
boxDownDoubleAndRightSingle,
boxDownHeavyAndHorizontalLight,
boxDownHeavyAndLeftLight,
boxDownHeavyAndLeftUpLight,
boxDownHeavyAndRightLight,
boxDownHeavyAndRightUpLight,
boxDownHeavyAndUpHorizontalLight,
boxDownLightAndHorizontalHeavy,
boxDownLightAndLeftHeavy,
boxDownLightAndLeftUpHeavy,
boxDownLightAndRightHeavy,
boxDownLightAndRightUpHeavy,
boxDownLightAndUpHorizontalHeavy,
boxDownSingleAndHorizontalDouble,
boxDownSingleAndLeftDouble,
boxDownSingleAndRightDouble,
boxHeavyDoubleDashHorizontal,
boxHeavyDoubleDashVertical,
boxHeavyDown,
boxHeavyDownAndHorizontal,
boxHeavyDownAndLeft,
boxHeavyDownAndRight,
boxHeavyHorizontal,
boxHeavyLeft,
boxHeavyLeftAndLightRight,
boxHeavyQuadrupleDashHorizontal,
boxHeavyQuadrupleDashVertical,
boxHeavyRight,
boxHeavyTripleDashHorizontal,
boxHeavyTripleDashVertical,
boxHeavyUp,
boxHeavyUpAndHorizontal,
boxHeavyUpAndLeft,
boxHeavyUpAndLightDown,
boxHeavyUpAndRight,
boxHeavyVertical,
boxHeavyVerticalAndHorizontal,
boxHeavyVerticalAndLeft,
boxHeavyVerticalAndRight,
boxLeftDownHeavyAndRightUpLight,
boxLeftHeavyAndRightDownLight,
boxLeftHeavyAndRightUpLight,
boxLeftHeavyAndRightVerticalLight,
boxLeftLightAndRightDownHeavy,
boxLeftLightAndRightUpHeavy,
boxLeftLightAndRightVerticalHeavy,
boxLeftUpHeavyAndRightDownLight,
boxLightArcDownAndLeft,
boxLightArcDownAndRight,
boxLightArcUpAndLeft,
boxLightArcUpAndRight,
boxLightDiagonalCross,
boxLightDiagonalUpperLeftToLowerRight,
boxLightDiagonalUpperRightToLowerLeft,
boxLightDoubleDashHorizontal,
boxLightDoubleDashVertical,
boxLightDown,
boxLightDownAndHorizontal,
boxLightDownAndLeft,
boxLightDownAndRight,
boxLightHorizontal,
boxLightLeft,
boxLightLeftAndHeavyRight,
boxLightQuadrupleDashHorizontal,
boxLightQuadrupleDashVertical,
boxLightRight,
boxLightTripleDashHorizontal,
boxLightTripleDashVertical,
boxLightUp,
boxLightUpAndHeavyDown,
boxLightUpAndHorizontal,
boxLightUpAndLeft,
boxLightUpAndRight,
boxLightVertical,
boxLightVerticalAndHorizontal,
boxLightVerticalAndLeft,
boxLightVerticalAndRight,
boxRightDownHeavyAndLeftUpLight,
boxRightHeavyAndLeftDownLight,
boxRightHeavyAndLeftUpLight,
boxRightHeavyAndLeftVerticalLight,
boxRightLightAndLeftDownHeavy,
boxRightLightAndLeftUpHeavy,
boxRightLightAndLeftVerticalHeavy,
boxRightUpHeavyAndLeftDownLight,
boxUpDoubleAndHorizontalSingle,
boxUpDoubleAndLeftSingle,
boxUpDoubleAndRightSingle,
boxUpHeavyAndDownHorizontalLight,
boxUpHeavyAndHorizontalLight,
boxUpHeavyAndLeftDownLight,
boxUpHeavyAndLeftLight,
boxUpHeavyAndRightDownLight,
boxUpHeavyAndRightLight,
boxUpLightAndDownHorizontalHeavy,
boxUpLightAndHorizontalHeavy,
boxUpLightAndLeftDownHeavy,
boxUpLightAndLeftHeavy,
boxUpLightAndRightDownHeavy,
boxUpLightAndRightHeavy,
boxUpSingleAndHorizontalDouble,
boxUpSingleAndLeftDouble,
boxUpSingleAndRightDouble,
boxVerticalDoubleAndHorizontalSingle,
boxVerticalDoubleAndLeftSingle,
boxVerticalDoubleAndRightSingle,
boxVerticalHeavyAndHorizontalLight,
boxVerticalHeavyAndLeftLight,
boxVerticalHeavyAndRightLight,
boxVerticalLightAndHorizontalHeavy,
boxVerticalLightAndLeftHeavy,
boxVerticalLightAndRightHeavy,
boxVerticalSingleAndHorizontalDouble,
boxVerticalSingleAndLeftDouble,
boxVerticalSingleAndRightDouble,
"note-musical",
"notedbl-musical",
crescentMoon,
cloudRain,
houseBuilding,
thumbsUpSign,
thumbsDownSign,
bustInSilhouette,
speechBalloon,
floppyDisk,
dvd,
fileFolder,
openFileFolder,
tearOffCalendar,
telephoneReceiver,
mobilePhone,
antennaBars,
shuffleArrows,
repeatArrow,
speaker,
speakerWithThreeSoundWaves,
leftMagnifyingGlass,
rightMagnifyingGlass,
key,
lock,
openLock,
blackHeart,
folder,
openFolder,
wastebasket,
minimize,
maximize,
uniEC00,
uniEC01,
uniEC02,
uniEC03,
uniEC07,
uniEC08,
uniEC09,
uniEC0A,
uniEC25,
uniEC26,
uniEC27,
uniEC28,
uniEC2A,
uniEC2B,
uniEC2C,
uniEC2E,
uniEC2F,
whiteSmilingFace,
blackSmilingFace,
whiteFrowningFace,
grinningFace,
grinningFaceWithSmilingEyes,
smilingFaceWithSmilingEyes,
angryFace,
poutingFace,
boysSymbol,
girlsSymbol,
shoppingTrolley,
cloud,
blackStar,
uni2BE8,
uni2BE9,
uni2BEA,
uni2BEB,
whiteStar,
blackSmallStar,
whiteSmallStar,
heavyGreekCross,
heavenTrigram,
sunWithRays,
venus,
mars,
diamondBlackSuit,
heartBlackSuit,
heartWhiteSuit,
spadeBlackSuit,
clubBlackSuit,
blackFlag,
whiteFlag,
gearWithoutHub,
envelope,
lowerRightPencil,
ballotBox,
ballotBoxWithCheck,
ballotBoxWithBoldCheck,
ballotBoxWithLightX,
ballotBoxWithX,
ballotBoxWithScriptX,
ballotBoxWithBoldScriptX,
checkmark,
heavyCheckMark,
ballotX,
heavyBallotX,
ballotScriptX,
ballotBoldScriptX,
multiplicationX,
heavyMultiplicationX,
dagger,
daggerdbl,
blackCircleForRecord,
blackLeftDoubleTriangle,
blackLeftDoubleTriangleWithVerticalBar,
blackMediumRightTriangle,
blackRightDoubleTriangle,
blackRightDoubleTriangleWithVerticalBar,
blackSquareForStop,
doubleVerticalBar,
house,
informationsource,
upWhiteArrow,
capslock,
deleteLeftKey,
optionKey,
alternativekeysymbol,
propellor,
replacementCharacter,
at,
ampersand,
paragraph,
section,
copyright,
registered,
published,
aktieselskab,
careof,
trademark,
literSign,
estimated,
numero,
degree,
minute,
second,
bar,
brokenbar,
angle,
anticlockwiseClosedCircleArrow,
bulletoperator,
divisionslash,
dotmath,
equivalence,
estimates,
integralbt,
integraltp,
logicalnotReversed,
minussuperior,
notsubset,
notsuperset,
plus,
minus,
multiply,
divide,
equal,
notequal,
greater,
less,
greaterequal,
lessequal,
plusminus,
approxequal,
asciitilde,
logicalnot,
asciicircum,
infinity,
logicaland,
logicalor,
intersection,
union,
integral,
radical,
partialdiff,
orthogonal,
parallel,
percent,
perthousand,
perpendicular,
plussuperior,
ratio,
setminus,
similar,
subset,
superset,
emptyset,
theredoesnotexist,
Ohm,
increment,
product,
summation,
micro,
uniE0A0,
uniE0A1,
uniE0A2,
uniE0A3,
uniE0B0,
uniE0B1,
uniE0B2,
uniE0B3,
lnSquare,
upArrow,
northEastArrow,
rightArrow,
southEastArrow,
downArrow,
southWestArrow,
leftArrow,
northWestArrow,
leftRightArrow,
upDownArrow,
upFrombarArrow,
upDownbaseArrow,
clockwiseRightAndLeftSemicircleArrows,
downArrowToBar,
carriagereturn,
downTipRightArrow,
lowerOneEighthBlock,
lowerOneQuarterBlock,
lowerThreeEighthsBlock,
lowerHalfBlock,
lowerFiveEighthsBlock,
lowerThreeQuartersBlock,
lowerSevenEighthsBlock,
fullBlock,
upperHalfBlock,
upperOneEighthBlock,
leftOneEighthBlock,
leftOneQuarterBlock,
leftThreeEighthsBlock,
leftBlock,
leftFiveEighthsBlock,
leftThreeQuartersBlock,
leftSevenEighthsBlock,
rightBlock,
rightOneEighthBlock,
lowerLeftBlock,
lowerRightBlock,
upperLeftBlock,
upperLeftAndLowerLeftAndLowerRightBlock,
upperLeftAndLowerRightBlock,
upperLeftAndUpperRightAndLowerLeftBlock,
upperLeftAndUpperRightAndLowerRightBlock,
upperRightBlock,
upperRightAndLowerLeftBlock,
upperRightAndLowerLeftAndLowerRightBlock,
shadelight,
shademedium,
shadedark,
blackSquare,
whiteSquare,
blackDiamond,
whiteDiamond,
blackCircle,
whiteCircle,
whiteBullet,
inverseBullet,
inverseWhiteCircle,
lozenge,
filledRect,
upperlefttolowerrightFillSquare,
upperrighttolowerleftFillSquare,
blackSmallSquare,
whiteSmallSquare,
upBlackTriangle,
rightBlackTriangle,
downBlackTriangle,
leftBlackTriangle,
upWhiteTriangle,
rightWhiteTriangle,
downWhiteTriangle,
leftWhiteTriangle,
upBlackSmallTriangle,
rightBlackSmallTriangle,
downBlackSmallTriangle,
leftBlackSmallTriangle,
upWhiteSmallTriangle,
rightWhiteSmallTriangle,
downWhiteSmallTriangle,
leftWhiteSmallTriangle,
rightBlackPointer,
leftBlackPointer,
rightWhitePointer,
leftWhitePointer,
upperRightBlackTriangle,
lowerRightBlackTriangle,
lowerLeftBlackTriangle,
upperLeftBlackTriangle,
dottedCircle,
Abreveacute.kill,
Abrevegrave.kill,
Abrevehookabove.kill,
Abrevetilde.kill,
Acircumflexacute.kill,
Acircumflexgrave.kill,
Acircumflexhookabove.kill,
Acircumflextilde.kill,
Adieresismacron.kill,
Ahookabove.kill,
Aring.kill,
AE.kill,
AEacute.kill,
AEmacron.kill,
Bhook.kill,
C.kill,
Cacute.kill,
Ccaron.kill,
Ccedilla.kill,
Ccedillaacute.kill,
Ccircumflex.kill,
Cdotaccent.kill,
Chook.kill,
D.kill,
Dcaron.kill,
Dcedilla.kill,
Dcroat.kill,
Ddotaccent.kill,
Ddotbelow.kill,
Dhook.kill,
Dmacronbelow.kill,
Eth.kill,
E.kill,
Eacute.kill,
Ebreve.kill,
Ecaron.kill,
Ecedilla.kill,
Ecedillabreve.kill,
Ecircumflex.kill,
Ecircumflexacute.kill,
Ecircumflexdotbelow.kill,
Ecircumflexgrave.kill,
Ecircumflexhookabove.kill,
Ecircumflextilde.kill,
Edieresis.kill,
Edotaccent.kill,
Edotbelow.kill,
Egrave.kill,
Ehookabove.kill,
Emacron.kill,
Emacronacute.kill,
Emacrongrave.kill,
Eogonek.kill,
Etilde.kill,
Eturned.kill,
Ezh.kill,
Ezhcaron.kill,
F.kill,
Fdotaccent.kill,
G.kill,
Gacute.kill,
Gbreve.kill,
Gcaron.kill,
Gcircumflex.kill,
Gcommaaccent.kill,
Gdotaccent.kill,
Gmacron.kill,
Gstroke.kill,
H.kill,
Hbar.kill,
Hbrevebelow.kill,
Hcaron.kill,
Hcedilla.kill,
Hcircumflex.kill,
Hdieresis.kill,
Hdotaccent.kill,
Hdotbelow.kill,
Hturned.kill,
I.cv02.kill,
I.kill,
IJ.kill,
Iacute.cv02.kill,
Iacute.kill,
Ibreve.cv02.kill,
Ibreve.kill,
Icapitalsmall.cv02.kill,
Icapitalsmall.kill,
Icaron.cv02.kill,
Icaron.kill,
Icircumflex.cv02.kill,
Icircumflex.kill,
Idieresis.cv02.kill,
Idieresis.kill,
Idieresisacute.cv02.kill,
Idieresisacute.kill,
Idotaccent.cv02.kill,
Idotaccent.kill,
Idotbelow.cv02.kill,
Idotbelow.kill,
Igrave.cv02.kill,
Igrave.kill,
Ihookabove.cv02.kill,
Ihookabove.kill,
Imacron.cv02.kill,
Imacron.kill,
Iogonek.cv02.kill,
Iogonek.kill,
Istroke.cv02.kill,
Istroke.kill,
Itilde.cv02.kill,
Itilde.kill,
J.cv03.kill,
J.kill,
Jacute.cv03.kill,
Jacute.kill,
Jcircumflex.cv03.kill,
Jcircumflex.kill,
L.kill,
Lacute.kill,
Lbar.kill,
Lcaron.kill,
Lcommaaccent.kill,
Ldot.kill,
Ldotbelow.kill,
Ldotbelowmacron.kill,
Lmacronbelow.kill,
Lslash.kill,
M.kill,
Macute.kill,
Mdotaccent.kill,
Mdotbelow.kill,
N.kill,
Nacute.kill,
Ncaron.kill,
Ncommaaccent.kill,
Ndotaccent.kill,
Ndotbelow.kill,
Ngrave.kill,
Nhookleft.kill,
Nmacronbelow.kill,
Ntilde.kill,
Eng.kill,
Eng.loclNSM.kill,
O.kill,
Oacute.kill,
Obarred.kill,
Obreve.kill,
Ocaron.kill,
Ocircumflex.kill,
Ocircumflexacute.kill,
Ocircumflexdotbelow.kill,
Ocircumflexgrave.kill,
Ocircumflexhookabove.kill,
Ocircumflextilde.kill,
Odieresis.kill,
Odieresismacron.kill,
Odotaccent.kill,
Odotaccentmacron.kill,
Odotbelow.kill,
Ograve.kill,
Ohookabove.kill,
Ohorn.kill,
Ohornacute.kill,
Ohorndotbelow.kill,
Ohorngrave.kill,
Ohornhookabove.kill,
Ohorntilde.kill,
Ohungarumlaut.kill,
Omacron.kill,
Omacronacute.kill,
Omacrongrave.kill,
Oogonek.kill,
Oogonekmacron.kill,
Oopen.kill,
Oslash.kill,
Oslashacute.kill,
Otilde.kill,
Otildemacron.kill,
OE.kill,
Q.kill,
Germandbls.kill,
U.kill,
Uacute.kill,
Ubreve.kill,
Ucaron.kill,
Ucircumflex.kill,
Udieresis.kill,
Udieresisacute.kill,
Udieresiscaron.kill,
Udieresisgrave.kill,
Udieresismacron.kill,
Udotbelow.kill,
Ugrave.kill,
Uhookabove.kill,
Uhorn.kill,
Uhornacute.kill,
Uhorndotbelow.kill,
Uhorngrave.kill,
Uhornhookabove.kill,
Uhorntilde.kill,
Uhungarumlaut.kill,
Umacron.kill,
Uogonek.kill,
Uring.kill,
Utilde.kill,
W.kill,
Wacute.kill,
Wcircumflex.kill,
Wdieresis.kill,
Wdotaccent.kill,
Wdotbelow.kill,
Wgrave.kill,
Yhookabove.kill,
Z.kill,
Zacute.kill,
Zcaron.kill,
Zcircumflex.kill,
Zdotaccent.kill,
Zdotbelow.kill,
Zmacronbelow.kill,
Zstroke.kill,
jcaron.case.cv03.kill,
jcaron.case.kill,
Ismall.kill,
Ismallstroke.kill,
a.kill,
aacute.kill,
abreve.kill,
abreveacute.kill,
abrevedotbelow.kill,
abrevegrave.kill,
abrevehookabove.kill,
abrevetilde.kill,
acaron.kill,
acircumflex.kill,
acircumflexacute.kill,
acircumflexdotbelow.kill,
acircumflexgrave.kill,
acircumflexhookabove.kill,
acircumflextilde.kill,
adieresis.kill,
adieresismacron.kill,
adotaccent.kill,
adotbelow.kill,
agrave.kill,
ahookabove.kill,
amacron.kill,
aogonek.kill,
aring.kill,
aringacute.kill,
atilde.kill,
ae.kill,
aeacute.kill,
aemacron.kill,
c.kill,
cacute.kill,
ccaron.kill,
ccedilla.kill,
ccedillaacute.kill,
ccircumflex.kill,
cdotaccent.kill,
chook.kill,
dcaron.kill,
e.kill,
eacute.kill,
ebreve.kill,
ecaron.kill,
ecedilla.kill,
ecedillabreve.kill,
ecircumflex.kill,
ecircumflexacute.kill,
ecircumflexdotbelow.kill,
ecircumflexgrave.kill,
ecircumflexhookabove.kill,
ecircumflextilde.kill,
edieresis.kill,
edotaccent.kill,
edotbelow.kill,
egrave.kill,
ehookabove.kill,
emacron.kill,
emacronacute.kill,
emacrongrave.kill,
eogonek.kill,
eopen.kill,
etilde.kill,
eturned.kill,
schwa.kill,
ezh.kill,
ezhcaron.kill,
f.italic.kill,
f.kill,
fdotaccent.kill,
i.cv02.kill,
i.kill,
idotless.cv02.kill,
idotless.kill,
iacute.cv02.kill,
iacute.kill,
ibreve.cv02.kill,
ibreve.kill,
icaron.cv02.kill,
icaron.kill,
icircumflex.cv02.kill,
icircumflex.kill,
idieresis.cv02.kill,
idieresis.kill,
idieresisacute.cv02.kill,
idieresisacute.kill,
idotbelow.cv02.kill,
idotbelow.dotless.cv02.kill,
idotbelow.dotless.kill,
idotbelow.kill,
igrave.cv02.kill,
igrave.kill,
ihookabove.cv02.kill,
ihookabove.kill,
imacron.cv02.kill,
imacron.kill,
iogonek.cv02.kill,
iogonek.dotless.cv02.kill,
iogonek.dotless.kill,
iogonek.kill,
iotastroke.kill,
istroke.cv02.kill,
istroke.dotless.cv02.kill,
istroke.dotless.kill,
istroke.kill,
itilde.cv02.kill,
itilde.kill,
ij.kill,
j.cv03.kill,
j.kill,
jdotless.cv03.kill,
jdotless.kill,
jacute.cv03.kill,
jacute.kill,
jcaron.cv03.kill,
jcaron.kill,
jcircumflex.cv03.kill,
jcircumflex.kill,
l.cv04.kill,
l.kill,
lacute.cv04.kill,
lacute.kill,
lbar.cv04.kill,
lbar.kill,
lcaron.cv04.kill,
lcaron.kill,
lcommaaccent.cv04.kill,
lcommaaccent.kill,
ldot.cv04.kill,
ldot.kill,
ldotbelow.cv04.kill,
ldotbelow.kill,
ldotbelowmacron.cv04.kill,
ldotbelowmacron.kill,
lmacronbelow.cv04.kill,
lmacronbelow.kill,
longsdotaccent.italic.kill,
longsdotaccent.kill,
lslash.cv04.kill,
lslash.kill,
m.kill,
macute.kill,
mdotaccent.kill,
mdotbelow.kill,
oopen.kill,
oe.kill,
r.kill,
racute.kill,
rcaron.kill,
rcommaaccent.kill,
rdotaccent.kill,
rdotbelow.kill,
rdotbelowmacron.kill,
rinvertedbreve.kill,
rmacronbelow.kill,
s.kill,
s_horncomb.kill,
sacute.kill,
scaron.kill,
scedilla.kill,
scircumflex.kill,
scommaaccent.kill,
sdotaccent.kill,
sdotbelow.kill,
sdotbelowdotaccent.kill,
sobliquestroke.kill,
longs.italic.kill,
longs.kill,
t.kill,
t_horncomb.kill,
tbar.kill,
tcaron.kill,
tcedilla.kill,
tcommaaccent.kill,
tdieresis.kill,
tdotaccent.kill,
tdotbelow.kill,
tmacronbelow.kill,
w.italic.kill,
w.kill,
wacute.italic.kill,
wacute.kill,
wcircumflex.italic.kill,
wcircumflex.kill,
wdieresis.italic.kill,
wdieresis.kill,
wdotaccent.italic.kill,
wdotaccent.kill,
wdotbelow.italic.kill,
wdotbelow.kill,
wgrave.italic.kill,
wgrave.kill,
wring.italic.kill,
wring.kill,
z.kill,
zacute.kill,
zcaron.kill,
zcircumflex.kill,
zdotaccent.kill,
zdotbelow.kill,
zmacronbelow.kill,
zstroke.kill,
ordfeminine.kill,
ordmasculine.kill,
hmod.kill,
nmod.kill,
rmod.kill,
smod.kill,
"Ge-cy.kill",
"Gje-cy.kill",
"Geupturn-cy.kill",
"De-cy.kill",
"Ie-cy.kill",
"Iegrave-cy.kill",
"Io-cy.kill",
"Zhe-cy.kill",
"Ii-cy.kill",
"Iishort-cy.kill",
"Iigrave-cy.kill",
"El-cy.kill",
"Em-cy.kill",
"En-cy.kill",
"O-cy.kill",
"Pe-cy.kill",
"Es-cy.kill",
"Ef-cy.kill",
"Sha-cy.kill",
"Shcha-cy.kill",
"Yeru-cy.kill",
"Lje-cy.kill",
"Nje-cy.kill",
"I-cy.cv02.kill",
"I-cy.kill",
"Yi-cy.cv02.kill",
"Yi-cy.kill",
"Je-cy.cv03.kill",
"Je-cy.kill",
"Yu-cy.kill",
"Palochka-cy.cv02.kill",
"Palochka-cy.kill",
"a-cy.kill",
"ve-cy.loclRUS",
"ge-cy.kill",
"ge-cy.loclRUS",
"ge-cy.loclRUS.kill",
"gje-cy.kill",
"gje-cy.loclRUS",
"geupturn-cy.kill",
"de-cy.loclRUS",
"ie-cy.kill",
"iegrave-cy.kill",
"io-cy.kill",
"zhe-cy.kill",
"ii-cy.loclRUS",
"iishort-cy.loclRUS",
"iigrave-cy.loclRUS",
"ka-cy.loclRUS",
"kje-cy.loclRUS",
"em-cy.kill",
"pe-cy.loclRUS",
"es-cy.kill",
"te-cy.kill",
"te-cy.loclRUS",
"ef-cy.kill",
"tse-cy.loclRUS",
"sha-cy.kill",
"sha-cy.loclRUS",
"shcha-cy.kill",
"shcha-cy.loclRUS",
"dzhe-cy.loclRUS",
"softsign-cy.kill",
"yeru-cy.kill",
"hardsign-cy.kill",
"lje-cy.kill",
"nje-cy.kill",
"dze-cy.kill",
"e-cy.kill",
"ereversed-cy.kill",
"i-cy.cv02.kill",
"i-cy.dotless.cv02.kill",
"i-cy.dotless.kill",
"i-cy.kill",
"yi-cy.cv02.kill",
"yi-cy.kill",
"je-cy.cv03.kill",
"je-cy.kill",
"yu-cy.kill",
"palochka-cy.cv02.kill",
"palochka-cy.kill",
Gamma.kill,
Epsilon.kill,
Zeta.kill,
Eta.kill,
Theta.kill,
Iota.cv02.kill,
Iota.kill,
Mu.kill,
Nu.kill,
Omicron.kill,
Pi.kill,
Upsilon.kill,
Phi.kill,
Psi.kill,
Epsilontonos.kill,
Etatonos.kill,
Iotatonos.cv02.kill,
Iotatonos.kill,
Omicrontonos.kill,
Omegatonos.kill,
Iotadieresis.cv02.kill,
Iotadieresis.kill,
Upsilondieresis.kill,
epsilon.kill,
iota.kill,
phi.kill,
psi.kill,
omega.kill,
iotatonos.kill,
iotadieresis.kill,
iotadieresistonos.kill,
omegatonos.kill,
epsilontonos.kill,
phiSymbol.kill,
amod.kill,
dmod.kill,
omod.kill,
tmod.kill,
zero.kill,
zero.osf.kill,
zero.zero.kill,
zero.zero.osf.kill,
zero.dnom.kill,
one.dnom.kill,
two.dnom.kill,
three.dnom.kill,
four.dnom.kill,
five.dnom.kill,
six.dnom.kill,
seven.dnom.kill,
eight.dnom.kill,
nine.dnom.kill,
zero.numr.kill,
one.numr.kill,
two.numr.kill,
three.numr.kill,
four.numr.kill,
five.numr.kill,
six.numr.kill,
seven.numr.kill,
eight.numr.kill,
nine.numr.kill,
fraction.kill,
onefraction.kill,
onehalf.kill,
zerothird.kill,
onethird.kill,
twothirds.kill,
onequarter.kill,
threequarters.kill,
onefifth.kill,
twofifths.kill,
threefifths.kill,
fourfifths.kill,
onesixth.kill,
fivesixths.kill,
oneseventh.kill,
oneeighth.kill,
threeeighths.kill,
fiveeighths.kill,
seveneighths.kill,
oneninth.kill,
fraction.alt.kill,
zerosuperior.alt001,
zeroinferior.kill,
oneinferior.kill,
twoinferior.kill,
threeinferior.kill,
fourinferior.kill,
fiveinferior.kill,
sixinferior.kill,
seveninferior.kill,
eightinferior.kill,
nineinferior.kill,
zerosuperior.kill,
onesuperior.kill,
twosuperior.kill,
threesuperior.kill,
foursuperior.kill,
fivesuperior.kill,
sixsuperior.kill,
sevensuperior.kill,
eightsuperior.kill,
ninesuperior.kill,
space.kill,
nbspace.kill,
zerowidthspace.kill,
zerowidthnonjoiner.kill,
zerowidthjoiner.kill,
zeroWidthNoBreakSpace.kill,
anoteleia.kill,
questiongreek.kill,
"leftanglebracket-math.kill",
"rightanglebracket-math.kill",
period.kill,
comma.kill,
colon.alt.kill,
colon.kill,
semicolon.kill,
ellipsis.kill,
exclam.kill,
exclamdown.kill,
question.kill,
questiondown.kill,
periodcentered.kill,
periodcentered.loclCAT.kill,
slash.kill,
backslash.kill,
endash.kill,
emdash.kill,
horizontalbar.kill,
parenleft.kill,
parenright.kill,
braceleft.kill,
braceright.kill,
bracketleft.kill,
bracketright.kill,
quotesinglbase.kill,
quoteleft.kill,
quoteright.kill,
quotereversed.kill,
guilsinglleft.kill,
guilsinglright.kill,
quotesingle.kill,
blackStar.kill,
whiteStar.kill,
aktieselskab.kill,
careof.kill,
rupee.kill,
percent.kill,
perthousand.kill,
ratio.kill,
lowlinecomb.224,
lowlinecomb.276,
lowlinecomb.288,
lowlinecomb.320,
lowlinecomb.340,
lowlinecomb.352,
lowlinecomb.384,
lowlinecomb.400,
lowlinecomb.416,
lowlinecomb.432,
lowlinecomb.456,
lowlinecomb.480,
lowlinecomb.512,
lowlinecomb.544,
lowlinecomb.576,
lowlinecomb.592,
lowlinecomb.608,
lowlinecomb.616,
lowlinecomb.640,
lowlinecomb.656,
lowlinecomb.680,
lowlinecomb.704,
lowlinecomb.736,
commaaboverightcomb.case.spacing.kill,
commaaboverightcomb.spacing.kill,
dotaccent.kill,
apostrophemod.kill,
commaturnedmod.kill,
uni2BE8.kill,
uni2BE9.kill,
uni2BEA.kill,
uni2BEB.kill,
_part.slash.O,
_part.slash.comp,
_part.slash.o,
_part.arrow,
_part.asc.hook,
_part.asc.k,
_part.asc.left,
_part.asc.right,
_part.asterisk,
_part.bowl,
_part.bowl.descender,
_part.cap.hook.left,
"_part.desc-cy",
_part.desc.hook,
_part.desc.hook.left,
_part.geartooth,
_part.k,
_part.money.bar,
_part.money.crossbar,
_part.notmath.comp,
_part.slash.O.mirrored,
_part.stroke,
_dot.raster1,
_dot.raster2,
_dot.raster3,
_pixel,
_pixel.round,
emoji.eyes,
emoji.eyes.angry,
emoji.eyes.smiling,
emoji.mouth,
emoji.mouth.grinning
)